<template>
  <div class="text-center">
    <div class="unauthorize-error-container">
      <div>
        <img src="@/assets/img-logo-fe.jpg" />
      </div>
      <div>
        <div class="unauthorize-error-title text-success">
          BẠN CHƯA ĐƯỢC CẤP QUYỀN ĐĂNG NHẬP
        </div>
        <div class="error-message">
          {{ msg }}
        </div>
      </div>
      <div class="d-inline-block footer">
        <b-button variant="success" @click="loginPage">VỀ TRANG LOGIN</b-button>
      </div>
    </div>
  </div>
</template>
<script>
import store from '../../../store';
import { StudentService } from '../../../services/service-provider';
import CommonConstant from '../../../common/constant/common-constant';
import CommonUtil from '../../../common/utils/common-util';
import UrlConstant from '../../../common/constant/common-url';

export default {
  data() {
    return {
      msg: ''
    };
  },
  mounted() {
    this.getMsg();
  },
  methods: {
    loginPage() {
      store.dispatch('user/setToken', '');
      localStorage.removeItem('userInfo');
      this.$router.push({
        path: UrlConstant.page.user.LOGIN
      });
    },
    getMsg() {
      CommonUtil.addLoading();
      StudentService.getUnauthorizeAnnouncement(
        res => {
          this.msg = res;
          CommonUtil.removeLoading();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get unauthorize announcement request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    }
  }
};
</script>

<style scoped>
.unauthorize-error-container {
  padding: 5vh 0px;
}
.unauthorize-error-container .background-text {
  position: relative;
}
.unauthorize-error-container .underground-text {
  position: absolute;
  color: #f2f2f2;
  font-size: 15rem;
  z-index: 0;
  top: 14vh;
  right: 0;
  bottom: 0;
  left: 0;
  letter-spacing: 20px;
}
.unauthorize-error-container .unauthorize-error-title {
  padding: 10vh 0px;
  font-size: 3rem;
  font-weight: 600;
}
.unauthorize-error-container .error-message {
  padding: 0 0 10vh 0;
  font-size: 2rem;
  color: darkgray;
}
</style>
