<template>
  <div class="text-center">
    <div class="forbidden-error-container">
      <div class="underground-text">403</div>
      <div class="background-text">
        <div class="d-inline-block">
          <img src="@/assets/no-entry.svg" class="img-icon" />
        </div>
        <div class="d-inline-block">
          <div class="forbidden-error-title text-danger">
            ACCESS DENIED/FORBIDDEN
          </div>
          <div>
            The page you were trying to reach is absolutly forbidden for some
            reason
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.forbidden-error-container {
  padding: 29vh 0px;
  z-index: 10;
}
.forbidden-error-container .background-text {
  position: relative;
}
.forbidden-error-container .underground-text {
  position: absolute;
  color: #f2f2f2;
  font-size: 15rem;
  z-index: 0;
  top: 14vh;
  right: 0;
  bottom: 0;
  left: 0;
  letter-spacing: 20px;
}
.forbidden-error-container .img-icon {
  width: 12rem;
  margin-right: 30px;
}
.forbidden-error-container .forbidden-error-title {
  font-size: 3rem;
  font-weight: 600;
}
</style>
