<template>
  <b-col cols="6">
    <div class="card card-shadow">
      <div class="card-body">
        <b-row class="p-1 pb-0">
          <b-col cols="12 p-1">
            <div class="d-inline-block mr-2">
              <p v-if="enrollTime != ''">
                <strong>Enroll Time:</strong> {{ enrollTime }}
              </p>
            </div>
            <div class="d-inline-block">
              <p v-if="enrollTime != ''">
                <strong>Duration:</strong> {{ durationTime }}
              </p>
            </div>
          </b-col>
          <b-col cols="2" class="p-2">
            <div>
              <strong
                >{{ groupItem.name }} ({{ groupItem.programName }})</strong
              >
            </div>
          </b-col>
          <b-col cols="10">
            <!-- Block item -->
            <b-row
              v-for="(item, index) in groupItem.students"
              :key="index"
              class="student-item-container block-item"
              :class="item.isChangeable ? 'd-none' : ''"
            >
              <template v-if="!item.isChangeable">
                <b-col cols="3">
                  <div>{{ item.code }}</div>
                </b-col>
                <b-col cols="6">
                  {{ item.fullName }}
                </b-col>
                <b-col cols="3">
                  <template v-if="item.isLeader">
                    <b-badge pill variant="danger">Leader</b-badge>
                  </template>
                  <template v-if="!item.isChangeable">
                    <font-awesome-icon
                      icon="lock"
                      class="mt-1 float-right text-danger"
                    />
                  </template>
                </b-col>
              </template>
            </b-row>
          </b-col>
        </b-row>
      </div>
    </div>
  </b-col>
</template>

<script>
import moment from 'moment';
import CommonConstant from '../../../../common/constant/common-constant';

export default {
  props: ['groupItem'],
  data() {
    return {
      enrollTime: '',
      durationTime: '',
      items: this.groupItem
    };
  },
  mounted() {
    this.checkEnrolltime();
  },
  methods: {
    checkEnrolltime() {
      if (this.groupItem.enrollTime <= 1000) {
        this.enrollTime = '';
      } else {
        this.durationTime = moment
          .utc(this.groupItem.duration)
          .format(CommonConstant.DEFAULT_TIME_COUNTING_FORMAT);
        this.enrollTime = moment(this.groupItem.enrollTime).format(
          CommonConstant.DEFAULT_TIME_FORMAT
        );
      }
    }
  }
};
</script>

<style scoped>
.remove-group-icon {
  position: absolute;
  right: 10px;
  color: red;
  width: 25px;
  height: 25px;
  z-index: 1000;
}
.remove-group-icon:hover {
  cursor: pointer;
}
.student-item-container {
  position: relative;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 6px;
  border: 2px solid black;
}
.student-item-container:hover {
  cursor: pointer;
}
.student-item-container.block-item:hover {
  cursor: not-allowed;
}
.disabled-drag-item {
  position: absolute;
  background: black;
  width: 105%;
  height: 115%;
  z-index: 100;
  top: -5px;
  left: -5px;
}
.disabled-drag-item:hover {
  cursor: not-allowed;
}
</style>
