<template>
  <div>
    <b-modal
      ref="topic-comment-modal"
      :header-bg-variant="headerBgVariant"
      :header-text-variant="headerTextVariant"
      hide-footer
      title="Comments"
    >
      <div style="width:450px">
        <label for="input-title">Rejected reason:</label>
        <b-form-textarea
          :state="error.isError ? false : null"
          v-model="formData.content"
          placeholder="Enter rejected reason"
          rows="3"
          class="mb-3"
          trim
        ></b-form-textarea>
        <div class="text-danger">{{ errorMsg }}</div>
        <b-button variant="success" class="float-right" @click="submit"
          >Submit</b-button
        >
      </div>
    </b-modal>
  </div>
</template>

<script>
import ValidateUtil from '../../../common/utils/validate-util';
export default {
  mounted() {},
  data() {
    return {
      headerBgVariant: 'info',
      headerTextVariant: 'light',
      formData: { content: '' },
      errorMsg: '',
      error: {
        isError: false
      }
    };
  },
  methods: {
    showModal() {
      this.$refs['topic-comment-modal'].show();
    },
    hideModal() {
      this.$refs['topic-comment-modal'].hide();
    },
    validate() {
      this.errorMsg = ValidateUtil.handleError(
        this.error,
        'Comment',
        this.formData.content,
        true,
        3
      );
    },
    submit() {
      this.validate();
      if (!this.error.isError) this.$emit('submit', this.formData.content);
    }
  }
};
</script>

<style scoped></style>
