<template>
  <div>
    <b-row class="m-0">
      <b-col cols="12" class="p-0">
        <div class="page-title-container">
          <div class="card card-shadow d-inline-block">
            <font-awesome-icon icon="table" class="page-title-item" />
          </div>
          <div class="d-inline-block pl-2">
            <div class="page-title-description-header">
              Advisor Student Manager
            </div>
            <div class="page-title-description-detail">
              Department Head can choose student and advisor to set weight
              choosen student.
            </div>
          </div>
        </div>
      </b-col>
    </b-row>
    <div>
      <!-- step 1 -->
      <template>
        <b-row class="m-0" v-show="curStep === 1">
          <b-col cols="12">
            <div class="card card-shadow">
              <step-ui :curStep="curStep" />
              <div class="p-3">
                <b-row>
                  <b-col cols="6">
                    <!-- Programs -->
                    <label for="input-title">Programs:</label>
                    <multiselect
                      v-model="formData.programs"
                      placeholder="Search a tag"
                      label="text"
                      track-by="value"
                      :options="optionsData.programs"
                      :multiple="false"
                      :taggable="true"
                      @input="filterPrograms($event)"
                    />
                  </b-col>
                  <b-col cols="6">
                    <!-- Search -->
                    <label for="input-search">Search:</label>
                    <b-form-input
                      id="input-search"
                      v-model="formData.search"
                      placeholder="Enter Student Name"
                      trim
                      @input="handleTypingEvent()"
                    />
                  </b-col>
                </b-row>
              </div>
              <div
                class="card-header custom"
                id="advisor-student-table-container"
              >
                <div
                  id="select-all-checkbox"
                  :class="formData.search ? 'd-none' : ''"
                >
                  <b-form-checkbox
                    v-model="isSelectAll"
                    value="all"
                    unchecked-value=""
                    @change="isCheckBoxClick = true"
                  />
                </div>
                <div class="text-right p-2">
                  <strong>Total: </strong>{{ items.length }} student(s)
                </div>
                <b-table
                  ref="selectableTable"
                  selectable
                  :select-mode="selectMode"
                  sticky-header
                  :fields="fields"
                  :items="items"
                  show-empty
                  head-variant="light"
                  @row-selected="onRowSelected"
                >
                  <template v-slot:empty="scope">
                    <div class="text-center">{{ scope.emptyText }}</div>
                  </template>
                  <!-- selected column -->
                  <template v-slot:cell(isActive)="item">
                    <div v-if="item.rowSelected" class="selected-row-item">
                      <div class="overlay-checkbox" />
                      <b-form-checkbox
                        value="true"
                        v-model="checkBoxSelect"
                        unchecked-value="false"
                      />
                    </div>
                    <div v-else class="selected-row-item">
                      <div class="overlay-checkbox" />
                      <b-form-checkbox
                        v-model="checkBoxReject"
                        unchecked-value="false"
                      />
                    </div>
                  </template>
                </b-table>
                <step-button
                  :advisors.sync="formData.advisors"
                  :curStep.sync="curStep"
                  :selected.sync="selected"
                  @update-step="updateStep($event)"
                />
              </div>
            </div>
          </b-col>
        </b-row>
      </template>
      <!-- step 2 -->
      <template>
        <b-row class="m-0" v-show="selected.length > 0 && curStep === 2">
          <b-col cols="12">
            <div class="card card-shadow">
              <step-ui :curStep="curStep" />
              <div class="d-inline-block w-100 p-3">
                <!-- Advisors -->
                <label for="input-title">Advisors:</label>
                <multiselect
                  class="mb-3"
                  v-model="formData.advisors"
                  placeholder="Search a tag"
                  label="text"
                  track-by="value"
                  :options="optionsData.advisors"
                  :multiple="true"
                  :taggable="true"
                />
                <step-button
                  :curStep.sync="curStep"
                  :selected.sync="selected"
                  :advisors.sync="formData.advisors"
                  @update-step="updateStep($event)"
                />
              </div>
            </div>
          </b-col>
        </b-row>
      </template>
      <!-- step 3 -->
      <template>
        <b-row class="m-0" v-show="curStep === 3">
          <b-col cols="12">
            <div class="card card-shadow">
              <step-ui :curStep="curStep" />
              <div class="d-inline-block w-100 p-3">
                <label for="input-title">Deadline:</label>
                <date-picker
                  type="datetime"
                  v-model="dateRange"
                  lang="en"
                  format="MM-DD-YYYY HH:mm"
                  :time-picker-options="{
                    start: '00:00',
                    step: '00:30',
                    end: '23:30'
                  }"
                  confirm
                  class="w-100"
                />
                <step-button
                  :curStep.sync="curStep"
                  :selected.sync="selected"
                  :dateRange.sync="dateRange"
                  :advisors.sync="formData.advisors"
                  @update-step="updateStep($event)"
                  @submit="submitAction($event)"
                />
              </div>
            </div>
          </b-col>
        </b-row>
      </template>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import DatePicker from 'vue2-datepicker';
import {
  AdvisorService,
  DHService,
  ProgramService
} from '../../services/service-provider';
import CommonUtil from '../../common/utils/common-util';
import CommonConstant from '../../common/constant/common-constant';
import ChooseAdvisorTable from './components/advisor-student/ChooseAdvisorTable';
import StepUI from './components/advisor-student/StepUI';
import StepButton from './components/advisor-student/StepButton';

export default {
  components: {
    ChooseAdvisorTable,
    multiselect: Multiselect,
    stepButton: StepButton,
    DatePicker,
    stepUi: StepUI
  },
  data() {
    return {
      checkBoxSelect: true,
      checkBoxReject: false,
      isCheckBoxClick: false,
      curStep: 1,
      isSelectAll: '',
      fields: [
        {
          key: 'isActive',
          label: ''
        },
        {
          key: 'code',
          label: 'Code'
        },
        {
          key: 'fullName',
          label: 'Fullname'
        }
      ],
      items: [],
      originalitems: [],
      selectMode: 'multi',
      selected: [],
      searchSelected: [],
      formData: {
        search: '',
        advisors: [],
        programs: []
      },
      optionsData: {
        advisors: [],
        programs: []
      },
      dateRange: '',
      typingTimer: ''
    };
  },
  watch: {
    isSelectAll(val) {
      if (val === 'all') {
        if (this.isCheckBoxClick) this.selectAllRows();
      } else {
        if (this.isCheckBoxClick) this.clearSelected();
      }
    },
    selected(val) {
      this.clearActiveOriginalData();
      if (!this.checkSelectedAll(val)) {
        val.forEach(selectedItem => {
          for (let i = 0; i < this.originalitems.length; i++) {
            if (selectedItem.code === this.originalitems[i].code) {
              this.originalitems[i].isActive = true;
            }
          }
        });
        this.isSelectAll = '';
      } else {
        this.isSelectAll = 'all';
      }
    }
  },
  mounted() {
    this.getAdvisors();
    this.getPrograms();
  },
  methods: {
    // Check selected all
    checkSelectedAll(selected) {
      if (selected.length === 0) return false;
      if (this.items.length === 0) return false;
      selected.forEach(selectedItem => {
        for (let i = 0; i < this.items.length; i += 1) {
          if (this.items[i].code !== selectedItem.code) {
            return false;
          }
        }
      });
      if (this.items.length === this.selected.length) {
        return true;
      }
    },
    // Clear active original data
    clearActiveOriginalData() {
      if (this.originalitems.length > 0) {
        this.originalitems.forEach(item => {
          item.isActive = false;
        });
      }
    },
    // Handle typing event
    handleTypingEvent() {
      clearTimeout(this.typingTimer);
      this.typingTimer = setTimeout(() => {
        this.searchStudent(this.formData.search);
      }, 1000);
    },
    // Search student by Fullname
    searchStudent(val) {
      this.items = [];
      if (val) {
        for (let i = 0; i < this.originalitems.length; i++) {
          const originalItem = this.originalitems[i];
          if (originalItem.fullName.search(val) >= 0) {
            this.items.push(originalItem);
          }
        }
      } else {
        this.items = this.originalitems;
      }
      this.loadOldSelectedData();
    },
    // Load old selected data
    loadOldSelectedData() {
      if (this.items.length > 0) {
        this.items.forEach((item, index) => {
          const filterResult = this.selected.filter(
            selectedItem => selectedItem.code === item.code
          );
          if (filterResult.length > 0) {
            setTimeout(() => {
              this.selectRow(index);
            });
          }
        });
      }
    },
    // Get unselected item
    getUnselectedItem() {
      const result = [];
      if (this.items.length === 0) return [];
      this.items.forEach(item => {
        if (!item.isActive) {
          result.push(item);
        }
      });
      return result;
    },
    filterPrograms(data) {
      this.getStudent(data.value);
    },
    // Reload page when submit success
    reloadPage() {
      this.curStep = 1;
      this.isSelectAll = '';
      this.dateRange = '';
      this.searchSelected = [];
      this.selected = [];
      this.advisorSelected = [];
      this.items = [];
      this.originalitems = [];
      this.getStudent(this.formData.programs.value);
    },
    // Submit action
    submitAction(val) {
      CommonUtil.addLoading();
      DHService.postStudentAdvisor(
        val,
        result => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Send students for advisors success!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          this.reloadPage();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Send students for advisors error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Update new current step
    updateStep(val) {
      this.curStep = val;
    },
    // On row selected
    onRowSelected(items) {
      this.clearActiveOriginalData();
      this.isCheckBoxClick = false;
      // Check filter data is empty
      if (!this.formData.search) {
        this.selected = items.map(o => {
          o.isActive = true;
          return o;
        });
      } else {
        this.searchSelected = items.map(o => {
          o.isActive = true;
          return o;
        });
        const removeIndex = [];
        const unselectedItem = this.getUnselectedItem();
        const tmp = CommonUtil.mergeTwoArrays(
          this.selected,
          this.searchSelected,
          'code'
        );
        if (unselectedItem.length > 0) {
          unselectedItem.forEach(unselected => {
            for (let i = 0; i < tmp.length; i++) {
              if (tmp[i].code === unselected.code) {
                removeIndex.unshift(i);
              }
            }
          });
        }
        CommonUtil.removeItemsArray(tmp, removeIndex);
        this.selected = tmp;
      }
    },
    // Select row
    selectRow(index) {
      this.$refs.selectableTable.selectRow(index);
    },
    // Select All rows
    selectAllRows() {
      this.$refs.selectableTable.selectAllRows();
    },
    clearSelected() {
      this.clearActiveOriginalData();
      this.$refs.selectableTable.clearSelected();
    },
    // Get all program
    getPrograms() {
      CommonUtil.addLoading();
      ProgramService.getProgram(
        result => {
          if (!result || result.length === 0) return;
          const tmp = CommonUtil.convertToSelectBoxData(result, 'name');
          this.optionsData.programs = tmp;
          // Selected first index
          this.formData.programs = tmp[0];
          this.getStudent(tmp[0].value);
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get programs request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Get all student
    getStudent(programId) {
      CommonUtil.addLoading();
      DHService.getStudentOfDepartmentHead(
        programId,
        result => {
          CommonUtil.removeLoading();
          this.items = [];
          this.originalitems = [];
          if (result && result.length > 0) {
            result.forEach((item, index) => {
              this.originalitems.push({
                index: index,
                code: item.code,
                fullName: item.fullName,
                programId: item.programId
              });
              this.items = JSON.parse(JSON.stringify(this.originalitems));
            });
          }
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get student request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Get advisors
    getAdvisors() {
      CommonUtil.addLoading();
      AdvisorService.getAdvisor(result => {
        CommonUtil.removeLoading();
        if (result && result.length > 0) {
          let tmp = CommonUtil.convertToSelectBoxData(result, 'id');
          this.optionsData.advisors = tmp;
        }
      });
    }
  }
};
</script>

<style>
#advisor-student-table-container .b-table-sticky-header {
  overflow-y: auto;
  max-height: 37vh;
}
#advisor-student-table-container
  .b-table-sticky-header
  > .table.b-table
  > thead
  > tr
  > th {
  position: sticky;
  top: 0;
  z-index: 2;
}
#advisor-student-table-container .table-primary,
#advisor-student-table-container .table-primary td {
  background: white;
}
</style>
<style scoped>
.selected-row-item {
  position: relative;
  width: 50px;
  line-height: 1.8;
}
.selected-row-item .selected-row-item-icon {
  color: green;
}
#select-all-checkbox .custom-control.custom-checkbox {
  position: absolute;
  z-index: 3;
  top: 263px;
  left: 32px;
}
</style>
<style scoped>
.tab-custom-container {
  position: relative;
  top: 2px;
  z-index: 1;
}
.tab-custom-container .tab-custom-item {
  background: #f6f6f6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.tab-custom-container .tab-custom-item:hover {
  cursor: pointer;
}
.tab-custom-container .tab-custom-item.active {
  border-bottom: 2px solid #3f6ad8;
  background: white;
  cursor: default;
}
.overlay-checkbox {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 5;
}
</style>
