<template>
  <div>
    <b-row class="m-0">
      <b-col cols="12" class="p-0">
        <div class="page-title-container">
          <div class="card card-shadow d-inline-block">
            <font-awesome-icon icon="table" class="page-title-item" />
          </div>
          <div class="d-inline-block pl-2">
            <div class="page-title-description-header">
              Storage Topic Manager
            </div>
            <div class="page-title-description-detail">
              Department Head can choose validate topic and send to tranning
              staff.
            </div>
          </div>
        </div>
      </b-col>
    </b-row>
    <b-row class="m-0 mt-3">
      <b-col cols="12">
        <div class="card card-shadow">
          <div class="card-body custom" id="send-topic-table-container">
            <b-row>
              <b-col cols="6">
                <!-- Search -->
                <label for="input-search">Search:</label>
                <b-form-input
                  id="input-search"
                  v-model="formData.search"
                  placeholder="Enter Topic Name"
                  class="mb-3"
                  trim
                  @input="handleTypingEvent()"
                />
              </b-col>
            </b-row>
            <div
              id="select-all-checkbox"
              :class="formData.search ? 'd-none' : ''"
            >
              <b-form-checkbox
                v-model="isSelectAll"
                name="checkbox-1"
                value="all"
                unchecked-value=""
                @change="isCheckBoxClick = true"
              />
            </div>
            <b-table
              ref="selectableTable"
              selectable
              :select-mode="selectMode"
              sticky-header
              :fields="fields"
              :items="items"
              show-empty
              head-variant="light"
              @row-selected="onRowSelected"
            >
              <template v-slot:empty="scope">
                <div class="text-center">{{ scope.emptyText }}</div>
              </template>
              <!-- selected column -->
              <template v-slot:cell(isActive)="item">
                <div v-if="item.rowSelected" class="selected-row-item">
                  <div class="overlay-checkbox" />
                  <b-form-checkbox
                    value="true"
                    v-model="checkBoxSelect"
                    unchecked-value="false"
                  />
                </div>
                <div v-else class="selected-row-item">
                  <div class="overlay-checkbox" />
                  <b-form-checkbox
                    v-model="checkBoxReject"
                    unchecked-value="false"
                  />
                </div>
              </template>
              <!-- status column -->
              <template v-slot:cell(status)="row">
                <b-badge
                  pill
                  v-if="row.item.status === 5"
                  variant="danger"
                  class="status-item"
                >
                  Rejected</b-badge
                >
                <b-badge
                  pill
                  v-if="row.item.status === 6"
                  variant="success"
                  class="status-item"
                >
                  Approved</b-badge
                >
              </template>
              <!-- action column -->
              <template v-slot:cell(action)="row">
                <b-button
                  variant="outline-info"
                  size="sm"
                  class="table-icon"
                  title="View topic detail"
                  @click="redirectToViewDetailPage(row.item.id)"
                >
                  <font-awesome-icon icon="external-link-alt" />
                </b-button>
                <b-button
                  variant="warning"
                  size="sm"
                  class="table-icon"
                  title="Send back to advisor"
                  @click="sendBackToAdvisor(row.item.id)"
                >
                  <font-awesome-icon icon="paper-plane" />
                </b-button>
                <b-button
                  variant="primary"
                  size="sm"
                  class="table-icon"
                  title="View committee's comments"
                  @click="redirectToQuestionTablePage(row.item.id)"
                >
                  <font-awesome-icon icon="file-alt" />
                </b-button>
                <b-button
                  variant="info"
                  size="sm"
                  class="table-icon"
                  title="Send back to committee"
                  @click="sendBackToCommittee(row.item.id)"
                >
                  <font-awesome-icon icon="tasks" />
                </b-button>
              </template>
            </b-table>
            <b-modal id="check-disable" centered @ok="disableTopic(rowItem)">
              <h4>
                You want to disable Topic? (Disable topic will not delete Topic
                in data warehouse !!!)
              </h4>
            </b-modal>
            <template v-if="selected.length > 0">
              <b-button
                variant="success"
                class="float-right mt-3"
                @click="sendTopicToStorage"
                >Save To Storage
                <font-awesome-icon icon="angle-right" class="ml-1" />
              </b-button>
            </template>
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import moment from 'moment';
import UrlConstant from '../../common/constant/common-url';
import { DHService } from '../../services/service-provider';
import CommonUtil from '../../common/utils/common-util';
import CommonConstant from '../../common/constant/common-constant';

export default {
  data() {
    return {
      checkBoxSelect: true,
      checkBoxReject: false,
      isSelectAll: '',
      isCheckBoxClick: false,
      fields: [
        {
          key: 'isActive',
          label: ''
        },
        {
          key: 'nameEng',
          label: 'English Name'
        },
        {
          key: 'created_date',
          label: 'Created Date'
        },
        {
          key: 'advisor',
          label: 'Advisor'
        },
        {
          key: 'status',
          label: 'Recommend'
        },
        {
          key: 'action',
          label: 'Action'
        }
      ],
      items: [],
      originalitems: [],
      selectMode: 'multi',
      selected: [],
      searchSelected: [],
      formData: {
        search: ''
      },
      rowItem: '',
      typingTimer: ''
    };
  },
  watch: {
    isSelectAll(val) {
      if (val === 'all') {
        if (this.isCheckBoxClick) this.selectAllRows();
      } else {
        if (this.isCheckBoxClick) this.clearSelected();
      }
    },
    selected(val) {
      this.clearActiveOriginalData();
      if (!this.checkSelectedAll(val)) {
        val.forEach(selectedItem => {
          for (let i = 0; i < this.originalitems.length; i++) {
            if (selectedItem.id === this.originalitems[i].id) {
              this.originalitems[i].isActive = true;
            }
          }
        });
        this.isSelectAll = '';
      } else {
        this.isSelectAll = 'all';
      }
    }
  },
  mounted() {
    this.getValidationApprovedTopic();
  },
  methods: {
    // Check selected all
    checkSelectedAll(selected) {
      if (selected.length === 0) return false;
      if (this.items.length === 0) return false;
      selected.forEach(selectedItem => {
        for (let i = 0; i < this.items.length; i += 1) {
          if (this.items[i].code !== selectedItem.code) {
            return false;
          }
        }
      });
      if (this.items.length === this.selected.length) {
        return true;
      }
    },
    // get id topic
    getId(id) {
      this.rowItem = id;
    },
    // disable topic
    disableTopic(id) {
      CommonUtil.addLoading();
      DHService.putDisableTopic(
        id,
        result => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Disable topic successfull!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          this.reloadPage();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Disable topic request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Reload page when submit success
    reloadPage() {
      this.isSelectAll = '';
      this.selected = [];
      this.items = [];
      this.searchSelected = [];
      this.originalitems = [];
      this.getValidationApprovedTopic();
    },
    // On row selected
    onRowSelected(items) {
      this.clearActiveOriginalData();
      this.isCheckBoxClick = false;
      // Check filter data is empty
      if (!this.formData.search) {
        this.selected = items.map(o => {
          o.isActive = true;
          return o;
        });
      } else {
        this.searchSelected = items.map(o => {
          o.isActive = true;
          return o;
        });
        const removeIndex = [];
        const unselectedItem = this.getUnselectedItem();
        const tmp = CommonUtil.mergeTwoArrays(
          this.selected,
          this.searchSelected,
          'id'
        );
        if (unselectedItem.length > 0) {
          unselectedItem.forEach(unselected => {
            for (let i = 0; i < tmp.length; i++) {
              if (tmp[i].id === unselected.id) {
                removeIndex.unshift(i);
              }
            }
          });
        }
        CommonUtil.removeItemsArray(tmp, removeIndex);
        this.selected = tmp;
      }
    },
    // Clear active original data
    clearActiveOriginalData() {
      if (this.originalitems.length > 0) {
        this.originalitems.forEach(item => {
          item.isActive = false;
        });
      }
    },
    // Handle typing event
    handleTypingEvent() {
      clearTimeout(this.typingTimer);
      this.typingTimer = setTimeout(() => {
        this.searchTopic(this.formData.search);
      }, 1000);
    },
    // Search student by Fullname
    searchTopic(val) {
      this.items = [];
      if (val) {
        for (let i = 0; i < this.originalitems.length; i++) {
          const originalItem = this.originalitems[i];
          if (originalItem.nameEng.search(val) >= 0) {
            this.items.push(originalItem);
          }
        }
      } else {
        this.items = this.originalitems;
      }
      this.loadOldSelectedData();
    },
    // Load old selected data
    loadOldSelectedData() {
      if (this.items.length > 0) {
        this.items.forEach((item, index) => {
          const filterResult = this.selected.filter(
            selectedItem => selectedItem.id === item.id
          );
          if (filterResult.length > 0) {
            setTimeout(() => {
              this.selectRow(index);
            });
          }
        });
      }
    },
    // Select row
    selectRow(index) {
      this.$refs.selectableTable.selectRow(index);
    },
    // Select All rows
    selectAllRows() {
      this.$refs.selectableTable.selectAllRows();
    },
    clearSelected() {
      this.clearActiveOriginalData();
      this.$refs.selectableTable.clearSelected();
    },
    // Redirect to question table page
    redirectToQuestionTablePage(id) {
      this.$router.push({
        path: UrlConstant.page.departmentHead.DH_QUESTION_TABLE.replace(
          ':id',
          id
        )
      });
    },
    // Redirect to View detail topic page
    redirectToViewDetailPage(id) {
      this.$router.push({
        path: UrlConstant.page.advisor.TOPIC_DETAIL.replace(':id', id)
      });
    },
    // Send back to committee
    sendBackToCommittee(id) {
      CommonUtil.addLoading();
      DHService.putTopicToCommittee(
        id,
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Send topic to committee success!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          this.reloadPage();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Send topic to committee request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Send back to advisor
    sendBackToAdvisor(id) {
      CommonUtil.addLoading();
      DHService.putRewriteTopic(
        id,
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Send topic to advisor success!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          this.reloadPage();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Update topic reuqest error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Get validation approved topic
    getValidationApprovedTopic() {
      CommonUtil.addLoading();
      DHService.getValidationApprovedTopic(
        result => {
          CommonUtil.removeLoading();
          this.items = [];
          this.originalitems = [];
          if (result && result.length > 0) {
            result.forEach(item => {
              this.originalitems.push({
                id: item.id,
                isActive: false,
                status: item.status,
                nameEng: item.name_En,
                created_date: moment(item.createdDate).format(
                  CommonConstant.DEFAULT_TIME_FORMAT
                ),
                advisor: item.advisor.fullName
              });
            });
            this.items = JSON.parse(JSON.stringify(this.originalitems));
          }
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get validation approved topic error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Send topic to trainning staff
    sendTopicToStorage() {
      CommonUtil.addLoading();
      const data = {
        topics: this.selected.map(item => {
          return item.id;
        })
      };
      DHService.sendTopicToStorage(
        data,
        result => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Send topic to storage success!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          this.redirectToStorageTopicPage();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Send topic to storage error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Redirect to evaluate topic page
    redirectToStorageTopicPage() {
      this.$router.push({
        path: UrlConstant.page.departmentHead.DH_STORE_TOPIC
      });
    }
  }
};
</script>

<style>
#send-topic-table-container .b-table-sticky-header {
  overflow-y: auto;
  max-height: 45vh;
}
#send-topic-table-container
  .b-table-sticky-header
  > .table.b-table
  > thead
  > tr
  > th {
  position: sticky;
  top: 0;
  z-index: 2;
}
#send-topic-table-container .table-primary,
#send-topic-table-container .table-primary td {
  background: white;
}
</style>
<style scoped>
.card-body .table-icon {
  width: 32px;
  height: 32px;
}
.selected-row-item {
  position: relative;
  width: 50px;
  line-height: 1.8;
}
.selected-row-item .selected-row-item-icon {
  color: green;
}
#select-all-checkbox > .custom-control.custom-checkbox {
  position: absolute;
  z-index: 3;
  top: 115px;
  left: 32px;
}
</style>

<style scoped>
.status-item {
  width: 90px;
}
.overlay-checkbox {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 5;
}
</style>
