<template>
  <div>
    <b-row class="m-0">
      <b-col cols="12" class="p-0">
        <div class="page-title-container">
          <div class="card card-shadow d-inline-block">
            <font-awesome-icon icon="table" class="page-title-item" />
          </div>
          <div class="d-inline-block pl-2">
            <div class="page-title-description-header">
              Student Classifier
            </div>
            <div class="page-title-description-detail">
              Department Head can classified student.
            </div>
          </div>
          <b-button
            variant="primary"
            size="sm"
            class="float-right"
            @click="sendToTrainningStaffAction"
          >
            <font-awesome-icon icon="paper-plane" class="mr-2" />Send To
            Staff</b-button
          >
          <b-button
            variant="success"
            size="sm"
            class="float-right mr-3"
            @click="addGroup"
          >
            <font-awesome-icon icon="plus" class="mr-2" />New</b-button
          >
        </div>
      </b-col>
    </b-row>
    <b-row class="m-0">
      <b-col cols="12">
        <div class="card card-shadow p-3">
          <!-- Programs -->
          <label for="input-title">Programs:</label>
          <multiselect
            class="mb-3"
            v-model="formData.programs"
            placeholder="Search a tag"
            label="text"
            track-by="value"
            :options="optionsData.programs"
            :multiple="false"
            :taggable="true"
            @input="filterPrograms($event)"
          />
          <!-- Groups -->
          <label for="input-title">Groups:</label>
          <multiselect
            class="mb-3"
            v-model="formData.groups"
            placeholder="Search a tag"
            label="text"
            track-by="value"
            :hide-selected="true"
            :options="optionsData.groups"
            :multiple="true"
            :taggable="true"
            @input="filterGroupStudent($event)"
          />
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <div class="p-3">
          <b-row>
            <student-group
              :group-item.sync="groupItem"
              v-for="(groupItem, index) in filterGroupData"
              :key="index"
              class="mb-3"
              @remove="removeGroup($event)"
              @checkLeader="checkLeaderComplete($event)"
            />
          </b-row>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import CommonUtil from '../../common/utils/common-util';
import CommonConstant from '../../common/constant/common-constant';
import { DHService, ProgramService } from '../../services/service-provider';
import StudentGroup from './components/classified-student/StudentGroup';

export default {
  components: {
    StudentGroup,
    Multiselect
  },
  watch: {
    filterGroupData: {
      handler(val) {
        val.forEach((item, index) => {
          if (item.students.length === 0 && !item.isNew) {
            val.splice(index, 1);
            this.generateName(val);
            this.reloadGroupSelectBox();
          }
        });
        if (
          !this.isFilterProgramAction &&
          !this.isFilterStudentAction &&
          !this.isSaveAction &&
          !this.isNewAction &&
          !this.isCheckLeaderAction
        ) {
          this.saveAction();
        } else {
          this.isFilterProgramAction = false;
          this.isFilterStudentAction = false;
        }
      },
      deep: true
    }
  },
  data() {
    return {
      isCheckLeaderAction: false,
      isSaveAction: false,
      isNewAction: false,
      isSendToTSAction: false,
      isFilterProgramAction: true,
      isFilterStudentAction: true,
      filterGroupData: [],
      studentGroupData: [],
      formData: {
        groups: [],
        programs: []
      },
      optionsData: {
        groups: [],
        programs: []
      }
    };
  },
  mounted() {
    this.getPrograms();
  },
  methods: {
    checkLeaderComplete(check) {
      this.isCheckLeaderAction = !check;
    },
    // Send group student to tranning staff
    sendToTrainningStaffAction() {
      this.isSendToTSAction = true;
      CommonUtil.addLoading();
      const submitData = [];
      if (this.studentGroupData.length > 0) {
        this.studentGroupData.forEach(item => {
          submitData.push(item.id);
        });
        DHService.postStudentGroupingToTS(
          submitData,
          () => {
            CommonUtil.removeLoading();
            CommonUtil.showNotification(
              'Success',
              'Save success!',
              CommonConstant.NOTI_TYPE.SUCCESS
            );
            this.getGroupingStudentByProgramId(this.formData.programs.value);
          },
          () => {
            CommonUtil.removeLoading();
            // CommonUtil.showNotification(
            //   'Error',
            //   'Grouping student request error!',
            //   CommonConstant.NOTI_TYPE.ERROR
            // );
            setTimeout(() => {
              this.isSendToTSAction = false;
            });
          }
        );
      }
    },
    // Save action
    saveAction() {
      let isHaveEmptyStudent = false;
      // Check empty group before submit
      for (let i = 0; i < this.filterGroupData.length; i++) {
        const data = this.filterGroupData[i];
        if (data.students.length === 0) {
          isHaveEmptyStudent = true;
          CommonUtil.showNotification(
            'Error',
            `${data.name} is empty`,
            CommonConstant.NOTI_TYPE.ERROR
          );
          break;
        }
      }
      // Check empty student
      if (!isHaveEmptyStudent) {
        const submitData = JSON.parse(JSON.stringify(this.filterGroupData));
        submitData.forEach(item => {
          delete item.isNew;
          delete item.isChangeable;
          // Send student with id = 0 that means this is new student
          if (typeof item.id === 'string') {
            item.id = 0;
          }
        });
        CommonUtil.addLoading();
        DHService.postStudentGrouping(
          submitData,
          () => {
            this.isSaveAction = true;
            CommonUtil.removeLoading();
            CommonUtil.showNotification(
              'Success',
              'Save success!',
              CommonConstant.NOTI_TYPE.SUCCESS
            );
            this.getGroupingStudentByProgramId(this.formData.programs.value);
          },
          () => {
            CommonUtil.removeLoading();
            CommonUtil.showNotification(
              'Error',
              'Get grouping student request error!',
              CommonConstant.NOTI_TYPE.ERROR
            );
          }
        );
      }
    },
    // Add new group
    addGroup() {
      this.isNewAction = true;
      this.selecteAllItem();
      const currentLength = this.filterGroupData.length;
      const lastItem = this.filterGroupData[currentLength - 1];
      // Check is empty group
      if (lastItem.students.length === 0) return;
      this.filterGroupData.push({
        id: `n-${currentLength + 1}`,
        name: `Group ${currentLength + 1}`,
        students: [],
        isNew: true,
        isChangeable: true
      });
      this.reloadGroupSelectBox();
      setTimeout(() => {
        this.isNewAction = false;
      });
    },
    // Remove group
    removeGroup(id) {
      this.filterGroupData = this.filterGroupData.filter(
        group => group.id !== id
      );
      this.reloadGroupSelectBox();
    },
    // Get all program
    getPrograms() {
      CommonUtil.addLoading();
      ProgramService.getProgram(
        result => {
          if (!result || result.length === 0) return;
          const tmp = CommonUtil.convertToSelectBoxData(result, 'name');
          this.optionsData.programs = tmp;
          // Selected first index
          this.formData.programs = tmp[0];
          this.getGroupingStudentByProgramId(tmp[0].value);
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get programs request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Filter program
    filterPrograms(selected) {
      this.isFilterProgramAction = true;
      this.getGroupingStudentByProgramId(selected.value);
    },
    // Fillter student base on item on selected box
    filterGroupStudent(selected) {
      this.isFilterStudentAction = true;
      if (!selected || selected.length === 0) {
        this.filterGroupData = [];
        return;
      }
      this.filterGroupData = [];
      // Check
      if (this.studentGroupData.length > 0) {
        this.studentGroupData.forEach(group => {
          this.filterGroupLeader(group);
          selected.forEach(selectedItem => {
            if (selectedItem.value === group.id) {
              if (group.isNew) {
                group.isNew = true;
              } else {
                group.isNew = false;
              }
              this.filterGroupData.push(group);
            }
          });
        });
      }
    },
    // Filter leader in this group and sort to the first
    filterGroupLeader(group) {
      group.students.sort((a, b) => {
        if (a.isLeader) {
          return -1;
        } else {
          return 1;
        }
      });
    },
    // Generate name
    generateName(list) {
      if (list.length === 0) return;
      list.forEach((item, index) => {
        item.name = `Group ${index + 1}`;
      });
    },
    // Select all item from select box
    selecteAllItem() {
      this.formData.groups = this.optionsData.groups;
      this.filterGroupStudent(this.formData.groups);
    },
    // Convert data for selected box
    convertOptionData() {
      let tmp = CommonUtil.convertToSelectBoxData(
        this.studentGroupData,
        'name'
      );
      this.optionsData.groups = tmp;
    },
    // Reload select box when data change
    reloadGroupSelectBox() {
      this.studentGroupData = this.filterGroupData;
      this.convertOptionData();
      this.selecteAllItem();
    },
    // Get grouping student
    getGroupingStudentByProgramId(id) {
      CommonUtil.addLoading();
      DHService.getStudentGroupingByProgramId(
        id,
        result => {
          CommonUtil.removeLoading();
          this.studentGroupData = result;
          this.generateName(this.studentGroupData);
          this.convertOptionData();
          this.selecteAllItem();
          setTimeout(() => {
            this.isSaveAction = false;
            this.isSendToTSAction = false;
          });
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get student grouping by program request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
          setTimeout(() => {
            this.isSaveAction = false;
            this.isSendToTSAction = false;
          });
        }
      );
    }
  }
};
</script>

<style scoped></style>
