<template>
  <div>
    <b-row class="m-0">
      <b-col cols="12" class="p-0">
        <div class="page-title-container">
          <div class="card card-shadow d-inline-block">
            <font-awesome-icon icon="table" class="page-title-item" />
          </div>
          <div class="d-inline-block pl-2">
            <div class="page-title-description-header">
              Student Classifier
            </div>
            <div class="page-title-description-detail">
              Department Head can classified student.
            </div>
          </div>
          <b-button
            variant="primary"
            size="sm"
            class="float-right"
            v-if="!isDataChange && formData.groups.length > 0"
            @click="validateBeforeSend"
          >
            <font-awesome-icon icon="paper-plane" class="mr-2" />Send To
            Staff</b-button
          >
        </div>
      </b-col>
      <b-button
        variant="success"
        size="sm"
        class="float-right mr-3 add-btn"
        @click="addGroup"
      >
        <font-awesome-icon icon="plus" class="mr-2" />New</b-button
      >
      <b-button
        variant="primary"
        size="sm"
        class="float-right mr-3 save-btn"
        v-if="isDataChange"
        @click="saveAction"
      >
        <font-awesome-icon icon="save" class="mr-2" />Save</b-button
      >
    </b-row>
    <b-row class="m-0">
      <b-col cols="12">
        <div class="card card-shadow p-3">
          <!-- Programs -->
          <label for="input-title">Programs:</label>
          <multiselect
            class="mb-3"
            v-model="formData.programs"
            placeholder="Search a tag"
            label="text"
            track-by="value"
            :options="optionsData.programs"
            :multiple="false"
            :taggable="true"
            :hide-selected="true"
            @input="filterPrograms($event)"
          />
          <!-- Groups -->
          <label for="input-title">Groups:</label>
          <multiselect
            class="mb-3"
            v-model="formData.groups"
            placeholder="Search a tag"
            label="text"
            track-by="value"
            :hide-selected="true"
            :options="optionsData.groups"
            :multiple="true"
            :taggable="true"
            @input="filterGroupStudent($event)"
          />
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <div class="p-3">
          <b-row>
            <student-group
              v-for="(groupItem, index) in filterGroupData"
              :group-item.sync="groupItem"
              :key="index"
              class="mb-3"
              @remove="removeGroup($event)"
              @updated="syncData($event)"
            />
          </b-row>
        </div>
      </b-col>
    </b-row>
    <warning-modal ref="warning-modal" @ok="okAction" />
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import CommonUtil from '../../common/utils/common-util';
import CommonConstant from '../../common/constant/common-constant';
import { DHService, ProgramService } from '../../services/service-provider';
import StudentGroup from './components/classified-student-v2/StudentGroup';
import WarningModal from '../../common/components/WarningModal';

export default {
  components: {
    Multiselect,
    StudentGroup,
    WarningModal
  },
  data() {
    return {
      isDataChange: false, // When data is update => true
      isFilterAction: false,
      studentGroupData: [],
      filterGroupData: [],
      formData: {
        groups: [],
        programs: []
      },
      optionsData: {
        groups: [],
        programs: []
      }
    };
  },
  watch: {
    filterGroupData: {
      handler(val) {
        val.forEach((item, index) => {
          if (item.students.length === 0 && !item.isNew) {
            val.splice(index, 1);
            this.studentGroupData.forEach((originItem, originIndex) => {
              if (originItem.id === item.id) {
                this.studentGroupData.splice(originIndex, 1);
              }
            });
            this.generateName(val);
            this.generateName(this.studentGroupData);
            this.reloadGroupSelectBox();
          }
          if (item.students.length > 0 && item.isNew) {
            item.isNew = false;
          }
        });
      },
      deep: true
    }
  },
  mounted() {
    this.getPrograms();
  },
  methods: {
    initWarningModal() {
      const modalData = {
        title: 'Warning!',
        msg: 'Please view all student groups before submit!'
      };
      this.$refs['warning-modal'].init(modalData);
    },
    okAction() {
      this.formData.groups.push({
        value: 'all',
        text: 'All'
      });
      this.isDataChange = false;
      this.$refs['warning-modal'].hideModal();
      this.filterGroupStudent(this.formData.groups);
    },
    // Validate before send to tranning staff
    validateBeforeSend() {
      if (this.formData.groups[0].value !== 'all') {
        this.initWarningModal();
      } else {
        this.sendToTrainningStaffAction();
      }
    },
    // Send group student to tranning staff
    sendToTrainningStaffAction() {
      CommonUtil.addLoading();
      const submitData = [];
      if (this.studentGroupData.length > 0) {
        this.studentGroupData.forEach(item => {
          submitData.push(item.id);
        });
        DHService.postStudentGroupingToTS(
          submitData,
          () => {
            CommonUtil.removeLoading();
            CommonUtil.showNotification(
              'Success',
              'Sned to trainning staff success!',
              CommonConstant.NOTI_TYPE.SUCCESS
            );
            // Reload
            this.getGroupingStudentByProgramId(this.formData.programs.value);
          },
          () => {
            CommonUtil.removeLoading();
            // Reload
            this.getGroupingStudentByProgramId(this.formData.programs.value);
          }
        );
      }
    },
    // Add new group
    addGroup() {
      this.isNewAction = true;
      const currentLength = this.studentGroupData.length;
      const lastItem = this.studentGroupData[currentLength - 1];
      // Check is empty group
      if (lastItem.students.length === 0) return;
      this.studentGroupData.push({
        id: `n-${currentLength + 1}`,
        name: `Group ${currentLength + 1}`,
        students: [],
        isNew: true,
        isChangeable: true
      });
      this.filterGroupData.push({
        id: `n-${currentLength + 1}`,
        name: `Group ${currentLength + 1}`,
        students: [],
        isNew: true,
        isChangeable: true
      });
      this.convertOptionData();
      this.isNewAction = false;
    },
    // Save action
    saveAction() {
      let isHaveEmptyStudent = false;
      // Check empty group before submit
      for (let i = 0; i < this.studentGroupData.length; i++) {
        const data = this.studentGroupData[i];
        if (data.students.length === 0) {
          isHaveEmptyStudent = true;
          CommonUtil.showNotification(
            'Error',
            `${data.name} is empty`,
            CommonConstant.NOTI_TYPE.ERROR
          );
          break;
        }
      }
      // Check empty student
      if (!isHaveEmptyStudent) {
        const submitData = JSON.parse(JSON.stringify(this.studentGroupData));
        submitData.forEach(item => {
          delete item.isNew;
          delete item.isChangeable;
          // Send student with id = 0 that means this is new student
          if (typeof item.id === 'string') {
            item.id = 0;
          }
        });
        CommonUtil.addLoading();
        DHService.postStudentGrouping(
          submitData,
          () => {
            this.isDataChange = false;
            CommonUtil.removeLoading();
            CommonUtil.showNotification(
              'Success',
              'Save success!',
              CommonConstant.NOTI_TYPE.SUCCESS
            );
            // Reload
            this.getGroupingStudentByProgramId(this.formData.programs.value);
          },
          () => {
            CommonUtil.removeLoading();
            CommonUtil.showNotification(
              'Error',
              'Get grouping student request error!',
              CommonConstant.NOTI_TYPE.ERROR
            );
          }
        );
      }
    },
    syncData(data) {
      // Check when data is empty
      if (!data && data.students.length === 0) return;
      this.studentGroupData.map(item => {
        if (item.id.length !== 0 && item.id === data.id) {
          item.isNew = data.isNew;
          item.students = data.students;
        }
      });
      if (!this.isFilterAction) {
        this.isDataChange = true;
      } else {
        setTimeout(() => {
          this.isFilterAction = false;
        });
      }
    },
    // Reload select box when data change
    reloadGroupSelectBox() {
      setTimeout(() => {
        this.convertOptionData();
        this.selecteAllItem();
      });
    },
    // Remove group
    removeGroup(id) {
      this.studentGroupData = this.studentGroupData.filter(
        group => group.id !== id
      );
      this.filterGroupData = this.filterGroupData.filter(
        group => group.id !== id
      );
      this.reloadGroupSelectBox();
    },
    // Filter leader in this group and sort to the first
    filterGroupLeader(group) {
      group.students.sort((a, b) => {
        if (a.isLeader) {
          return -1;
        } else {
          return 1;
        }
      });
    },
    // Fillter student base on item on selected box
    filterGroupStudent(selected) {
      this.isFilterAction = true;
      // this.isDataChange = false;
      let isSelectedAll = false;
      if (!selected || selected.length === 0) {
        this.filterGroupData = [];
        return;
      }
      this.filterGroupData = [];
      for (let i = 0; i < this.formData.groups.length; i++) {
        // Check "all" item
        if (
          this.formData.groups[this.formData.groups.length - 1].value ===
            'all' ||
          this.formData.groups.length === this.optionsData.groups.length - 1
        ) {
          isSelectedAll = true;
          this.formData.groups = [];
          this.formData.groups.push({
            value: 'all',
            text: 'All'
          });
        } else if (
          this.formData.groups.length > 0 &&
          this.formData.groups[0].value === 'all'
        ) {
          this.formData.groups.splice(0, 1);
        }
      }
      if (isSelectedAll) selected = this.optionsData.groups;
      // Check
      if (this.studentGroupData.length > 0) {
        this.studentGroupData.forEach(group => {
          this.filterGroupLeader(group);
          selected.forEach(selectedItem => {
            if (selectedItem.value === group.id) {
              if (group.isNew) {
                group.isNew = true;
              } else {
                group.isNew = false;
              }
              this.filterGroupData.push(group);
            }
          });
        });
      }
      setTimeout(() => {
        this.isFilterAction = false;
      });
    },
    // Select all item from select box
    selecteAllItem() {
      let isHaveAllItem = false;
      this.formData.groups = this.optionsData.groups;
      for (let i = 0; i < this.formData.groups.length; i++) {
        // Check "all" item
        if (
          this.formData.groups[i].value === 'all' &&
          this.formData.groups.length === this.optionsData.groups.length
        ) {
          this.formData.groups = [];
          this.formData.groups.push({
            value: 'all',
            text: 'All'
          });
          this.filterGroupStudent(this.optionsData.groups);
          isHaveAllItem = true;
          break;
        }
      }
      // In case don't have "all" item
      if (!isHaveAllItem) this.filterGroupStudent(this.formData.groups);
    },
    // Convert data for selected box
    convertOptionData() {
      let tmp = CommonUtil.convertToSelectBoxData(
        this.studentGroupData,
        'name'
      );
      this.optionsData.groups = tmp;
      CommonUtil.addSelectAllItem(this.optionsData.groups);
    },
    // Generate name
    generateName(list) {
      if (list.length === 0) return;
      list.map((item, index) => {
        item.name = `Group ${index + 1}`;
      });
    },
    // Get all program
    getPrograms() {
      CommonUtil.addLoading();
      ProgramService.getProgram(
        result => {
          if (!result || result.length === 0) return;
          const tmp = CommonUtil.convertToSelectBoxData(result, 'name');
          this.optionsData.programs = tmp;
          // Selected first index
          this.formData.programs = tmp[0];
          this.getGroupingStudentByProgramId(tmp[0].value);
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get programs request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Filter program
    filterPrograms(selected) {
      this.getGroupingStudentByProgramId(selected.value);
    },
    // Get grouping student
    getGroupingStudentByProgramId(id) {
      CommonUtil.addLoading();
      DHService.getStudentGroupingByProgramId(
        id,
        result => {
          CommonUtil.removeLoading();
          this.studentGroupData = result;
          this.generateName(this.studentGroupData);
          this.convertOptionData();
          this.selecteAllItem();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get student grouping by program request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    }
  }
};
</script>

<style scoped>
.add-btn {
  position: absolute;
  bottom: 55px;
  right: 20px;
  z-index: 10;
  width: 80px;
}
.save-btn {
  position: absolute;
  bottom: 95px;
  right: 20px;
  z-index: 10;
  width: 80px;
}
</style>
