<template>
  <b-row class="m-0">
    <b-col cols="12 p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">
            Student Management
          </div>
          <div class="page-title-description-detail">
            Department Head can classify group student.
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card card-shadow">
          <div class="card-body">
            <!-- Programs -->
            <label for="input-title">Programs:</label>
            <multiselect
              class="mb-3"
              v-model="programId"
              placeholder="Search a tag"
              label="text"
              track-by="value"
              :options="program"
              :multiple="false"
              :taggable="true"
              @input="getStudent(programId.value)"
            />
            <b-table
              show-empty
              hover
              :items="listStudent"
              :fields="fields"
              :current-page="tableOptions.currentPage"
              :per-page="tableOptions.perPage"
              @filtered="onFiltered"
            >
              <!-- Group -->
              <template v-slot:cell(group)="row">
                <b-badge pill v-if="row.item.leader === true" variant="success">
                  {{ row.item.group }}
                </b-badge>
              </template>
              <!-- leader column -->
              <template v-slot:cell(leader)="row">
                <b-badge pill v-if="row.item.leader === true" variant="success">
                  Leader</b-badge
                ><b-badge pill v-else variant="primary">Member</b-badge>
              </template>
              <!-- action column -->
              <template v-slot:cell(action)="row">
                <b-button
                  variant="danger"
                  size="sm"
                  class="table-icon"
                  v-b-modal.delete-student
                  @click="getCode(row.item.code)"
                  ><font-awesome-icon icon="trash-alt" />
                </b-button>
              </template>
            </b-table>
            <b-modal
              id="delete-student"
              centered
              title="Confirm"
              ref="modal"
              @ok="deleteStudent"
              :header-bg-variant="headerBgVariant"
              :header-text-variant="headerTextVariant"
            >
              <b-img
                src="http://file.vforum.vn/hinh/2014/4/dau-hoi-cham-41.jpg"
                fluid
                alt="Fluid image"
                center
                style="width:100px;height:100px"
              ></b-img>
              <h5 class="message-noti">
                Do you want yo delete student with code: {{ this.rowItem }}?
              </h5>
            </b-modal>
            <b-pagination
              v-model="tableOptions.currentPage"
              :total-rows="tableOptions.totalRows"
              :per-page="tableOptions.perPage"
              size="sm"
            ></b-pagination>
            <b-modal
              id="success-student"
              centered
              title="Confirm"
              ref="modalSuccess"
              :header-bg-variant="headerBgVariant"
              :header-text-variant="headerTextVariant"
            >
              <b-img
                src="https://icon-library.net/images/successful-icon/successful-icon-10.jpg"
                fluid
                alt="Fluid image"
                center
                style="width:100px;height:100px"
              ></b-img>
              <h5 class="message-noti">Delete student successful</h5>
            </b-modal>
            <b-button variant="info" size="mm" @click="submitClassifyGroup()"
              >Submit</b-button
            >
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>
<script>
import Multiselect from 'vue-multiselect';
import { DHService, ProgramService } from '../../services/service-provider';
import CommonUtil from '../../common/utils/common-util';
import CommonConstant from '../../common/constant/common-constant';
export default {
  components: {
    Multiselect
  },
  data() {
    return {
      headerBgVariant: 'info',
      headerTextVariant: 'light',
      fields: [
        { key: 'code', label: 'Code' },
        { key: 'name', label: 'Student' },
        { key: 'leader', label: 'Leader' },
        { key: 'group', label: 'Group' },
        { key: 'action', label: 'Delete Student' }
      ],
      tableOptions: {
        totalRows: 1,
        currentPage: 1,
        perPage: 12
      },
      formData: {
        students: []
      },
      programId: '',
      program: [],
      listStudent: [],
      rowItem: '',
      messageNoti: '',
      imgNoti: ''
    };
  },
  watch: {
    listStudent(val) {
      this.tableOptions.totalRows = val.length;
    }
  },
  mounted() {
    // set the initial number of items
    this.tableOptions.totalRows = this.listStudent.length;
    this.getPrograms();
    this.getStudent(1);
  },
  methods: {
    // trigger pagnination to update the number of buttons/pages due to filering
    onFiltered(filteredItems) {
      this.tableOptions.totalRows = filteredItems.length;
      this.tableOptions.currentPage = 1;
    },
    // get row item
    getCode(code) {
      this.rowItem = code;
    },
    showModal() {
      this.$refs.modal.show();
    },
    hideModal() {
      this.$refs.modalSuccess.show();
      this.reloadPage();
    },
    // reload page
    reloadPage() {
      this.listStudent = [];
      this.getStudent();
    },
    // Get all program
    getPrograms() {
      CommonUtil.addLoading();
      ProgramService.getProgram(
        result => {
          CommonUtil.removeLoading();
          result.forEach(item => {
            this.program.push({
              value: item.id,
              text: item.name
            });
          });
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get programs request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // delete student or group
    deleteStudent() {
      CommonUtil.addLoading();
      DHService.deleteStudent(
        this.rowItem,
        result => {
          CommonUtil.removeLoading();
          this.hideModal();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Remove student request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // get student
    getStudent(programId) {
      this.listStudent = [];
      CommonUtil.addLoading();
      if (programId === null) {
        programId = 1;
      }
      DHService.getGroup(
        programId,
        result => {
          CommonUtil.removeLoading();
          result.forEach(item => {
            for (let i = 0; i < item.students.length; i++) {
              this.listStudent.push({
                id: item.id,
                group: item.name,
                code: item.students[i].code,
                name: item.students[i].fullName,
                leader: item.students[i].isLeader
              });
            }
          });
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get group request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    }
  }
};
</script>
<style scoped>
.message-noti {
  text-align: center;
  margin-top: 20px;
}
</style>
