<template>
  <div>
    <b-row class="m-0">
      <template v-if="optionsData.duplicatedTopics.length > 0">
        <b-col cols="6" class="mt-2">
          <div class="card card-shadow">
            <div class="card-header custom">
              TOPIC MIGHT BE DUPLICATED
              <b-badge variant="danger" class="status-item">
                {{ optionsData.duplicatedTopics.length }}</b-badge
              >
            </div>
            <div>
              <!-- Duplicated topic -->
              <b-row class="p-2">
                <b-col cols="12">
                  <multiselect
                    class="w-100 mb-3"
                    v-model="formData.duplicatedTopics"
                    placeholder="Search a duplicated topic"
                    label="text"
                    track-by="value"
                    :options="optionsData.duplicatedTopics"
                    :multiple="false"
                    :hide-selected="true"
                    @input="duplicatedTopicDisplay($event)"
                  />
                </b-col>
              </b-row>
            </div>
            <duplicate-topic-detail
              ref="duplicated-topic-detail"
              :duplicateTopic="duplicatedTopicDisplayData"
              @color-duplicate-word="colorDuplicatedWord"
            />
          </div>
        </b-col>
      </template>
      <b-col
        :cols="optionsData.duplicatedTopics.length === 0 ? 12 : 6"
        class="mt-2"
      >
        <div class="card card-shadow">
          <div class="card-header custom">TOPIC TARGET</div>
          <div class="topic-detail-container">
            <div
              class="header-container"
              @click="isShowTargetTopic = !isShowTargetTopic"
            >
              <div class="header text-center p-3 mb-2">
                {{ detailData.name_En }}
              </div>
            </div>
            <div class="body-container p-3" v-show="isShowTargetTopic">
              <div class="body p-3">
                <b-row class="group-first-info">
                  <b-col cols="6 mb-2">
                    <div class="detail-label d-inline-block">
                      Profession:
                    </div>
                    <div class="detail-info d-inline-block">
                      {{ detailData.program.shortName }}
                    </div>
                  </b-col>
                  <b-col cols="6 mb-2">
                    <div class="detail-label d-inline-block">
                      Specialty:
                    </div>
                    <div class="detail-info d-inline-block">
                      {{ detailData.program.name }}
                    </div>
                  </b-col>
                  <b-col cols="12 mb-2">
                    <div class="detail-label d-inline-block">
                      Kind of person make registers:
                    </div>
                    <div class="detail-info d-inline-block">
                      {{ detailData.advisor.fullName }}
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <topic-detail-display-info ref="topic-detail-content" />
                </b-row>
                <b-row>
                  <topic-detail-display-info ref="topic-detail-comment" />
                </b-row>
              </div>
              <b-row class="m-0">
                <b-col cols="12" class="mt-2 text-center">
                  <b-button
                    size="lg"
                    variant="outline-success"
                    @click="postTopicReview(true, '')"
                    class="float-left"
                    >Approve</b-button
                  >
                  <b-button
                    style="margin-left:50px"
                    size="lg"
                    variant="outline-danger"
                    class="float-right"
                    v-b-modal.modal-1
                    >Reject</b-button
                  >
                </b-col>
                <b-col cols="6" class="mt-2 text-center">
                  <div>
                    <b-modal
                      id="modal-1"
                      :header-bg-variant="headerBgVariant"
                      :header-text-variant="headerTextVariant"
                      hide-footer
                      title="Tiêu chí đánh giá đồ án"
                      ref="evaluate-modal"
                    >
                      <div
                        v-for="(item, index) in formDataComment.questions"
                        :key="index"
                      >
                        <div>
                          <strong>
                            {{ item.content }}
                          </strong>
                        </div>
                        <toggle-button
                          v-model="formDataComment.questions[index].isApproved"
                          :labels="{ checked: 'Yes', unchecked: 'No' }"
                        />
                        <div>
                          <b-form-textarea
                            :state="errorsData[index] ? false : null"
                            v-model="formDataComment.questions[index].comment"
                            placeholder="Enter a comment..."
                            rows="3"
                          ></b-form-textarea>
                          <div class="text-danger">{{ errorsData[index] }}</div>
                        </div>
                      </div>
                      <div>
                        <strong>Đề tài có khả năng trùng?</strong>
                        <b-form-textarea
                          v-model="commentDuplicate"
                          placeholder="Enter a comment..."
                          rows="3"
                        ></b-form-textarea>
                      </div>
                      <b-button
                        style="margin-top:5px; margin-right:10px"
                        variant="outline-primary"
                        class="float-right"
                        @click="submit"
                      >
                        Save
                      </b-button>
                    </b-modal>
                  </div>
                </b-col>
              </b-row>
            </div>
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import TableSuperVisorDetail from './components/topic-detail/TableSuperVisorDetail';
import TopicDetailDisplayInfo from './components/topic-detail/TopicDetailDisplayInfo';
import DuplicateTopicDetail from './components/DuplicateTopicDetail';
import UrlConstant from '../../common/constant/common-url';
import CommonConstant from '../../common/constant/common-constant';
import CommonUtil from '../../common/utils/common-util';
import { TopicService, DHService } from '../../services/service-provider';
import { ToggleButton } from 'vue-js-toggle-button';

export default {
  components: {
    ToggleButton,
    Multiselect,
    tableSuperDetail: TableSuperVisorDetail,
    topicDetailDisplayInfo: TopicDetailDisplayInfo,
    duplicateTopicDetail: DuplicateTopicDetail
  },
  data() {
    return {
      headerBgVariant: 'info',
      headerTextVariant: 'light',
      detailData: {
        name_En: '',
        program: {
          name: '',
          shortName: ''
        },
        coloredData: {},
        advisor: {
          fullName: ''
        }
      },
      formData: {
        duplicatedTopics: {}
      },
      optionsData: {
        duplicatedTopics: []
      },
      duplicatedTopicDisplayData: {},
      duplicatedTopics: [],
      isShowTargetTopic: true,
      isShowDupTopic: false,
      isCollapseTopics: false,
      count: 0,
      check: '',
      errors: [],
      errorsData: {},
      commentDuplicate: '',
      formDataComment: {
        topicId: '',
        questions: []
      }
    };
  },
  computed: {
    collapDuplicateTopics() {
      return this.duplicatedTopics.length > 0
        ? this.duplicatedTopics.slice(0, 2)
        : [];
    }
  },
  mounted() {
    this.getQuestion();
    this.getDetailData();
    this.getTopicReviewById();
  },
  methods: {
    duplicatedTopicDisplay(data) {
      this.duplicatedTopicDisplayData = this.duplicatedTopics.filter(
        item => item.id === data.value
      )[0];
      if (!this.duplicatedTopicDisplayData) return;
      setTimeout(() => {
        this.$refs['duplicated-topic-detail'].init(
          this.duplicatedTopicDisplayData
        );
      });
    },
    showScheduleModal() {
      this.$refs['evaluate-modal'].show();
    },
    // Redirect to topic management page when success
    redirectToTopicMngPage() {
      this.$router.push({
        path: UrlConstant.page.departmentHead.DH_MNG_TOPIC
      });
    },
    // Redirect to evaluate topic page
    redirectToEvaluateTopicPage() {
      this.$router.push({
        path: UrlConstant.page.departmentHead.DH_VALIDATE_TOPIC
      });
    },
    initSuperTableColored(data) {
      this.$refs['table-super-colored'].init({
        advisor: data.advisor,
        subAdvisors: data.subAdvisors
      });
    },
    // get question
    getQuestion() {
      CommonUtil.addLoading();
      DHService.getQuestion(
        result => {
          CommonUtil.removeLoading();
          this.formDataComment.topicId = this.$route.params.id;
          if (result && result.length > 0) {
            result.forEach(item => {
              if (this.count < 5) {
                this.formDataComment.questions.push({
                  id: this.count,
                  content: item.content,
                  isApproved: false,
                  comment: null
                });
              }
              this.count++;
            });
          }
        },
        () => {
          CommonUtil.removeLoading();
        }
      );
    },
    // check comment validate
    checkValidate() {
      this.check = true;
      this.errorsData = {};
      for (
        let index = 0;
        index < this.formDataComment.questions.length;
        index++
      ) {
        if (
          this.formDataComment.questions[index].isApproved === false &&
          this.formDataComment.questions[index].comment === null
        ) {
          this.errorsData[index] = 'Please fill reject reasons!';
          this.check = false;
        }
      }
      return this.check;
    },
    // submit validate
    submit() {
      if (this.checkValidate() === false) {
        this.showScheduleModal();
      } else {
        CommonUtil.addLoading();
        const convertdata = this.convertData();
        DHService.postComment(
          convertdata,
          result => {
            CommonUtil.showNotification(
              'Success',
              'Validate topic successfull!',
              CommonConstant.NOTI_TYPE.SUCCESS
            );
            CommonUtil.removeLoading();
            this.redirectToTopicMngPage();
          },
          () => {
            CommonUtil.removeLoading();
            CommonUtil.showNotification(
              'Error',
              'Submit comment error!',
              CommonConstant.NOTI_TYPE.ERROR
            );
          }
        );
      }
    },
    convertData() {
      const tmp = {};
      tmp['id'] = this.$route.params.id;
      tmp['isApproved'] = false;
      tmp['content'] = this.commentDuplicate;
      tmp['comments'] = this.formDataComment;
      console.log(tmp);
      return tmp;
    },
    // Init topic detail
    initTopicDetail(data) {
      this.$refs['topic-detail-content'].clear();
      this.$refs['topic-detail-content'].init(
        data,
        'Register content of Capstone Project',
        'Capstone Project name',
        [
          'abstractionHtml',
          'theoryHtml',
          'mainFunctionHtml',
          'otherProductsHtml'
        ]
      );
      this.$refs['topic-detail-comment'].clear();
      this.$refs['topic-detail-comment'].init(data, 'Other comment', '', [
        'otherCommentsHtml'
      ]);
    },
    initTopicDetailColored(data) {
      this.$refs['topic-detail-content-colored'].clear();
      this.$refs['topic-detail-content-colored'].init(
        data,
        'Register content of Capstone Project',
        'Capstone Project name',
        [
          'abstractionHtml',
          'theoryHtml',
          'mainFunctionHtml',
          'otherProductsHtml'
        ]
      );
      this.$refs['topic-detail-comment-colored'].clear();
      this.$refs['topic-detail-comment-colored'].init(
        data,
        'Other comment',
        '',
        ['otherCommentsHtml']
      );
    },
    getDetailData() {
      CommonUtil.addLoading();
      const topicId = this.$route.params.id;
      TopicService.getTopicById(
        topicId,
        result => {
          this.detailData = result;
          console.log('detailD', this.detailData);
          this.initTopicDetail(result);
          CommonUtil.removeLoading();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get topic request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Post topic review
    postTopicReview(isApproved, content) {
      const data = {
        id: this.$route.params.id,
        isApproved: isApproved,
        content: content
      };
      CommonUtil.addLoading();
      DHService.postTopicReview(
        data,
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Topic approve successfully!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          this.redirectToEvaluateTopicPage();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Topic approve request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Get Topic review by id
    getTopicReviewById() {
      CommonUtil.addLoading();
      DHService.getTopicReviewById(
        this.$route.params.id,
        res => {
          this.duplicatedTopics = res.duplicatedTopics;
          const tmp = CommonUtil.convertToSelectBoxData(
            res.duplicatedTopics,
            'name_En'
          );
          this.optionsData.duplicatedTopics = tmp;
          // Selected first index
          this.formData.duplicatedTopics = tmp[0];
          this.duplicatedTopicDisplay(tmp[0]);
          CommonUtil.removeLoading();
        },
        () => {
          CommonUtil.removeLoading();
        }
      );
    },
    colorDuplicatedWord(duplicateWords, isShowDupTopic) {
      this.isShowDupTopic = isShowDupTopic;
      if (isShowDupTopic) {
        console.log(this.detailData);
        // this.coloredData = Object.assign({}, this.detailData);
        let abstractionArr = this.detailData.abstraction.split('.');
        abstractionArr.forEach(s => {
          s = s.trim();
          let count = 0;
          for (let i = 0; i < duplicateWords.length; i++) {
            if (s.toLowerCase().includes(duplicateWords[i].toLowerCase())) {
              count++;
            }
            if (count === 2) {
              this.detailData.abstractionHtml = this.detailData.abstractionHtml.replace(
                s,
                ` <span class="span-text">${s}</span> `
              );
              break;
            }
          }
        });
        console.log('mainFunction', this.detailData.mainFunction);
        let mainFunctionArr = this.detailData.mainFunction.split('.');
        mainFunctionArr.forEach(s => {
          s = s.trim();
          let count = 0;
          for (let i = 0; i < duplicateWords.length; i++) {
            if (s.toLowerCase().includes(duplicateWords[i].toLowerCase())) {
              count++;
            }
            if (count === 2) {
              console.log('s: ' + s);
              console.log(this.coloredData.mainFunctionHtml);
              this.detailData.mainFunctionHtml = this.detailData.mainFunctionHtml.replace(
                s,
                `<span class="span-text">${s}</span>`
              );
              console.log(this.detailData.mainFunctionHtml);
              break;
            }
          }
        });
        console.log('othercomment', this.detailData.otherComments);
        let otherCommentsArr = this.detailData.otherComments.split('.');
        otherCommentsArr.forEach(s => {
          s = s.trim();
          let count = 0;
          for (let i = 0; i < duplicateWords.length; i++) {
            if (s.toLowerCase().includes(duplicateWords[i].toLowerCase())) {
              count++;
            }
            if (count === 2) {
              this.detailData.otherCommentsHtml = this.detailData.otherCommentsHtml.replace(
                s,
                ` <span class="span-text">${s}</span> `
              );
              break;
            }
          }
        });
        console.log('theory', this.detailData.theory);
        let theoryArr = this.detailData.theory.split('.');
        theoryArr.forEach(s => {
          s = s.trim();
          let count = 0;
          for (let i = 0; i < duplicateWords.length; i++) {
            if (s.toLowerCase().includes(duplicateWords[i].toLowerCase())) {
              count++;
            }
            if (count === 2) {
              this.detailData.theoryHtml = this.detailData.theoryHtml.replace(
                s,
                ` <span class="span-text">${s}</span> `
              );
              break;
            }
          }
        });
        this.initTopicDetail(this.detailData);
      } else {
        this.initTopicDetail(this.detailData);
      }
    }
  }
};
</script>

<style scoped>
.toggle-indicator {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  height: 0.8rem;
  width: 0.8rem;
  background-color: #fff;
  border-radius: 9999px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}
.topic-detail-container .header {
  background: #013972;
  font-weight: 600;
  color: white;
}
.topic-detail-container .body .detail-label {
  font-weight: 600;
}
.topic-detail-container .body .group-first-info {
  background: #f3f3f3;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.modal-div {
  width: 800px;
  height: 800px;
}
.modal-text {
  margin-left: 10px;
  margin-bottom: 10px;
}
.error-message {
  color: red;
}
.toggle-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-left: 2px;
  height: 1.2rem;
  width: 3rem;
  border-radius: 9999px;
}
.toggle-wrapper:focus {
  outline: 0;
  box-shadow: 0 0 0 4px rgba(52, 144, 220, 0.5);
}

.toggle-background {
  display: inline-block;
  border-radius: 9999px;
  height: 20px;
  width: 50px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}
</style>
