<template>
  <b-row class="m-0">
    <b-col cols="12 p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">
            Capstone Management
          </div>
          <div class="page-title-description-detail">
            Department Head can view their topics.
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card card-shadow">
          <div class="card-header custom">List Capstone Topic</div>
          <div class="card-body">
            <b-table
              show-empty
              hover
              :items="items"
              :fields="fields"
              :current-page="tableOptions.currentPage"
              :per-page="tableOptions.perPage"
              @onfilteref="onFiltered"
            >
              <!-- action column -->
              <template v-slot:cell(action)="row">
                <template>
                  <b-button
                    variant="primary"
                    size="sm"
                    title="View topic detail"
                    @click="redirectToViewDetailPage(row.item.id)"
                  >
                    <font-awesome-icon icon="external-link-alt" />
                  </b-button>
                </template>
              </template>
            </b-table>
            <b-pagination
              v-model="tableOptions.currentPage"
              :total-rows="tableOptions.totalRows"
              :per-page="tableOptions.perPage"
              size="sm"
            ></b-pagination>
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>
<script>
import UrlConstant from '../../common/constant/common-url';
import CommonUtil from '../../common/utils/common-util';
import { TopicService } from '../../services/service-provider';
import CommonConstant from '../../common/constant/common-constant';
import moment from 'moment';

export default {
  data() {
    return {
      fields: [
        { key: 'nameTopic', label: 'Capstone Topic' },
        { key: 'createdDate', label: 'Created Date' },
        { key: 'advisor', label: 'Advisor' },
        { key: 'action', label: 'Action' }
      ],
      items: [],
      tableOptions: {
        totalRows: 1,
        currentPage: 1,
        perPage: 10
      }
    };
  },
  watch: {
    items(val) {
      this.tableOptions.totalRows = val.length;
    }
  },
  mounted() {
    // set the initial number of items
    this.tableOptions.totalRows = this.items.length;
    this.getTopicData();
  },
  methods: {
    // trigger pagnination to update the number of pages
    onFiltered(filteredItems) {
      this.tableOptions.totalRows = filteredItems.length;
      this.tableOptions.currentPage = 1;
    },
    redirectToViewDetailPage(id) {
      this.$router.push({
        path: UrlConstant.page.committe.CM_TOPIC_DETAIL.replace(':id', id)
      });
    },
    // get topic data
    getTopicData() {
      CommonUtil.addLoading();
      TopicService.getTopic(
        result => {
          CommonUtil.removeLoading();
          if (result && result.length > 0) {
            result.forEach(item => {
              this.items.push({
                id: item.id,
                nameTopic: item.name_En,
                advisor: item.advisor.fullName,
                status: item.status,
                createdDate: moment(item.createdDate).format(
                  CommonConstant.DEFAULT_TIME_FORMAT
                )
              });
            });
          }
        },
        () => {
          CommonUtil.removeLoading();
        }
      );
    }
  }
};
</script>
<style scoped>
.status-item {
  width: 80px;
}
</style>
