<template>
  <div>
    <b-row class="m-0">
      <b-col cols="12" class="p-0">
        <div class="page-title-container">
          <div class="card card-shadow d-inline-block">
            <font-awesome-icon icon="table" class="page-title-item" />
          </div>
          <div class="d-inline-block pl-2">
            <div class="page-title-description-header">Manage Topic</div>
            <div class="page-title-description-detail">
              Department Head can approve or reject a topic
            </div>
          </div>
        </div>
      </b-col>
    </b-row>
    <b-row class="m-0">
      <b-col cols="12" class="mt-2 p-3">
        <div class="card card-shadow">
          <b-col style="margin-top:10px" cols="6">
            <!-- search -->
            <div class="search-container">
              <label class="d-inline-block">Search: </label>
              <b-input-group size="sm">
                <b-form-input
                  v-model="filter"
                  type="search"
                  id="filterInput"
                  placeholder="Enter advisor or name topic"
                ></b-form-input>
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''"
                    >Clear</b-button
                  >
                </b-input-group-append>
              </b-input-group>
            </div>
          </b-col>
          <div class="card-body">
            <b-table
              show-empty
              hover
              :items="topics"
              :fields="fields"
              :filter="filter"
              :current-page="tableOptions.currentPage"
              :per-page="tableOptions.perPage"
              @filtered="onFiltered"
              class="text-align-left"
            >
              <!-- customize column -->
              <template v-slot:cell(option)="row">
                <b-button
                  size="sm"
                  variant="outline-primary"
                  @click="redirectToViewDetailPage(row.item.id)"
                  title="View topic detail"
                  ><font-awesome-icon icon="external-link-alt"
                /></b-button>
              </template>
            </b-table>
            <b-pagination
              v-model="tableOptions.currentPage"
              :total-rows="tableOptions.totalRows"
              :per-page="tableOptions.perPage"
              size="sm"
            />
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import moment from 'moment';
import UrlConstant from '../../common/constant/common-url';
import CommonConstant from '../../common/constant/common-constant';
import CommonUtil from '../../common/utils/common-util';
import { TopicService } from '../../services/service-provider';
import TableSuperVisorDetail from './components/topic-detail/TableSuperVisorDetail';
import TopicDetailDisplayInfo from './components/topic-detail/TopicDetailDisplayInfo';

export default {
  components: {
    tableSuperDetail: TableSuperVisorDetail,
    topicDetailDisplayInfo: TopicDetailDisplayInfo
  },
  data() {
    return {
      topics: [],
      filter: '',

      fields: [
        {
          key: 'name_En',
          label: 'Name'
        },
        {
          key: 'advisorName',
          label: 'Advisor'
        },
        {
          key: 'created_date',
          label: 'Created Time'
        },
        {
          key: 'option',
          label: 'Option'
        }
      ],
      tableOptions: {
        totalRows: 1,
        currentPage: 1,
        perPage: 10
      },
      detailData: {
        program: {
          name: ''
        }
      },
      channels: [],
      firstLoad: true,
      channel: null,
      messages: [],
      listeners: [],
      message: ''
      // selectTopic: null
    };
  },
  watch: {
    topics(val) {
      this.tableOptions.totalRows = val.length;
    }
  },
  mounted() {
    // Set the initial number of items
    this.tableOptions.totalRows = this.topics.length;
    this.loadTopics();
  },
  methods: {
    // Trigger pagination to update the number of buttons/pages due to filtering
    onFiltered(filteredItems) {
      this.tableOptions.totalRows = filteredItems.length;
      this.tableOptions.currentPage = 1;
    },
    loadTopics() {
      CommonUtil.addLoading();
      TopicService.getTopicByDepartmentHeadToReview(
        res => {
          CommonUtil.removeLoading();
          if (res && res.length > 0) {
            res.forEach(item => {
              this.topics.push({
                id: item.id,
                name_En: item.name_En,
                name_Vi: item.name_Vi,
                advisorName: item.advisorName,
                created_date: moment(item.createdDate).format(
                  CommonConstant.DEFAULT_TIME_FORMAT
                ),
                duplicatedTopics: item.duplicatedTopics,
                status: item.status
              });
            });
          }
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get topics request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Redirect to view detail page
    redirectToViewDetailPage(id) {
      this.$router.push({
        path: UrlConstant.page.departmentHead.DH_TOPIC_DETAIL.replace(':id', id)
      });
    },
    formatTime(topic) {
      return moment(topic).format(CommonConstant.DEFAULT_DATE_FORMAT);
    }
  }
};
</script>

<style scoped>
.spinner {
  color: #4ba89c;
}
.topic-detail-container {
  width: 100%;
}
.topic-detail-container .header {
  background: #013972;
  font-weight: 600;
  color: white;
}
.topic-detail-container .body .detail-label {
  font-weight: 600;
}
.topic-detail-container .body .group-first-info {
  background: #f3f3f3;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.search-container .input-group,
.search-container input {
  height: 38px;
}
#my_file_input {
  border: 1px solid #ced4da;
  padding: 2px;
}
</style>
