<template>
  <b-row class="m-0">
    <b-col cols="12 p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">
            Schedule
          </div>
          <div class="page-title-description-detail">
            Department Head can extend time schedule for every topic.
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card card-shadow">
          <div class="card-body">
            <b-table
              show-empty
              id="topic-table"
              responsive="sm"
              :items="items"
              :fields="fields"
              :current-page="tableOptions.currentPage"
              :per-page="tableOptions.perPage"
            >
              <!-- action column -->
              <template v-slot:cell(action)="row">
                <b-button
                  variant="primary"
                  size="sm"
                  @click="showScheduleModal(row.item)"
                  title="Set deadline"
                >
                  <font-awesome-icon icon="stopwatch" />
                </b-button>
              </template>
            </b-table>
            <b-pagination
              v-model="tableOptions.currentPage"
              :total-rows="rows"
              :per-page="tableOptions.perPage"
              size="sm"
              aria-controls="topic-table"
            ></b-pagination>
            <schedule-modal
              ref="schedule-modal"
              @submit="submitAction($event)"
            />
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import moment from 'moment';
import CommonConstant from '../../common/constant/common-constant';
import CommonUtil from '../../common/utils/common-util';
import ScheduleModal from './components/schedule/ScheduleModal';
import { DHService } from '../../services/service-provider';

export default {
  components: {
    ScheduleModal
  },
  data() {
    return {
      fields: [
        {
          key: 'nameEng',
          label: 'English Name'
        },
        {
          key: 'createdDateFormated',
          label: 'Created Date'
        },
        {
          key: 'expiredTimeFormated',
          label: 'Deadline'
        },
        {
          key: 'action',
          label: 'Action'
        }
      ],
      items: [],
      tableOptions: {
        totalRows: '',
        currentPage: 1,
        perPage: 10
      }
    };
  },
  computed: {
    rows() {
      return this.items.length;
    }
  },
  mounted() {
    // Get topic data
    this.getSchedule();
  },
  methods: {
    reloadTable() {
      this.items = [];
      this.getSchedule();
    },
    // Show schedule modal
    showScheduleModal(data) {
      this.$refs['schedule-modal'].init(data);
    },
    // Get schedule
    getSchedule() {
      CommonUtil.addLoading();
      DHService.getSchedule(
        result => {
          CommonUtil.removeLoading();
          result.forEach(item => {
            this.items.push({
              id: item.id,
              nameEng: item.name_En,
              createdDate: item.createdDate,
              createdDateFormated: moment(item.createdDate).format(
                CommonConstant.DEFAULT_TIME_FORMAT
              ),
              expiredTime: item.expiredTime,
              expiredTimeFormated: moment(item.expiredTime).format(
                CommonConstant.DEFAULT_TIME_FORMAT
              )
            });
          });
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get schedules request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Submit action
    submitAction(value) {
      CommonUtil.addLoading();
      const data = {
        topicId: value.id,
        deadline: value.deadline
      };
      DHService.putSchedule(
        data,
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Update schedule success!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          this.$refs['schedule-modal'].hideModal();
          // Reload table
          this.reloadTable();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Submit schedule request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    }
  }
};
</script>

<style scoped></style>
