<template>
  <b-row class="m-0">
    <b-col cols="12 p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">
            Technique Management
          </div>
          <div class="page-title-description-detail">
            Department Head can view technique.
          </div>
        </div>
        <b-button
          variant="primary"
          size="sm"
          class="float-right"
          title="Create technique"
          @click="showModal()"
        >
          <font-awesome-icon icon="plus" class="mr-2" />Create</b-button
        >
      </div>
      <div class="p-3">
        <div class="card card-shadow">
          <div class="card-sort-custom p-3">
            <b-row>
              <b-col cols="12" class="mb-3">
                <!-- search -->
                <div class="search-container">
                  <b-input-group size="sm">
                    <b-form-input
                      v-model="filter"
                      type="search"
                      id="filterInput"
                      placeholder="Enter name topic"
                    ></b-form-input>
                    <b-input-group-append>
                      <b-button :disabled="!filter" @click="filter = ''"
                        >Clear</b-button
                      >
                    </b-input-group-append>
                  </b-input-group>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <technique-card
                :technique.sync="item"
                v-for="(item, index) in techniques"
                :key="index"
              />
              <create-modal ref="create-modal" @submit="submitAction($event)" />
            </b-row>
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import { TechniqueService } from '../../services/service-provider';
import CommonUtil from '../../common/utils/common-util';
import CommonConstant from '../../common/constant/common-constant';
import TechniqueCard from './components/technique-mng/TechniqueCard';
import CreateModal from './components/technique-mng/CreateModal';
export default {
  components: {
    TechniqueCard,
    CreateModal
  },
  data() {
    return {
      techniques: [],
      filter: ''
    };
  },
  mounted() {
    this.getAllTechnique();
  },
  methods: {
    // Show modal
    showModal() {
      this.$refs['create-modal'].init();
    },
    submitAction(data) {
      this.createTechnique(data);
    },
    // Get all technique
    getAllTechnique() {
      CommonUtil.addLoading();
      TechniqueService.getTechnique(
        result => {
          CommonUtil.removeLoading();
          this.techniques = result;
        },
        () => {
          CommonUtil.removeLoading();
        }
      );
    },
    // Create technique
    createTechnique(name) {
      CommonUtil.addLoading();
      TechniqueService.createTechnique(
        name,
        result => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Create technique successfull!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          // Reload
          this.getAllTechnique();
          this.$refs['create-modal'].hideModal();
        },
        () => {
          CommonUtil.removeLoading();
        }
      );
    }
  }
};
</script>

<style scoped></style>
