<template>
  <div>
    <b-row class="m-0">
      <b-col cols="12" class="p-0">
        <div class="page-title-container">
          <div class="card card-shadow d-inline-block">
            <font-awesome-icon icon="table" class="page-title-item" />
          </div>
          <div class="d-inline-block pl-2">
            <div class="page-title-description-header">
              Validate Topic Manager
            </div>
            <div class="page-title-description-detail">
              Department Head can choose validate topic and send to advisors.
            </div>
          </div>
          <b-button
            variant="primary"
            size="sm"
            class="float-right"
            title="Create topic"
            @click="redirectToSchedulePage()"
          >
            <font-awesome-icon icon="stopwatch" class="mr-2" />Extend
            Deadline</b-button
          >
        </div>
      </b-col>
    </b-row>
    <!-- step 1 -->
    <template>
      <b-row class="m-0" v-show="curStep === 1">
        <b-col cols="12">
          <div class="card card-shadow">
            <step-ui :curStep="curStep" />
            <div class="p-3">
              <b-row>
                <b-col cols="6">
                  <!-- Search -->
                  <label for="input-search">Search:</label>
                  <b-form-input
                    id="input-search"
                    v-model="formData.search"
                    placeholder="Enter Topic Name"
                    class="mb-3"
                    trim
                    @input="handleTypingEvent()"
                  />
                </b-col>
              </b-row>
            </div>
            <div class="card-header custom" id="validate-topic-table-container">
              <div
                id="select-all-checkbox"
                :class="formData.search ? 'd-none' : ''"
              >
                <b-form-checkbox
                  v-model="isSelectAll"
                  value="all"
                  unchecked-value=""
                  @change="isCheckBoxClick = true"
                />
              </div>
              <b-table
                ref="selectableTable"
                selectable
                :select-mode="selectMode"
                sticky-header
                :fields="fields"
                :items="items"
                show-empty
                head-variant="light"
                @row-selected="onRowSelected"
              >
                <template v-slot:empty="scope">
                  <div class="text-center">{{ scope.emptyText }}</div>
                </template>
                <!-- selected column -->
                <template v-slot:cell(isActive)="item">
                  <div v-if="item.rowSelected" class="selected-row-item">
                    <div class="overlay-checkbox" />
                    <b-form-checkbox
                      value="true"
                      v-model="checkBoxSelect"
                      unchecked-value="false"
                    />
                  </div>
                  <div v-else class="selected-row-item">
                    <div class="overlay-checkbox" />
                    <b-form-checkbox
                      v-model="checkBoxReject"
                      unchecked-value="false"
                    />
                  </div>
                </template>
                <!-- action column -->
                <template v-slot:cell(action)="row">
                  <b-button
                    variant="outline-info"
                    size="sm"
                    title="View topic detail"
                    @click="redirectToViewDetailPage(row.item.id)"
                  >
                    <font-awesome-icon icon="external-link-alt" />
                  </b-button>
                </template>
              </b-table>
              <step-button
                :curStep.sync="curStep"
                :selected.sync="selected"
                :advisors.sync="formData.advisors"
                @update-step="updateStep($event)"
              />
            </div>
          </div>
        </b-col>
      </b-row>
    </template>
    <!-- step 2 -->
    <template>
      <b-row class="m-0" v-show="selected.length > 0 && curStep === 2">
        <b-col cols="12">
          <div class="card card-shadow">
            <step-ui :curStep="curStep" />
            <div class="d-inline-block w-100 p-3">
              <!-- Advisors -->
              <label for="input-title">Advisors:</label>
              <multiselect
                class="mb-3"
                v-model="formData.advisors"
                placeholder="Search a tag"
                label="text"
                track-by="value"
                :options="optionsData.advisorsValidate"
                :multiple="true"
                :taggable="true"
              />
              <step-button
                :curStep.sync="curStep"
                :selected.sync="selected"
                :advisors.sync="formData.advisors"
                @update-step="updateStep($event)"
              />
            </div>
          </div>
        </b-col>
      </b-row>
    </template>
    <!-- step 3 -->
    <template>
      <b-row class="m-0" v-show="curStep === 3">
        <b-col cols="12">
          <div class="card card-shadow">
            <step-ui :curStep="curStep" />
            <div class="d-inline-block w-100 p-3">
              <label for="input-title">Deadline:</label>
              <date-picker
                type="datetime"
                v-model="dateRange"
                lang="en"
                format="MM-DD-YYYY HH:mm"
                :time-picker-options="{
                  start: '00:00',
                  step: '00:30',
                  end: '23:30'
                }"
                confirm
                class="w-100"
              />
              <step-button
                :curStep.sync="curStep"
                :selected.sync="selected"
                :dateRange.sync="dateRange"
                :advisors.sync="formData.advisors"
                @update-step="updateStep($event)"
                @submit="submitAction($event)"
              />
            </div>
          </div>
        </b-col>
      </b-row>
    </template>
  </div>
</template>

<script>
import moment from 'moment';
import Multiselect from 'vue-multiselect';
import DatePicker from 'vue2-datepicker';
import { AdvisorService, DHService } from '../../services/service-provider';
import CommonUtil from '../../common/utils/common-util';
import CommonConstant from '../../common/constant/common-constant';
import UrlConstant from '../../common/constant/common-url';
import StepButton from './components/validate-topic/StepButton';
import StepUI from './components/validate-topic/StepUI';

export default {
  components: {
    multiselect: Multiselect,
    stepButton: StepButton,
    stepUi: StepUI,
    DatePicker
  },
  data() {
    return {
      checkBoxSelect: true,
      checkBoxReject: false,
      isCheckBoxClick: false,
      curStep: 1,
      isSelectAll: '',
      fields: [
        {
          key: 'isActive',
          label: ''
        },
        {
          key: 'nameEng',
          label: 'English Name'
        },
        {
          key: 'created_date',
          label: 'Created Date'
        },
        {
          key: 'advisor',
          label: 'Advisor'
        },
        {
          key: 'action',
          label: 'Action'
        }
      ],
      items: [],
      originalitems: [],
      selectMode: 'multi',
      selected: [],
      searchSelected: [],
      formData: {
        search: '',
        advisors: []
      },
      optionsData: {
        advisors: [],
        advisorsValidate: []
      },
      dateRange: '',
      typingTimer: ''
    };
  },
  watch: {
    isSelectAll(val) {
      if (val === 'all') {
        if (this.isCheckBoxClick) this.selectAllRows();
      } else {
        if (this.isCheckBoxClick) this.clearSelected();
      }
    },
    selected(val) {
      this.optionsData.advisorsValidate = this.optionsData.advisors.filter(
        item => {
          for (let i = 0; i < val.length; i++) {
            if (item.value === val[i].advisorTopicId) {
              return false;
            }
          }
          return true;
        }
      );
      this.clearActiveOriginalData();
      if (!this.checkSelectedAll(val)) {
        val.forEach(selectedItem => {
          for (let i = 0; i < this.originalitems.length; i++) {
            if (selectedItem.id === this.originalitems[i].id) {
              this.originalitems[i].isActive = true;
            }
          }
        });
        this.isSelectAll = '';
      } else {
        this.isSelectAll = 'all';
      }
    }
  },
  mounted() {
    this.getAdvisors();
    this.getApprovedTopic();
  },
  methods: {
    // Check selected all
    checkSelectedAll(selected) {
      if (selected.length === 0) return false;
      if (this.items.length === 0) return false;
      selected.forEach(selectedItem => {
        for (let i = 0; i < this.items.length; i += 1) {
          if (this.items[i].id !== selectedItem.id) {
            return false;
          }
        }
      });
      if (this.items.length === this.selected.length) {
        return true;
      }
    },
    // Reload page when submit success
    reloadPage() {
      this.curStep = 1;
      this.isSelectAll = '';
      this.searchSelected = [];
      this.selected = [];
      this.formData.advisors = [];
      this.items = [];
      this.originalitems = [];
      this.getApprovedTopic();
    },
    // Update new current step
    updateStep(val) {
      this.curStep = val;
    },
    // On row selected
    onRowSelected(items) {
      this.clearActiveOriginalData();
      this.isCheckBoxClick = false;
      // Check filter data is empty
      if (!this.formData.search) {
        this.selected = items.map(o => {
          o.isActive = true;
          return o;
        });
      } else {
        this.searchSelected = items.map(o => {
          o.isActive = true;
          return o;
        });
        const removeIndex = [];
        const unselectedItem = this.getUnselectedItem();
        const tmp = CommonUtil.mergeTwoArrays(
          this.selected,
          this.searchSelected,
          'id'
        );
        if (unselectedItem.length > 0) {
          unselectedItem.forEach(unselected => {
            for (let i = 0; i < tmp.length; i++) {
              if (tmp[i].id === unselected.id) {
                removeIndex.unshift(i);
              }
            }
          });
        }
        CommonUtil.removeItemsArray(tmp, removeIndex);
        this.selected = tmp;
      }
    },
    // Clear active original data
    clearActiveOriginalData() {
      if (this.originalitems.length > 0) {
        this.originalitems.forEach(item => {
          item.isActive = false;
        });
      }
    },
    // Handle typing event
    handleTypingEvent() {
      clearTimeout(this.typingTimer);
      this.typingTimer = setTimeout(() => {
        this.searchTopic(this.formData.search);
      }, 1000);
    },
    // Search student by Fullname
    searchTopic(val) {
      this.items = [];
      if (val) {
        for (let i = 0; i < this.originalitems.length; i++) {
          const originalItem = this.originalitems[i];
          if (originalItem.nameEng.search(val) >= 0) {
            this.items.push(originalItem);
          }
        }
      } else {
        this.items = this.originalitems;
      }
      this.loadOldSelectedData();
    },
    // Load old selected data
    loadOldSelectedData() {
      if (this.items.length > 0) {
        this.items.forEach((item, index) => {
          const filterResult = this.selected.filter(
            selectedItem => selectedItem.id === item.id
          );
          if (filterResult.length > 0) {
            setTimeout(() => {
              this.selectRow(index);
            });
          }
        });
      }
    },
    // Get unselected item
    getUnselectedItem() {
      const result = [];
      if (this.items.length === 0) return [];
      this.items.forEach(item => {
        if (!item.isActive) {
          result.push(item);
        }
      });
      return result;
    },
    // Select row
    selectRow(index) {
      this.$refs.selectableTable.selectRow(index);
    },
    // Select All rows
    selectAllRows() {
      this.$refs.selectableTable.selectAllRows();
    },
    clearSelected() {
      this.clearActiveOriginalData();
      this.$refs.selectableTable.clearSelected();
    },
    // Redirect to view schedule page
    redirectToSchedulePage() {
      this.$router.push({
        path: UrlConstant.page.departmentHead.DH_SCHEDULE
      });
    },
    // Redirect to approved topic page
    redirectToApprovedTopicPage() {
      this.$router.push({
        path: UrlConstant.page.departmentHead.DH_APPROVED_TOPIC
      });
    },
    // Redirect to View detail topic page
    redirectToViewDetailPage(id) {
      this.$router.push({
        path: UrlConstant.page.advisor.TOPIC_DETAIL.replace(':id', id)
      });
    },
    // Get advisors
    getAdvisors() {
      CommonUtil.addLoading();
      AdvisorService.getAdvisor(result => {
        CommonUtil.removeLoading();
        if (result && result.length > 0) {
          let tmp = CommonUtil.convertToSelectBoxData(result, 'id');
          this.optionsData.advisors = tmp;
        }
      });
    },
    // Submit action
    submitAction(val) {
      CommonUtil.addLoading();
      DHService.sendTopicToCommittee(
        val,
        result => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Send topic success!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          this.reloadPage();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Send topic request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Get approved topic
    getApprovedTopic() {
      CommonUtil.addLoading();
      DHService.getApprovedTopic(
        result => {
          CommonUtil.removeLoading();
          this.items = [];
          this.originalitems = [];
          if (result && result.length > 0) {
            result.forEach((item, index) => {
              this.originalitems.push({
                index: index,
                id: item.id,
                isActive: false,
                nameEng: item.name_En,
                created_date: moment(item.createdDate).format(
                  CommonConstant.DEFAULT_TIME_FORMAT
                ),
                advisorTopicId: item.advisor.id,
                advisor: item.advisor.fullName
              });
              this.items = JSON.parse(JSON.stringify(this.originalitems));
            });
          }
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get approved topic request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    }
  }
};
</script>

<style>
#validate-topic-table-container .b-table-sticky-header {
  overflow-y: auto;
  max-height: 45vh;
}
#validate-topic-table-container
  .b-table-sticky-header
  > .table.b-table
  > thead
  > tr
  > th {
  position: sticky;
  top: 0;
  z-index: 2;
}
#validate-topic-table-container .table-primary,
#validate-topic-table-container .table-primary td {
  background: white;
}
</style>
<style scoped>
.selected-row-item {
  position: relative;
  width: 50px;
  line-height: 1.8;
}
.selected-row-item .selected-row-item-icon {
  color: green;
}
#select-all-checkbox .custom-control.custom-checkbox {
  position: absolute;
  z-index: 3;
  top: 240px;
  left: 32px;
}
</style>
<style scoped>
.tab-custom-container {
  position: relative;
  top: 2px;
  z-index: 1;
}
.tab-custom-container .tab-custom-item {
  background: #f6f6f6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.tab-custom-container .tab-custom-item:hover {
  cursor: pointer;
}
.tab-custom-container .tab-custom-item.active {
  border-bottom: 2px solid #3f6ad8;
  background: white;
  cursor: default;
}
.overlay-checkbox {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 5;
}
</style>
