<template>
  <b-row class="m-0">
    <b-col cols="12 p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">
            Student Weight Management
          </div>
          <div class="page-title-description-detail">
            Department Head can view weight of each student for every topic.
          </div>
        </div>
        <b-button
          variant="primary"
          class="float-right"
          size="sm"
          @click="actionSaveAll"
          v-if="items.length !== 0"
        >
          <font-awesome-icon icon="sort-numeric-up" class="mr-2" />
          Group
        </b-button>
        <b-button
          variant="success"
          class="float-right mr-2"
          size="sm"
          @click="actionSave"
          v-if="items.length !== 0"
        >
          <font-awesome-icon icon="save" class="mr-2" />Update
        </b-button>
      </div>
      <div class="p-3">
        <div class="card card-shadow">
          <b-row class="p-3">
            <b-col style="margin-top:10px" cols="6">
              <!-- search -->
              <div class="search-container">
                <label class="d-inline-block">Search: </label>
                <b-input-group size="sm">
                  <b-form-input
                    v-model="filter"
                    type="search"
                    id="filterInput"
                    placeholder="Enter student name or code"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button :disabled="!filter" @click="filter = ''"
                      >Clear</b-button
                    >
                  </b-input-group-append>
                </b-input-group>
              </div>
            </b-col>
            <b-col cols="6">
              <template v-if="deadline !== 0">
                <div class="mt-3">
                  <div class="p-1">
                    <strong>Deadline: </strong>
                    <span>{{ deadlineDisplay }}</span>
                  </div>
                  <!-- <div class="p-1">
                    <strong>Duration: </strong>
                    <span
                      :class="
                        duration < dangerDuration
                          ? 'text-danger'
                          : 'text-success'
                      "
                      >{{ durationDisplay }}</span
                    >
                  </div> -->
                </div>
              </template>
            </b-col>
          </b-row>
          <div class="card-body">
            <b-table
              show-empty
              id="topic-table"
              responsive="sm"
              :items="items"
              :fields="fields"
              :filter="filter"
              :current-page="tableOptions.currentPage"
              :per-page="tableOptions.perPage"
            >
              <!-- action status -->
              <template v-slot:cell(weightPointEdt)="row">
                <b-form-input
                  type="number"
                  min="1"
                  max="4"
                  class="inner-table-input"
                  v-model="row.item.weightPointEdt"
                  @blur="inputBlurEvt(row.item)"
                ></b-form-input>
              </template>
              <!-- action column -->
              <template v-slot:cell(action)="row">
                <b-button
                  variant="primary"
                  size="sm"
                  title="View advisor's reviews"
                  @click="showWeightModal(row.item)"
                >
                  <font-awesome-icon icon="external-link-alt" />
                </b-button>
              </template>
            </b-table>
            <b-row>
              <b-col cols="6">
                <b-pagination
                  v-model="tableOptions.currentPage"
                  :total-rows="rows"
                  :per-page="tableOptions.perPage"
                  size="sm"
                  aria-controls="topic-table"
                ></b-pagination>
              </b-col>
            </b-row>
            <weight-modal ref="weight-modal" />
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import moment from 'moment';
import CommonConstant from '../../common/constant/common-constant';
import UrlConstant from '../../common/constant/common-url';
import CommonUtil from '../../common/utils/common-util';
import WeightModal from './components/weight-mng/WeightMngModal';
import { DHService } from '../../services/service-provider';

export default {
  components: {
    WeightModal
  },
  data() {
    return {
      deadline: 0,
      duration: 0,
      durationDisplay: 'Time up!',
      dangerDuration: CommonConstant.DEFAULT_DANGER_DURATION,
      fields: [
        {
          key: 'code',
          label: 'Code'
        },
        {
          key: 'fullName',
          label: 'Fullname'
        },
        {
          key: 'weightPointEdt',
          label: 'Average Weight'
        },
        {
          key: 'action',
          label: 'Action'
        }
      ],
      items: [],
      filter: '',
      tableOptions: {
        totalRows: '',
        currentPage: 1,
        perPage: 10
      },
      mayChangedValue: [],
      durationInterval: ''
    };
  },
  computed: {
    rows() {
      return this.items.length;
    },
    deadlineDisplay() {
      return moment(this.deadline).format(CommonConstant.DEFAULT_TIME_FORMAT);
    }
  },
  mounted() {
    // Get topic data
    this.getTopicData();
  },
  methods: {
    setIntervalForPicking() {
      this.duration = this.deadline - moment().valueOf();
      // Check duration
      if (this.duration > 0) {
        this.durationInterval = setInterval(() => {
          this.duration = this.deadline - moment().valueOf();
          if (this.duration > 0) {
            this.durationDisplay = moment
              .utc(this.duration)
              .format(CommonConstant.DEFAULT_TIME_COUNTING_FORMAT);
          } else {
            this.durationDisplay = 'Time up!';
            clearInterval(this.durationInterval);
            this.reloadTableWithCache();
          }
        }, 1000);
      }
    },
    // Reload table when duration is expired
    reloadTableWithCache() {
      this.items = [];
      this.getTopicData();
    },
    // Reload table when save success
    reloadTable() {
      this.mayChangedValue = [];
      this.items = [];
      this.getTopicData();
    },
    inputBlurEvt(data) {
      if (data.weightPointEdt > 4 || data.weightPointEdt < 1) {
        this.items.map(item => {
          if (item.code === data.code) {
            if (data.weightPointEdt > 4) item.weightPointEdt = 4;
            if (data.weightPointEdt < 0) item.weightPointEdt = 0;
          }
          return item;
        });
      }
      const filterResult = this.mayChangedValue.filter(
        item => item.code === data.code
      );
      if (filterResult.length === 0) {
        this.mayChangedValue.push({
          code: data.code,
          weightPoint: data.weightPointEdt
        });
      } else {
        this.mayChangedValue.map(item => {
          if (item.code === data.code) {
            item.weightPoint = data.weightPointEdt;
          }
          return item;
        });
      }
    },
    // Save all student
    actionSaveAll() {
      const submitData = [];
      this.items.forEach(item => {
        submitData.push({
          code: item.code,
          weightPoint: item.weightPointEdt
        });
      });
      CommonUtil.addLoading();
      DHService.postAllStudentWeight(
        submitData,
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Save all students success!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          this.redirectToClassifyStudentPage();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Save all students request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    actionSave() {
      if (this.mayChangedValue.length > 0) {
        CommonUtil.addLoading();
        DHService.postStudentWeight(
          this.mayChangedValue,
          () => {
            CommonUtil.removeLoading();
            CommonUtil.showNotification(
              'Success',
              'Update weight point success!',
              CommonConstant.NOTI_TYPE.SUCCESS
            );
            this.reloadTable();
          },
          () => {
            CommonUtil.removeLoading();
            CommonUtil.showNotification(
              'Error',
              'Update weight point request error!',
              CommonConstant.NOTI_TYPE.ERROR
            );
          }
        );
      }
    },
    // Show schedule modal
    showWeightModal(data) {
      this.$refs['weight-modal'].init(data);
    },
    // Get topic data
    getTopicData() {
      CommonUtil.addLoading();
      DHService.getStudentWeight(
        result => {
          CommonUtil.removeLoading();
          this.deadline = result.deadline;
          result.students.forEach(item => {
            // Check cache data
            let cacheEdt = [];
            if (this.mayChangedValue.length > 0) {
              cacheEdt = this.mayChangedValue.filter(
                edtItem => edtItem.code === item.code
              );
            }
            this.items.push({
              code: item.code,
              fullName: item.fullName,
              weightPointEdt:
                cacheEdt.length === 0
                  ? item.averagePoint
                  : cacheEdt[0].weightPoint,
              reviews: item.reviews
            });
          });
          this.setIntervalForPicking();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get topics request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Redirect to student weight page
    redirectToClassifyStudentPage() {
      this.$router.push({
        path: UrlConstant.page.departmentHead.DH_CLASS_STU
      });
    }
  }
};
</script>

<style scoped>
.inner-table-input {
  border: none;
}
.search-container .input-group,
.search-container input {
  height: 38px;
}
#my_file_input {
  border: 1px solid #ced4da;
  padding: 2px;
}
</style>
