<template>
  <div class="position-relative">
    <b-row>
      <b-col cols="12" class="notification-container text-center">
        <div class="img-container">
          <img src="@/assets/team.svg" />
        </div>
        <div class="notification-title text-success">Announcement</div>
        <template v-if="announcement">
          <div class="notification-detail d-inline-block">
            <span
              >{{ announcement }}
              <font-awesome-icon
                icon="exclamation"
                class="text-danger d-inline-block ml-2"
            /></span>
            <div class="underline d-inline-block" />
          </div>
        </template>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12" md="7">
        <div class="p-3">
          <div class="card card-shadow">
            <div class="dashboard-item-header text-primary">
              <font-awesome-icon icon="users" class="ml-2" />
              Your group
            </div>
            <div class="student-list-container p-3">
              <b-table
                show-empty
                id="topic-table"
                responsive="sm"
                :items="items"
                :fields="fields"
                :current-page="tableOptions.currentPage"
                :per-page="0"
              >
                <!-- role column -->
                <template v-slot:cell(leaderCode)="row">
                  <b-badge
                    pill
                    v-if="!row.item.leaderCode"
                    variant="danger"
                    class="status-item"
                  >
                    Leader</b-badge
                  >
                  <b-badge
                    pill
                    v-if="row.item.leaderCode"
                    variant="success"
                    class="status-item"
                  >
                    Member</b-badge
                  >
                </template>
              </b-table>
            </div>
          </div>
        </div>
      </b-col>
      <b-col cols="12" md="5">
        <div class="p-3">
          <div class="card card-shadow">
            <div class="dashboard-item-header text-primary">
              <font-awesome-icon icon="user-clock" class="ml-2" />
              Enroll time
            </div>
            <!-- Already pick topic -->
            <template v-if="duration <= 0 && items.length > 0 && topicName">
              <div class="enroll-item-container">
                <div class="have-group-container text-center p-2">
                  <img src="@/assets/success.svg" />
                  <div class="have-group-title mt-2">
                    You enrolled topic
                    <span class="text-success">{{ topicName }}</span>
                    successful!
                  </div>
                </div>
                <div
                  class="text-primary text-center view-topic-text"
                  @click="redirectToViewDetailPage(topicId)"
                >
                  View topic detail >>
                </div>
              </div>
            </template>
            <!-- Not have enroll topic -->
            <template v-if="items.length === 0">
              <div class="enroll-item-container">
                <div class="have-group-container text-center p-2">
                  <img src="@/assets/network.svg" class="p-5" />
                  <div class="have-group-title mt-2 text-danger">
                    You are not in any group.
                  </div>
                </div>
              </div>
            </template>
            <!-- Not have enroll topic -->
            <template v-if="!isHaveEnrollTime && items.length > 0">
              <div class="enroll-item-container">
                <div class="have-group-container text-center p-2">
                  <img src="@/assets/no-schedule.svg" class="p-5" />
                  <div class="have-group-title mt-2 text-danger">
                    No enroll topic schedule yet.
                  </div>
                </div>
              </div>
            </template>
            <!-- Not pick topic yet -->
            <template
              v-if="
                isHaveEnrollTime &&
                  duration <= 0 &&
                  items.length > 0 &&
                  !topicName
              "
            >
              <div class="enroll-item-container">
                <div class="have-group-container text-center p-2">
                  <img src="@/assets/sad.svg" class="p-3" />
                  <div class="have-group-title text-danger mt-2">
                    Enroll topic unsuccessful!
                  </div>
                </div>
              </div>
            </template>
            <!-- Enroll topic -->
            <template v-if="duration > 0 && items.length > 0 && !topicName">
              <div class="enroll-item-container">
                <div class="p-3">
                  <div><strong>Time start: </strong> {{ enrollTime }}</div>
                  <div>
                    <strong>Time remain: </strong>
                    <div
                      class="duration-item text-success"
                      :class="
                        duration <= dangerDuration
                          ? 'text-danger'
                          : 'text-success'
                      "
                    >
                      {{ durationDisplay }}
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { StudentService } from '../../services/service-provider';
import CommonUtil from '../../common/utils/common-util';
import UrlConstant from '../../common/constant/common-url';
import CommonConstant from '../../common/constant/common-constant';
import moment from 'moment';
export default {
  computed: {
    rows() {
      return this.tableOptions.totalRows;
    }
  },
  data() {
    return {
      fields: [
        { key: 'code', label: 'Code' },
        { key: 'email', label: 'Email' },
        { key: 'fullName', label: 'FullName' },
        { key: 'leaderCode', label: 'Role' }
      ],
      tableOptions: {
        totalRows: '',
        currentPage: 1,
        perPage: 10
      },
      items: [],
      dangerDuration: CommonConstant.DEFAULT_DANGER_DURATION,
      duration: 0,
      durationDisplay: '',
      enrollTime: '00:00:00',
      enrollTimeMili: 0,
      durationInterval: '',
      announcement: '',
      isHaveEnrollTime: false,
      topicName: '',
      topicId: ''
    };
  },
  mounted() {
    this.getStudentsGroup();
    this.getPickTime();
    this.getAnnouncement();
  },
  methods: {
    // Convert data before display
    convertData(resultData) {
      // Check empty data
      if (!resultData || resultData.length === 0) return [];
      const data = JSON.parse(JSON.stringify(resultData));
      // Not swap
      if (data.length === 1) return data;

      for (let i = 0; i < data.length; i++) {
        if (!data[i].leaderCode) {
          [data[0], data[i]] = [data[i], data[0]];
        }
      }
      return data;
    },
    // Redirect to view detail page
    redirectToViewDetailPage(id) {
      this.$router.push({
        path: UrlConstant.page.student.ST_TOPIC_DETAIL.replace(':id', id)
      });
    },
    // Get announcement
    getAnnouncement() {
      CommonUtil.addLoading();
      StudentService.getAnnouncement(
        result => {
          CommonUtil.removeLoading();
          this.announcement = result;
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get announcement request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Get student group
    getStudentsGroup() {
      CommonUtil.addLoading();
      StudentService.getStudentsInGroup(
        result => {
          CommonUtil.removeLoading();
          this.items = this.convertData(result);
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get student group request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Get pick time
    getPickTime() {
      CommonUtil.addLoading();
      StudentService.getPickTime(
        result => {
          CommonUtil.removeLoading();
          if (result) {
            this.isHaveEnrollTime = true;
            this.topicId = result.topicId;
            this.duration = result.duration;
            this.enrollTimeMili = result.enrollTime;
            this.enrollTime = moment(result.enrollTime).format(
              CommonConstant.DEFAULT_TIME_FORMAT
            );
            this.topicName = result.topicName;
            if (result.duration > 0) {
              this.setIntervalForPicking();
            }
          } else {
            this.isHaveEnrollTime = false;
          }
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get pick time request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // set interval for picking topic
    setIntervalForPicking() {
      this.durationInterval = setInterval(() => {
        if (this.enrollTimeMili <= moment().valueOf()) {
          if (this.duration > 0) {
            this.duration -= 1000;
            if (this.duration < 0) {
              this.duration = 0;
            }
            this.durationDisplay = moment
              .utc(this.duration)
              .format(CommonConstant.DEFAULT_TIME_COUNTING_FORMAT);
          } else {
            this.durationDisplay = 'Time up!';
            clearInterval(this.durationInterval);
            this.getPickTime();
          }
        } else {
          this.durationDisplay = moment
            .utc(this.duration)
            .format(CommonConstant.DEFAULT_TIME_COUNTING_FORMAT);
        }
      }, 1000);
    }
  }
};
</script>

<style scoped>
.view-topic-text {
  text-decoration: underline;
}
.view-topic-text:hover {
  cursor: pointer;
}
.duration-item {
  text-align: center;
  font-size: 4rem;
  line-height: 4;
  font-weight: 600;
}
.card.card-shadow {
  min-height: calc(100vh - 380px);
}
.have-group-container .have-group-title {
  font-weight: 600;
}
.have-group-container img {
  width: 50%;
  min-width: 200px;
}
.dashboard-item-header {
  font-weight: 600;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}
.underline {
  height: 10px;
  background: rgba(128, 96, 99, 0.17);
  position: relative;
  top: -20px;
  border: 4px;
  z-index: 0;
  width: 85%;
  margin-left: 1%;
  border-radius: 10px;
}
.notification-container {
  position: relative;
  padding: 5vh 15px;
}
.notification-container .notification-title {
  font-size: 3.5rem;
  font-weight: 600;
  z-index: 1;
}
.notification-container .notification-detail span {
  position: relative;
  font-size: 1.3rem;
  z-index: 1;
}
.img-container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 10vh;
  bottom: 0;
  left: 0;
  right: 0;
}
.img-container img {
  width: 30vw;
  opacity: 0.03;
  z-index: 0;
}
</style>
