<template>
  <b-row class="m-0">
    <b-col cols="12 p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">
            List Student In Group
          </div>
          <div class="page-title-description-detail">
            List students of your group
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card card-shadow">
          <div class="card-header custom">List Student In My Group</div>
          <div v-if="items.length > 0" class="card-body">
            <b-table hover :items="items" :fields="fields" show-empty>
            </b-table>
          </div>
          <div v-else class="card-body">
            <h3 class="text-danger">You didn't have group yet!</h3>
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import { StudentService } from '../../services/service-provider';
import CommonUtil from '../../common/utils/common-util';
export default {
  data() {
    return {
      fields: [
        { key: 'code', label: 'Code' },
        { key: 'email', label: 'Email' },
        { key: 'fullName', label: 'FullName' },
        { key: 'studentGroupId', label: 'Group No' }
        // { key: 'role', label: 'Role' }
      ],
      topic: {},
      items: []
    };
  },
  mounted() {
    this.getStudentsGroup();
  },
  methods: {
    getStudentsGroup() {
      CommonUtil.addLoading();
      StudentService.getStudentsInGroup(
        result => {
          CommonUtil.removeLoading();
          this.items = result.students;
        },
        () => {
          CommonUtil.removeLoading();
        }
      );
    }
  }
};
</script>

<style></style>
