<template>
  <b-row class="m-0">
    <b-col cols="12" class="p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">Capstone Management</div>
          <div class="page-title-description-detail">
            Student can view public topics.
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card card-shadow">
          <div class="card-header custom">List listing Topic</div>
          <!-- time picking -->
          <div style="margin-top:15px;margin-left:30px">
            <h5 v-if="items.length > 0" style="font-weight: bold;">
              Time picking topic: {{ timePicking }}
            </h5>
            <template v-if="countingDuration">
              <h6
                v-if="tmpTimePicking <= currentDate"
                style="font-weight: bold;"
              >
                Time remaining:
                <strong class="text-danger">{{ countingDuration }}</strong>
              </h6>
            </template>
          </div>
          <div class="card-body">
            <b-table
              show-empty
              hover
              :items="items"
              :fields="fields"
              :current-page="tableOptions.currentPage"
              :per-page="tableOptions.perPage"
              head-variant="light"
              @onfilteref="onFiltered"
            >
              <!-- status column -->
              <template v-slot:cell(status)="row">
                <b-badge
                  pill
                  v-if="row.item.status === 8"
                  variant="warning"
                  class="status-item"
                >
                  Publish
                </b-badge>
                <b-badge
                  pill
                  v-if="row.item.status === 15"
                  variant="success"
                  class="status-item"
                >
                  Available
                </b-badge>
                <b-badge
                  pill
                  v-if="row.item.status === 9"
                  variant="danger"
                  class="status-item"
                >
                  Taking
                </b-badge>
              </template>
              <!-- action column -->
              <template v-slot:cell(action)="row">
                <b-button
                  @click="redirectToViewDetailPage(row.item.id)"
                  variant="primary"
                  size="sm"
                  title="View topic detail"
                >
                  <font-awesome-icon icon="external-link-alt" />
                </b-button>
                <b-button
                  v-if="row.item.status === 15 && tmpDuration > 0"
                  v-b-modal.pick-topic-modal
                  @click="getTopicId(row.item)"
                  variant="warning"
                  size="sm"
                  title="Pick topic"
                >
                  <font-awesome-icon icon="thumbtack" />
                </b-button>
              </template>
            </b-table>
            <b-modal
              title="Confirm"
              :header-bg-variant="headerBgVariant"
              :header-text-variant="headerTextVariant"
              centered
              id="pick-topic-modal"
              no-stacking
            >
              <template v-slot:default="">
                <h5>Are you want to choose this topic?</h5>
              </template>
              <template v-slot:modal-footer="{ ok, cancel }">
                <!-- Emulate built in modal footer ok and cancel button actions -->
                <b-button
                  v-b-modal.fill-information-modal
                  variant="info"
                  size="sm"
                >
                  OK
                </b-button>
                <b-button size="sm" variant="danger" @click="cancel()">
                  Cancel
                </b-button>
              </template>
            </b-modal>
            <b-modal
              id="fill-information-modal"
              title="Please fill information"
              @ok="pickTopic"
            >
              <b-container fluid>
                <b-row>
                  <b-col sm="3">
                    <label>Phone</label>
                  </b-col>
                  <b-col sm="9">
                    <b-form-input type="text" v-model="phone"></b-form-input>
                  </b-col>
                </b-row>
              </b-container>
            </b-modal>
            <b-pagination
              v-model="tableOptions.currentPage"
              :total-rows="tableOptions.totalRows"
              :per-page="tableOptions.perPage"
              size="sm"
            ></b-pagination>
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>
<script>
import UrlConstant from '../../common/constant/common-url';
import CommonUtil from '../../common/utils/common-util';
import CommonConstant from '../../common/constant/common-constant';
import moment from 'moment';
import { TopicService, StudentService } from '../../services/service-provider';

export default {
  data() {
    return {
      durationInterval: '',
      headerBgVariant: 'info',
      headerTextVariant: 'light',
      fields: [
        { key: 'nameTopic', label: 'Capstone Topic' },
        { key: 'advisor', label: 'Advisor' },
        { key: 'status', label: 'Status' },
        { key: 'action', label: 'Action' }
      ],
      items: [],
      topicId: '',
      topicName: '',
      phone: '',
      currentDate: '',
      timePicking: '',
      tmpTimePicking: '',
      duration: '',
      tmpDuration: '',
      countingDuration: '',
      tableOptions: {
        totalRows: 1,
        currentPage: 1,
        perPage: 10
      }
    };
  },
  watch: {
    items(val) {
      this.tableOptions.totalRows = val.length;
    }
  },
  mounted() {
    // set the initial number of items
    this.tableOptions.totalRows = this.items.length;
    this.getPickTime();
    this.getTopicData();
  },
  methods: {
    // trigger pagnination to update the number of pages
    onFiltered(filteredItems) {
      this.tableOptions.totalRows = filteredItems.length;
      this.tableOptions.currentPage = 1;
    },
    redirectToViewDetailPage(id) {
      this.$router.push({
        path: UrlConstant.page.student.ST_TOPIC_DETAIL.replace(':id', id)
      });
    },
    // reloadPage
    reloadPage() {
      this.items = [];
      this.topicId = '';
      this.getTopicData();
    },
    // get topic id
    getTopicId(item) {
      this.topicId = item.id;
      this.topicName = item.nameTopic;
    },
    // set interval for picking topic
    setIntervalForPicking() {
      this.durationInterval = setInterval(() => {
        if (this.tmpDuration > 0) {
          this.countingDuration = this.tmpDuration - 1000;
          this.tmpDuration -= 1000;
          if (this.tmpDuration < 0) {
            this.tmpDuration = 0;
          }
          this.countingDuration = moment
            .utc(this.tmpDuration)
            .format(CommonConstant.DEFAULT_TIME_COUNTING_FORMAT);
        } else if (this.tmpDuration === 0) {
          this.reloadPage();
          clearInterval(this.durationInterval);
        }
      }, 1000);
    },
    // get pick-time
    getPickTime() {
      CommonUtil.addLoading();
      StudentService.getPickTime(
        result => {
          CommonUtil.removeLoading();
          this.timePicking = moment(result.enrollTime).format(
            CommonConstant.DEFAULT_TIME_FORMAT
          );
          this.tmpTimePicking = result.enrollTime;
          this.currentDate = moment().valueOf();
          this.duration = moment
            .utc(result.duration)
            .format(CommonConstant.DEFAULT_TIME_COUNTING_FORMAT);
          this.tmpDuration = result.duration;
          if (result.duration > 0) {
            this.setIntervalForPicking();
          }
        },
        () => {
          CommonUtil.removeLoading();
        }
      );
    },
    // pick topic
    pickTopic() {
      CommonUtil.addLoading();
      StudentService.pickTopic(
        {
          topicId: this.topicId,
          phone: this.phone
        },
        result => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Pick topic success!!! Result will to send email later!!!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          this.reloadPage();
        },
        () => {
          CommonUtil.showNotification(
            'Error',
            'Pick topic failed!!! Please try again.',
            CommonConstant.NOTI_TYPE.ERROR
          );
          CommonUtil.removeLoading();
        }
      );
    },
    // get topic data
    getTopicData() {
      CommonUtil.addLoading();
      TopicService.studentGetTopic(
        topic => {
          CommonUtil.removeLoading();
          if (topic && topic.length > 0) {
            topic.forEach(item => {
              this.items.push({
                id: item.id,
                nameTopic: item.name_En,
                advisor: item.advisor.fullName,
                status: item.status
              });
            });
          }
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Something error!!! Please try again.',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    }
  }
};
</script>
<style scoped>
.status-item {
  width: 80px;
}
</style>
