<template>
  <b-row class="m-0">
    <b-col cols="12 p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">Topic In Progress</div>
          <div class="page-title-description-detail">
            The current topic which student is doing
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card card-shadow">
          <!-- <div class="card-header custom">E-Broker</div> -->
          <div class="card-body">
            <div v-if="studentGrade">
              <b-table-simple small caption-top responsive>
                <b-thead head-variant="dark">
                  <b-tr>
                    <b-th>CATEGORY</b-th>
                    <b-th>ITEM</b-th>
                    <b-th>PERCENT</b-th>
                    <b-th>VALUE</b-th>
                    <b-th>NOTE</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody>
                  <b-tr v-if="studentGrade.finalProject">
                    <b-th rowspan="2">Final Project</b-th>
                    <b-th class="text-left">
                      {{
                        `${
                          studentGrade.finalProject.name !== undefined
                            ? studentGrade.finalProject.name
                            : ''
                        }`
                      }}
                    </b-th>
                    <b-td>
                      {{
                        `${(studentGrade.finalProject.percent * 100).toFixed(
                          1
                        )} %`
                      }}
                    </b-td>
                    <b-td>
                      {{ studentGrade.finalProject.value }}
                    </b-td>
                    <b-td>{{
                      studentGrade.finalProject.note == null
                        ? ''
                        : studentGrade.finalProject.note
                    }}</b-td>
                  </b-tr>
                  <b-tr v-if="studentGrade.finalProject">
                    <b-th class="text-left">Total</b-th>
                    <b-td>{{
                      `${(studentGrade.finalProject.percent * 100).toFixed(
                        1
                      )} %`
                    }}</b-td>
                    <b-td>
                      {{ `${studentGrade.finalProject.value}` }}
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr v-if="studentGrade.finalProjectResit !== null">
                    <b-th rowspan="2">Final Project Resit</b-th>
                    <b-th class="text-left">Final Project Resit</b-th>
                    <b-td>50.0 %</b-td>
                    <b-td>{{ studentGrade.finalProjectResit.value }}</b-td>
                    <b-td>{{ studentGrade.finalProjectResit.note }}</b-td>
                  </b-tr>
                  <b-tr v-if="studentGrade.finalProjectResit !== null">
                    <b-th class="text-left">Total</b-th>
                    <b-td>50.0 %</b-td>
                    <b-td>{{ studentGrade.finalProjectResit.value }}</b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr
                    v-for="(item, index) in studentGrade.reports"
                    v-bind:key="item.gradeId"
                  >
                    <b-th v-if="index === 0" rowspan="10">Reports</b-th>
                    <b-th class="text-left">
                      {{ `${item.name}` }}
                    </b-th>
                    <b-td>
                      {{ `${(item.percent * 100).toFixed(1)} %` }}
                    </b-td>
                    <b-td>{{ item.value }}</b-td>
                    <b-td>{{ item.note ? item.note : '' }}</b-td>
                  </b-tr>
                  <b-tr v-if="studentGrade.reports.length > 0">
                    <b-th class="text-left">Total</b-th>
                    <b-td>50.0 %</b-td>
                    <b-td>{{ averageReportMark.toFixed(1) }}</b-td>
                    <b-td></b-td>
                  </b-tr>
                </b-tbody>
                <b-tfoot>
                  <b-tr>
                    <b-td rowspan="2" colspan="1" class="text-left">
                      COURSE TOTAL
                    </b-td>
                    <b-td class="text-left">AVERAGE</b-td>
                    <b-td colspan="3" class="text-left">
                      {{ averageStudentMark.toFixed(1) }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="text-left">STATUS</b-td>
                    <b-td
                      colspan="3"
                      :class="
                        `text-left ${
                          studentGrade.status === 2
                            ? 'text-success'
                            : 'text-danger'
                        }`
                      "
                      >{{ `${getStatus(studentGrade.status)}` }}</b-td
                    >
                  </b-tr>
                </b-tfoot>
              </b-table-simple>
            </div>
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import { StudentService } from '../../services/service-provider';
import CommonConstant from '../../common/constant/common-constant';
import CommonUtil from '../../common/utils/common-util';
export default {
  data() {
    return {
      studentGrade: null,
      averageReportMark: 0,
      averageStudentMark: 0
    };
  },
  created() {
    this.getStudentDetail();
  },
  mounted() {},
  computed: {},
  watch: {},
  methods: {
    getStudentDetail() {
      this.studentGrade = null;
      CommonUtil.addLoading();
      StudentService.getStudentGrade(
        res => {
          this.studentGrade = res;
          if (res.reports && res.finalProject) {
            this.averageReportMark =
              this.studentGrade.reports.reduce(
                (acc, curVal) => acc + curVal.percent * curVal.value,
                0
              ) * 2;
            this.averageStudentMark =
              (this.studentGrade.finalProject.value + this.averageReportMark) /
              2;
          }
          CommonUtil.removeLoading();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get student detail request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    getStatus(statusId) {
      switch (statusId) {
        case 1:
          return 'Studying';
        case 2:
          return 'PASSED';
        case 3:
          return 'FAILED';
        case 4:
          return 'Prepare to Defend';
        case 5:
          return 'Resist';
        default:
          return 'Not Yet';
      }
    }
  }
};
</script>

<style></style>
