<template>
  <div class="topic-detail-container">
    <div class="body-container p-3">
      <div class="body pr-3 pl-3 pb-3 pt-1">
        <b-row class="group-first-info">
          <b-col cols="6 mb-2">
            <div class="detail-label d-inline-block">
              Profession:
            </div>
            <div class="detail-info d-inline-block">
              {{ detailData.program.shortName }}
            </div>
          </b-col>
          <b-col cols="6 mb-2">
            <div class="detail-label d-inline-block">
              Specialty:
            </div>
            <div class="detail-info d-inline-block">
              {{ detailData.program.name }}
            </div>
          </b-col>
          <b-col cols="12 mb-2">
            <div class="detail-label d-inline-block">
              Kind of person make registers:
            </div>
            <div class="detail-info d-inline-block">
              {{ detailData.advisor.fullName }}
            </div>
          </b-col>
        </b-row>
        <b-row>
          <topic-detail-display-info ref="topic-detail-content" />
        </b-row>
        <b-row>
          <topic-detail-display-info ref="topic-detail-comment" />
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import TableSuperVisorDetail from './TableSupervisorDetail';
import TopicDetailDisplayInfo from './TopicDetailDisplayInfo';
import CommonConstant from '../../../../common/constant/common-constant';
import CommonUtil from '../../../../common/utils/common-util';
import { TopicService } from '../../../../services/service-provider';
export default {
  components: {
    tableSuperDetail: TableSuperVisorDetail,
    topicDetailDisplayInfo: TopicDetailDisplayInfo
  },
  data() {
    return {
      duplicateTopic: {},
      isShowBody: false,
      detailData: {
        name_En: '',
        program: {
          name: '',
          shortName: ''
        },
        advisor: {
          fullName: ''
        }
      }
    };
  },
  methods: {
    init(data) {
      this.duplicateTopic = data;
      this.getDetailData();
      this.colorDuplicatedTargetTopic();
    },
    // Init topic detail
    initTopicDetail(data) {
      this.$refs['topic-detail-content'].clear();
      this.$refs['topic-detail-content'].init(
        data,
        'Register content of Capstone Project',
        'Capstone Project name',
        [
          'abstractionHtml',
          'theoryHtml',
          'mainFunctionHtml',
          'otherProductsHtml'
        ]
      );
      this.$refs['topic-detail-comment'].clear();
      this.$refs['topic-detail-comment'].init(data, 'Other comment', '', [
        'otherCommentsHtml'
      ]);
    },
    getDetailData() {
      CommonUtil.addLoading();
      TopicService.getTopicById(
        this.duplicateTopic.id,
        result => {
          this.detailData = result;
          this.colorDuplicatedWord();
          this.initTopicDetail(result);
          CommonUtil.removeLoading();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get topic by id request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    colorDuplicatedWord() {
      let abstractionArr = this.detailData.abstraction.split('.');
      abstractionArr.forEach(s => {
        s = s.trim();
        let count = 0;
        for (let i = 0; i < this.duplicateTopic.duplicateWords.length; i++) {
          if (
            s
              .toLowerCase()
              .includes(this.duplicateTopic.duplicateWords[i].toLowerCase())
          ) {
            count++;
          }
          if (count === 2) {
            this.detailData.abstractionHtml = this.detailData.abstractionHtml.replace(
              s,
              ` <span class="span-text">${s}</span> `
            );
            break;
          }
        }
      });
      let mainFunctionArr = this.detailData.mainFunction.split('.');
      mainFunctionArr.forEach(s => {
        s = s.trim();
        let count = 0;
        for (let i = 0; i < this.duplicateTopic.duplicateWords.length; i++) {
          if (
            s
              .toLowerCase()
              .includes(this.duplicateTopic.duplicateWords[i].toLowerCase())
          ) {
            count++;
          }
          if (count === 2) {
            this.detailData.mainFunctionHtml = this.detailData.mainFunctionHtml.replace(
              s,
              ` <span class="span-text">${s}</span> `
            );
            break;
          }
        }
      });
      let otherCommentsArr = this.detailData.otherComments.split('.');
      otherCommentsArr.forEach(s => {
        s = s.trim();
        let count = 0;
        for (let i = 0; i < this.duplicateTopic.duplicateWords.length; i++) {
          if (
            s
              .toLowerCase()
              .includes(this.duplicateTopic.duplicateWords[i].toLowerCase())
          ) {
            count++;
          }
          if (count === 2) {
            this.detailData.otherCommentsHtml = this.detailData.otherCommentsHtml.replace(
              s,
              ` <span class="span-text">${s}</span> `
            );
            break;
          }
        }
      });
      let theoryArr = this.detailData.theory.split('.');
      theoryArr.forEach(s => {
        s = s.trim();
        let count = 0;
        for (let i = 0; i < this.duplicateTopic.duplicateWords.length; i++) {
          if (
            s
              .toLowerCase()
              .includes(this.duplicateTopic.duplicateWords[i].toLowerCase())
          ) {
            count++;
          }
          if (count === 2) {
            this.detailData.theoryHtml = this.detailData.theoryHtml.replace(
              s,
              ` <span class="span-text">${s}</span> `
            );
            break;
          }
        }
      });
    },
    colorDuplicatedTargetTopic() {
      this.$emit(
        'color-duplicate-word',
        this.duplicateTopic.duplicateWords,
        true
      );
    }
  }
};
</script>

<style scoped>
.topic-detail-container .header {
  background: #013972;
  font-weight: 600;
  color: white;
}
.topic-detail-container .header:hover {
  background-color: #4ba89c;
}
.topic-detail-container .header:active {
  background-color: #4ba89c;
  transform: translateY(1px);
}
</style>
