<template>
  <div>
    <b-modal
      centered
      ref="ts-schedule-modal"
      :header-bg-variant="headerBgVariant"
      :header-text-variant="headerTextVariant"
      hide-footer
      title="New Schedule"
    >
      <div>
        <div>
          <ul>
            <li
              class="error-message"
              v-for="(error, index) in error"
              :key="index"
            >
              {{ error }}
            </li>
          </ul>
        </div>
        <label for="input-title">Select start date: </label>
        <date-picker
          id="ts-schedule-modal"
          type="datetime"
          v-model="formData.dateRange"
          lang="en"
          :format="datePickerOption.format"
          :not-before="notBefore"
          :time-picker-options="{
            start: '00:00',
            step: '00:30',
            end: '23:30'
          }"
          confirm
          class="w-100"
        /><label for="input-title">Select end date: </label>
        <date-picker
          id="ts-schedule-modal"
          type="datetime"
          v-model="formData.endDateRange"
          lang="en"
          :format="datePickerOption.format"
          :not-before="notBefore"
          :time-picker-options="{
            start: '00:00',
            step: '00:30',
            end: '23:30'
          }"
          confirm
          class="w-100"
        />
      </div>
      <b-button
        variant="success"
        size="sm"
        class="mt-3 float-right"
        @click="submit()"
      >
        Make schedule
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import moment from 'moment';
import CommonConstant from '../../../../common/constant/common-constant';
import DatePicker from 'vue2-datepicker';

export default {
  components: {
    DatePicker
  },
  data() {
    return {
      headerBgVariant: 'info',
      headerTextVariant: 'light',
      formData: {
        oldTime: moment().valueOf(),
        oldTimeFormat: '',
        dateRange: '',
        endDateRange: ''
      },
      notBefore: new Date(),
      datePickerOption: {
        format: CommonConstant.DEFAULT_TIME_RANGE_FORMAT
      },
      error: []
    };
  },
  computed: {
    oldTimeFormat() {
      return moment(this.formData.oldTime).format(
        CommonConstant.DEFAULT_TIME_RANGE_FORMAT
      );
    }
  },
  methods: {
    init(data) {
      this.showModal();
      this.notBefore = new Date();
    },
    showModal() {
      this.$refs['ts-schedule-modal'].show();
    },
    hideModal() {
      this.$refs['ts-schedule-modal'].hide();
    },
    submit() {
      this.formData.dateRange = moment(this.formData.dateRange).valueOf();
      this.formData.endDateRange = moment(this.formData.endDateRange).valueOf();
      if (this.formData.dateRange < this.formData.endDateRange) {
        this.$emit('submit', {
          startDate: this.formData.dateRange,
          endDate: this.formData.endDateRange
        });
      } else if (this.formData.dateRange >= this.formData.endDateRange) {
        this.error = [];
        this.error.push('End date must be greater than start date!!!');
        this.showModal();
      } else {
        this.error = [];
        this.error.push('Please choose time!!!');
        this.showModal();
      }
    }
  }
};
</script>

<style>
#schedule-modal input {
  font-size: 1rem !important;
  font-weight: 400;
  height: 38px;
}
.error-message {
  color: red;
}
</style>
