<template>
  <div>
    <b-row class="m-0 mb-3">
      <b-col cols="12 p-0 m-0">
        <div class="page-title-container">
          <div class="card card-shadow d-inline-block">
            <font-awesome-icon icon="bell" class="page-title-item" />
          </div>
          <div class="d-inline-block pl-2">
            <div class="page-title-description-header">
              Set announcement
            </div>
            <div class="page-title-description-detail">
              Training staff can change announcement.
            </div>
          </div>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12" class="m-0">
        <div class="p-3">
          <div class="card card-shadow">
            <div class="card-header custom">
              <b-row>
                <b-col cols="12">Set announcement</b-col>
              </b-row>
            </div>
            <div class="card-body">
              <label for="input-title">Announcement:</label>
              <b-form-input
                id="input-title"
                v-model="formData.announcement"
                placeholder="Enter Announcement"
                class="mb-3"
                trim
              />
              <label for="input-title">Unauthorize Announcement:</label>
              <b-form-input
                id="input-title"
                v-model="formData.unauthorizeAnnouncement"
                placeholder="Enter Unauthorize Announcement"
                class="mb-3"
                trim
              />
              <b-button
                variant="primary"
                class="float-right"
                @click="updateAction"
                >Update</b-button
              >
            </div>
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import CommonUtil from '../../common/utils/common-util';
import CommonConstant from '../../common/constant/common-constant';
import {
  StudentService,
  TrainingStaffService
} from '../../services/service-provider';
export default {
  mounted() {
    this.getAnnouncement();
  },
  data() {
    return {
      formData: {
        announcement: '',
        unauthorizeAnnouncement: ''
      }
    };
  },
  methods: {
    updateAction() {
      CommonUtil.addLoading();
      const data = {
        authorize: this.formData.announcement,
        unauthorize: this.formData.unauthorizeAnnouncement
      };
      TrainingStaffService.updateAnnouncement(
        data,
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Update announcement successful!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Update announcement fail!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Get unauthorize announcement
    getUnauthorizeAnnouncement() {
      CommonUtil.addLoading();
      StudentService.getUnauthorizeAnnouncement(
        result => {
          CommonUtil.removeLoading();
          this.formData.unauthorizeAnnouncement = result;
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get unauthorize announcement request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Get announcement
    getAnnouncement() {
      CommonUtil.addLoading();
      TrainingStaffService.getAnnouncement(
        result => {
          CommonUtil.removeLoading();
          this.formData.announcement = result.authorize;
          this.formData.unauthorizeAnnouncement = result.unauthorize;
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get announcement request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    }
  }
};
</script>

<style scoped></style>
