<template>
  <b-row class="m-0">
    <b-col cols="12 p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">
            Group Management
          </div>
          <div class="page-title-description-detail">
            Training Staff can view group student
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card card-shadow">
          <div class="card-header custom">Group Management Table</div>
          <div class="card-body">
            <b-table
              show-empty
              hover
              :items="items"
              :fields="fields"
              responsive="sm"
              :current-page="tableOptions.currentPage"
              :per-page="tableOptions.perPage"
              @filtered="onFiltered"
            >
              <!-- Code column -->
              <template v-slot:cell(code)="row">
                <template v-if="row.item.role === 'Leader'">
                  <b>{{ row.item.code }}</b>
                </template>
                <template v-else>
                  {{ row.item.code }}
                </template>
              </template>
              <!-- FullName column -->
              <template v-slot:cell(fullName)="row">
                <template v-if="row.item.role === 'Leader'">
                  <b>{{ row.item.fullName }}</b>
                </template>
                <template v-else>
                  {{ row.item.fullName }}
                </template>
              </template>
              <!-- groupId column -->
              <template v-slot:cell(group)="row">
                <template v-if="row.item.role === 'Leader'">
                  <b>{{ row.item.group }}</b>
                </template>
                <template v-else>
                  {{ row.item.group }}
                </template>
              </template>
              <!-- Topic column -->
              <template v-slot:cell(topicName)="row">
                <template v-if="row.item.role === 'Leader'">
                  <b>{{ row.item.topicName }}</b>
                </template>
                <template v-else>
                  {{ row.item.topicName }}
                </template>
              </template>
              <!-- Leadder column -->
              <template v-slot:cell(role)="row">
                <template v-if="row.item.role === 'Leader'">
                  <b>{{ row.item.role }}</b>
                </template>

                <template v-else>
                  {{ row.item.role }}
                </template>
              </template>
              <!-- Advisor column -->
              <template v-slot:cell(advisorName)="row">
                <template v-if="row.item.role == 'Leader'">
                  <b>{{ row.item.advisorName }}</b>
                </template>
              </template>
            </b-table>
            <b-pagination
              v-model="tableOptions.currentPage"
              :total-rows="tableOptions.totalRows"
              :per-page="tableOptions.perPage"
              size="sm"
            ></b-pagination>
            <b-button
              variant="success"
              class="float-right"
              style="margin-right:30px"
              @click="exportExcel"
              v-if="items.length !== 0"
            >
              Export Excel
            </b-button>
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>
<script>
// import UrlConstant from '../../common/constant/common-url';
import CommonUtil from '../../common/utils/common-util';
import { TrainingStaffService } from '../../services/service-provider';
export default {
  data() {
    return {
      fields: [
        { key: 'code', label: 'Code' },
        { key: 'fullName', label: 'Full Name' },
        { key: 'email', label: 'Email' },
        { key: 'phone', label: 'Phone' },
        { key: 'group', label: 'Group' },
        { key: 'role', label: 'Role' },
        { key: 'topicName', label: 'Topic' },
        { key: 'advisorName', label: 'Advisor' }
      ],
      items: [],
      tableOptions: {
        totalRows: 1,
        currentPage: 1,
        perPage: 10
      }
    };
  },
  watch: {
    items(val) {
      this.tableOptions.totalRows = val.length;
    }
  },
  mounted() {
    // Set the initial number of items
    this.tableOptions.totalRows = this.items.length;
    this.getGroupData();
  },
  methods: {
    // Trigger pagination to update the number of buttons/pages due to filtering
    onFiltered(filteredItems) {
      this.tableOptions.totalRows = filteredItems.length;
      this.tableOptions.currentPage = 1;
    },
    // Redirect to Create topic page
    // redirectToSetDurationPage() {
    //   this.$router.push({
    //     path: UrlConstant.page.advisor.CREATE_TOPIC
    //   });
    // },
    // Get topic data
    getGroupData() {
      CommonUtil.addLoading();
      TrainingStaffService.getGroupStudentBySemesterAndProgram(
        {
          // semesterId = this.$route.params.semesterId,
          // programId = this.$route.params.programId
          semesterId: 1,
          programId: 1
        },
        result => {
          CommonUtil.removeLoading();
          if (result && result.length > 0) {
            this.items = result;
          }
        },
        () => {
          CommonUtil.removeLoading();
        }
      );
    },
    exportExcel() {
      window.open(
        TrainingStaffService.getExportExcelListGroupStudentAfterPickTopic({
          semesterId: 4,
          programId: 1
        })
      );
    }
  }
};
</script>
<style scoped>
.status-item {
  width: 80px;
}
</style>
