<template>
  <b-row class="m-0">
    <b-col cols="12 p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">
            Student Management
          </div>
          <div class="page-title-description-detail d-inline-block">
            Training Staff can import list students.
          </div>
        </div>
        <b-button
          v-if="isNew === true && listStudent.length != 0"
          variant="success"
          class="float-right"
          @click="sendStudentToDH"
        >
          <font-awesome-icon icon="paper-plane" class="mr-2" />Send to
          Department Head
        </b-button>
      </div>
      <div class="p-3">
        <div class="card card-shadow">
          <div class="card-header custom">
            <b-row>
              <b-col cols="12">
                <div>
                  <label for="my_file_input">Select file: </label>
                  <input
                    type="file"
                    id="my_file_input"
                    accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    @change="handle"
                  />
                  <b-button variant="primary" @click="submitForm"
                    >Upload</b-button
                  >
                </div>
              </b-col>
              <b-col cols="6">
                <!-- search -->
                <div class="search-container">
                  <label class="d-inline-block">Search: </label>
                  <b-input-group size="sm">
                    <b-form-input
                      v-model="filter"
                      type="search"
                      id="filterInput"
                      placeholder="Enter student name or code"
                    ></b-form-input>
                    <b-input-group-append>
                      <b-button :disabled="!filter" @click="filter = ''"
                        >Clear</b-button
                      >
                    </b-input-group-append>
                  </b-input-group>
                </div>
              </b-col>
              <b-col cols="6">
                <div>
                  <label class="d-inline-block">Sort by: </label>
                  <b-form-select
                    v-model="isNew"
                    :options="selectStatus"
                    @change="getStudents"
                  ></b-form-select>
                </div>
              </b-col>
              <b-col cols="6"> </b-col>
            </b-row>
          </div>
          <div class="card-body">
            <b-table
              show-empty
              hover
              head-variant="light"
              :items="listStudent"
              :fields="fields"
              :filter="filter"
              :current-page="tableOptions.currentPage"
              :per-page="tableOptions.perPage"
              @filtered="onFiltered"
            >
              <template v-slot:empty="scope">
                <div class="text-center">{{ scope.emptyText }}</div>
              </template>
              <template v-slot:cell(status)="row">
                <b-badge
                  pill
                  variant="primary"
                  class="status-item"
                  v-if="row.item.status === 1"
                >
                  New
                </b-badge>
                <b-badge v-else pill class="status-item" variant="danger"
                  >Pending grouping</b-badge
                >
              </template>
            </b-table>
            <b-row>
              <b-col cols="6">
                <b-pagination
                  v-model="tableOptions.currentPage"
                  :total-rows="tableOptions.totalRows"
                  :per-page="tableOptions.perPage"
                  size="sm"
                ></b-pagination>
              </b-col>
              <b-col cols="6">
                <div class="d-inline-block float-right">
                  <strong>Total: </strong>
                  {{ listStudent.length }} student(s)
                </div>
              </b-col>
            </b-row>
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>
<script>
import XLSX from 'xlsx';
import {
  StudentService,
  ProgramService
} from '../../services/service-provider';
import CommonUtil from '../../common/utils/common-util';
import CommonConstant from '../../common/constant/common-constant';

export default {
  data() {
    return {
      fields: [
        { key: 'code', label: 'Code' },
        { key: 'name', label: 'Student' },
        { key: 'program', label: 'Program' },
        { key: 'status', label: 'Status' }
      ],
      tableOptions: {
        totalRows: 1,
        currentPage: 1,
        perPage: 10
      },
      filter: '',
      isNew: false,
      selectStatus: [
        { value: true, text: 'New' },
        { value: false, text: 'Pending Grouping' }
      ],
      formData: {
        students: []
      },
      program: [],
      programNameMap: {},
      listStudent: []
    };
  },
  watch: {
    listStudent(val) {
      this.tableOptions.totalRows = val.length;
    }
  },
  mounted() {
    this.getProgram();
    this.tableOptions.totalRows = this.listStudent.length;
    this.getStudents();
  },
  methods: {
    // reload pages
    reloadPage() {
      this.listStudent = [];
      this.getStudents();
    },
    // send student to dh
    sendStudentToDH() {
      CommonUtil.addLoading();
      const data = this.listStudent.map(item => {
        return item.code;
      });
      StudentService.sendStudentToDh(
        data,
        result => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Send student to Department Head success!!!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          this.isNew = false;
          this.reloadPage();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Send failed!!! Please try again',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // trigger pagnination to update the number of pages
    onFiltered(filteredItems) {
      this.tableOptions.totalRows = filteredItems.length;
      this.tableOptions.currentPage = 1;
    },
    // import student
    submitForm() {
      const convertedData = this.convertData();
      if (
        convertedData === null ||
        convertedData === [] ||
        convertedData.length === 0
      ) {
        CommonUtil.showNotification(
          'Error',
          'File error, please check format file!!!',
          CommonConstant.NOTI_TYPE.ERROR
        );
      } else {
        CommonUtil.addLoading();
        for (let i = 0; i < convertedData.length; i++) {
          for (let j = 0; j < this.program.length; j++) {
            if (convertedData[i].programId === this.program[j].shortName) {
              convertedData[i].programId = this.program[j].id;
            }
          }
        }
        StudentService.createStudent(
          convertedData,
          result => {
            CommonUtil.showNotification(
              'Success',
              'Import student successfull!',
              CommonConstant.NOTI_TYPE.SUCCESS
            );
            CommonUtil.removeLoading();
            this.isNew = true;
            this.getStudents();
          },
          () => {
            CommonUtil.removeLoading();
            CommonUtil.showNotification(
              'Error',
              'Something error, please try again!',
              CommonConstant.NOTI_TYPE.ERROR
            );
          }
        );
      }
    },
    convertData() {
      const tmp = JSON.parse(JSON.stringify(this.formData));
      tmp.students.forEach((element, index) => {
        if (
          element.length === 0 ||
          element[1] === null ||
          element[2] === null
        ) {
          tmp.students.splice(index, 1);
        }
      });
      let student = [];
      try {
        student = tmp.students.map(item => ({
          code: item[1],
          fullname: item[2],
          programId: this.programNameMap[item[3].substring(0, 2).toLowerCase()]
        }));
      } catch (error) {}
      return student;
    },
    // get student
    getStudents() {
      CommonUtil.addLoading();
      StudentService.getStudent(
        this.isNew,
        result => {
          this.listStudent = [];
          result.forEach(item => {
            this.listStudent.push({
              code: item.code,
              name: item.fullName,
              program: item.programName,
              status: item.status
            });
          });
          CommonUtil.removeLoading();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get students request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Get program
    getProgram() {
      CommonUtil.addLoading();
      ProgramService.getProgram(
        result => {
          CommonUtil.removeLoading();
          result.forEach(item => {
            if (item.id !== 2) {
              item.id = 1;
            }
            this.programNameMap[item.shortName.toLowerCase()] = item.id;
            this.program.push({
              shortName: item.shortName,
              id: item.id
            });
          });
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get programs request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // import excel/csv file
    handle(e) {
      this.formData.students = [];
      let oFile = e.target.files[0];
      const reader = new FileReader();
      reader.onload = e => {
        let result = reader.result;
        let data = new Uint8Array(result);
        let arr = [];
        for (let i = 0; i !== data.length; ++i) {
          arr[i] = String.fromCharCode(data[i]);
        }
        let binaryStr = arr.join('');
        let workbook = XLSX.read(binaryStr, {
          type: 'binary'
        });
        let firstSheetName = workbook.SheetNames[0];
        let worksheet = workbook.Sheets[firstSheetName];
        let dataJson = XLSX.utils.sheet_to_json(worksheet, { header: 1 });
        for (let i = 1; i < dataJson.length; i++) {
          this.formData.students.push(dataJson[i]);
        }
      };
      reader.readAsArrayBuffer(oFile);
    }
  }
};
</script>
<style scoped>
.search-container .input-group,
.search-container input {
  height: 38px;
}
#my_file_input {
  border: 1px solid #ced4da;
  padding: 2px;
}
.title-table {
  text-align: center;
  margin-bottom: 10px;
}
</style>
