<template>
  <b-row class="m-0">
    <b-col cols="12" class="p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">
            Capstone Management
          </div>
          <div class="page-title-description-detail">
            Training staff can public their topics.
          </div>
        </div>
        <template v-if="selected.length > 0">
          <b-button
            variant="primary"
            size="sm"
            class="float-right"
            @click="downloadTopicsZipFile"
          >
            <font-awesome-icon icon="download" class="mr-2" />Download
            Topics</b-button
          >
        </template>
      </div>
      <div class="p-3">
        <div class="card card-shadow">
          <div class="card-body custom" id="table-container">
            <div class="card-sort-custom">
              <label>Sort by</label>
              <b-form-select
                class="b-form-select"
                v-model="programSelectId"
                :options="program"
                @change="getTopicData"
              ></b-form-select>
              <b-form-select
                class="b-form-select"
                v-model="sortPublicId"
                :options="sortPublic"
                @change="getTopicData"
              >
              </b-form-select>
            </div>
            <div id="all-checkbox">
              <b-form-checkbox
                v-model="isSelectAll"
                name="checkbox-1"
                value="all"
                unchecked-value=""
                @change="isCheckBoxClick = true"
              />
              <b-table
                ref="selectableTable"
                selectable
                :select-mode="selectMode"
                sticky-header
                :items="items"
                :fields="fields"
                show-empty
                head-variant="light"
                @row-selected="onRowSelected"
              >
                <template v-slot:empty="scope">
                  <div class="text-center">{{ scope.emptyText }}</div>
                </template>
                <!-- selected column -->
                <template v-slot:cell(isActive)="item">
                  <div v-if="item.rowSelected" class="selected-row-item">
                    <div class="overlay-checkbox" />
                    <b-form-checkbox
                      value="true"
                      v-model="checkBoxSelect"
                      unchecked-value="false"
                    />
                  </div>
                  <div v-else class="selected-row-item">
                    <div class="overlay-checkbox" />
                    <b-form-checkbox
                      v-model="checkBoxReject"
                      unchecked-value="false"
                    />
                  </div>
                </template>
                <!-- status column -->
                <template v-slot:cell(status)="row">
                  <b-badge
                    pill
                    v-if="row.item.status === 7"
                    variant="danger"
                    class="status-item"
                  >
                    Unpublished</b-badge
                  >
                  <b-badge pill v-else variant="success" class="status-item">
                    Published</b-badge
                  >
                </template>
                <template v-slot:cell(action)="row">
                  <template>
                    <b-button
                      variant="primary"
                      size="sm"
                      @click="redirectToViewDetailPage(row.item.id)"
                      title="View topic detail"
                    >
                      <font-awesome-icon icon="external-link-alt" />
                    </b-button>
                  </template>
                </template>
              </b-table>
            </div>
            <template>
              <b-button
                variant="success"
                class="float-right"
                @click="changeStatus"
                style="margin-top:15px"
                v-if="items.length !== 0"
                >{{ buttonChange }} Topic
              </b-button>
            </template>
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>
<script>
import moment from 'moment';
import CommonUtil from '../../common/utils/common-util';
import CommonConstant from '../../common/constant/common-constant';
import {
  TopicService,
  ProgramService,
  TrainingStaffService
} from '../../services/service-provider';
import UrlConstant from '../../common/constant/common-url';
import trainningStaffService from '../../services/trainning-staff-service';

export default {
  data() {
    return {
      checkBoxSelect: true,
      checkBoxReject: false,
      isSelectAll: '',
      isCheckBoxClick: false,
      fields: [
        { key: 'isActive', label: '' },
        { key: 'nameTopic', label: 'Capstone Topic' },
        { key: 'advisor', label: 'Advisor' },
        { key: 'createdDate', label: 'Created Date' },
        { key: 'program', label: 'Program' },
        { key: 'status', label: 'Status' },
        { key: 'action', label: 'Option' }
      ],
      program: [],
      programSelectId: 1,
      sortPublicId: 7,
      sortPublic: [
        { value: 7, text: 'Unpublic' },
        { value: 8, text: 'Public' }
      ],
      items: [],
      selectMode: 'multi',
      selected: [],
      buttonChange: ''
    };
  },
  mounted() {
    this.getProgram();
    this.getTopicData();
  },
  watch: {
    isSelectAll(val) {
      if (val === 'all') {
        if (this.isCheckBoxClick) this.selectAllRows();
      } else {
        if (this.isCheckBoxClick) this.clearSelected();
      }
    },
    selected(val) {
      if (val.length === 0 || val.length < this.items.length) {
        this.isSelectAll = '';
      } else {
        this.isSelectAll = 'all';
      }
    }
  },
  methods: {
    // Download zip topics
    downloadTopicsZipFile() {
      const result = this.selected.map(item => item.id);
      if (result && result.length > 0) {
        window.open(
          trainningStaffService.getDownloadAllTopicsAndZipUrl(result + '')
        );
      }
    },
    // Get program
    getProgram() {
      CommonUtil.addLoading();
      ProgramService.getProgram(
        result => {
          result.forEach(item => {
            this.program.push({
              value: item.id,
              text: item.name
            });
          });
          CommonUtil.removeLoading();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get programs request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Select All rows
    selectAllRows() {
      this.$refs.selectableTable.selectAllRows();
    },
    clearSelected() {
      this.$refs.selectableTable.clearSelected();
    },
    // On row selected
    onRowSelected(items) {
      this.isCheckBoxClick = false;
      this.selected = items.map(item => {
        item.isActive = true;
        if (item.status === 7) {
          item.tmpStatus = 8;
        } else {
          item.tmpStatus = 7;
        }
        return item;
      });
    },
    // topic detail
    redirectToViewDetailPage(id) {
      this.$router.push({
        path: UrlConstant.page.trainningStaff.TOPIC_DETAIL.replace(':id', id)
      });
    },
    // reload pages
    reloadPages() {
      this.items = [];
      this.isSelectAll = '';
    },
    // change status
    changeStatus() {
      CommonUtil.addLoading();
      const data = this.selected.map(item => {
        this.sortPublicId = item.tmpStatus;
        return { id: item.id, status: item.tmpStatus };
      });
      TopicService.postChangeStatus(
        data,
        result => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Change successfull!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          this.items = [];
          this.getTopicData();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Change failed, please try again!!!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // get topic data
    getTopicData() {
      this.reloadPages();
      CommonUtil.addLoading();
      const data = {
        programId: this.programSelectId,
        status: this.sortPublicId
      };
      TopicService.getTopicByStatus(
        data,
        result => {
          if (result && result.length > 0) {
            result.forEach(item => {
              this.items.push({
                id: item.id,
                nameTopic: item.name_En,
                advisor: item.advisor.fullName,
                status: item.status,
                program: item.program.shortName,
                createdDate: moment(item.createdDate).format(
                  CommonConstant.DEFAULT_TIME_FORMAT
                )
              });
            });
          }
          if (this.sortPublicId === 8) {
            this.buttonChange = 'Unpublish';
          } else {
            this.buttonChange = 'Publish';
          }
          CommonUtil.removeLoading();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Something error, please try again!!!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // export word
    exportWord() {
      CommonUtil.addLoading();
      const data = this.selected.map(item => {
        return item.id;
      });
      TrainingStaffService.getExportWord(
        data,
        result => {
          CommonUtil.showNotification(
            'Success',
            'Successful',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          CommonUtil.removeLoading();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Something error, please try again!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    }
  }
};
</script>

<style scoped>
.status-item {
  width: 80px;
}
.btn-back {
  background-color: #4ba89c;
}
.card-body .table-icon {
  width: 32px;
  height: 32px;
}
.selected-row-item {
  position: relative;
  width: 50px;
  line-height: 1.8;
}
.selected-row-item .selected-row-item-icon {
  color: green;
}
#all-checkbox > .custom-control.custom-checkbox {
  position: absolute;
  z-index: 3;
  top: 97px;
  left: 32px;
}
</style>
<style scoped>
.status-item {
  width: 90px;
}
.overlay-checkbox {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 5;
}
</style>
<style scoped>
.status-item {
  width: 90px;
}
.overlay-checkbox {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 5;
}
.b-form-select {
  width: 200px;
  height: 35px;
  margin-left: 50px;
  margin-right: 50px;
}
.card-sort-custom {
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}
</style>
<style>
#table-container .b-table-sticky-header {
  overflow-y: auto;
  max-height: 55vh;
}
#table-container .b-table-sticky-header > .table.b-table > thead > tr > th {
  position: sticky;
  top: 0;
  z-index: 2;
}
#table-container .table-primary,
#table-container .table-primary td {
  background: white;
}
</style>
