<template>
  <div>
    <b-row class="m-0">
      <b-col cols="12" class="p-0">
        <div class="page-title-container">
          <div class="card card-shadow d-inline-block">
            <font-awesome-icon icon="table" class="page-title-item" />
          </div>
          <div class="d-inline-block pl-2">
            <div class="page-title-description-header">
              Group Student
            </div>
            <div class="page-title-description-detail">
              Training Staff can make schedule for group student that picking
              topic.
            </div>
          </div>
          <b-button
            variant="info"
            size="sm"
            class="float-right"
            @click="showScheduleModal"
            v-if="listStudent.length !== 0"
          >
            <font-awesome-icon icon="plus" class="mr-2" />Create
            Schedule</b-button
          >
          <b-button
            variant="info"
            size="sm"
            class="float-right"
            @click="exportExcel"
            style="margin-right: 10px"
            v-if="listStudent.length !== 0"
          >
            <font-awesome-icon icon="download" class="mr-2" />Export</b-button
          >
        </div>
        <schedule-modal
          ref="ts-schedule-modal"
          @submit="createSchedule($event)"
        />
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <div class="p-3">
          <b-row>
            <student-group
              :group-item.sync="groupItem"
              v-for="(groupItem, index) in filterGroupData"
              :key="index"
              class="mb-3"
            />
          </b-row>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import CommonUtil from '../../common/utils/common-util';
import CommonConstant from '../../common/constant/common-constant';
import {
  ProgramService,
  GroupService,
  TrainingStaffService
} from '../../services/service-provider';
import StudentGroup from './component/classified-student/StudentGroup';
import ScheduleModal from './component/schedule/TsScheduleModal';
import moment from 'moment';

export default {
  components: {
    StudentGroup,
    Multiselect,
    ScheduleModal
  },
  data() {
    return {
      filterGroupData: [],
      studentGroupData: [],
      formData: {
        groups: [],
        programs: []
      },
      optionsData: {
        groups: [],
        programs: []
      },
      listStudent: []
    };
  },
  computed: {
    studentsExcels() {
      let a = this.listStudent
        .map(x => {
          return {
            group: x.group,
            enrollTime: x.enrollTime,
            code: x.code,
            name: x.name,
            leader: x.leader ? 'Leader' : 'Member'
          };
        })
        .sort(
          (a, b) => a.group.split('Group ')[1] - b.group.split('Group ')[1]
        );
      return a;
    }
  },
  mounted() {
    this.getPrograms();
    this.getStudent();
    console.log(this.listStudent);
  },
  methods: {
    checkLeaderComplete(check) {
      this.isCheckLeaderAction = !check;
    },
    // schedule modal
    showScheduleModal() {
      this.$refs['ts-schedule-modal'].init();
    },
    // reload page
    reloadTable() {
      this.formData = [];
      this.filterGroupData = [];
      this.getGroupingStudentByProgramId();
      this.reloadGroupSelectBox();
    },
    // Get all program
    getPrograms() {
      CommonUtil.addLoading();
      ProgramService.getProgram(
        result => {
          if (!result || result.length === 0) return;
          const tmp = CommonUtil.convertToSelectBoxData(result, 'name');
          this.optionsData.programs = tmp;
          // Selected first index
          this.formData.programs = tmp[0];
          this.getGroupingStudentByProgramId(tmp[0].value);
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get programs request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Filter program
    filterPrograms(selected) {
      this.isFilterProgramAction = true;
      this.getGroupingStudentByProgramId(selected.value);
    },
    // Fillter student base on item on selected box
    filterGroupStudent(selected) {
      this.isFilterStudentAction = true;
      if (!selected || selected.length === 0) {
        this.filterGroupData = [];
        return;
      }
      this.filterGroupData = [];
      // Check
      if (this.studentGroupData.length > 0) {
        this.studentGroupData.forEach(group => {
          this.filterGroupLeader(group);
          selected.forEach(selectedItem => {
            if (selectedItem.value === group.id) {
              if (group.isNew) {
                group.isNew = true;
              } else {
                group.isNew = false;
              }
              this.filterGroupData.push(group);
            }
          });
        });
      }
    },
    // Filter leader in this group and sort to the first
    filterGroupLeader(group) {
      group.students.sort((a, b) => {
        if (a.isLeader) {
          return -1;
        } else {
          return 1;
        }
      });
    },
    // Generate name
    generateName(list) {
      if (list.length === 0) return;
      list.forEach((item, index) => {
        item.name = `Group ${index + 1}`;
      });
    },
    // Select all item from select box
    selecteAllItem() {
      this.formData.groups = this.optionsData.groups;
      this.filterGroupStudent(this.formData.groups);
    },
    // Convert data for selected box
    convertOptionData() {
      let tmp = CommonUtil.convertToSelectBoxData(
        this.studentGroupData,
        'name'
      );
      this.optionsData.groups = tmp;
    },
    // Reload select box when data change
    reloadGroupSelectBox() {
      this.studentGroupData = this.filterGroupData;
      this.convertOptionData();
      this.selecteAllItem();
    },
    // Get grouping student
    getGroupingStudentByProgramId(id) {
      CommonUtil.addLoading();
      GroupService.getGroupStudent(
        result => {
          CommonUtil.removeLoading();
          this.studentGroupData = result;
          this.convertOptionData();
          this.selecteAllItem();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get grouping student request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // submit schedule and public
    submitSchedule() {
      CommonUtil.addLoading();
      GroupService.submitSchedule(
        result => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Submit schedule successful!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          this.reloadTable();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Something error, please try again!!!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // get student
    getStudent() {
      CommonUtil.addLoading();
      GroupService.getGroupStudent(
        result => {
          CommonUtil.removeLoading();
          result.forEach(item => {
            for (let i = 0; i < item.students.length; i++) {
              this.listStudent.push({
                id: item.id,
                group: item.name,
                enrollTime: moment(item.enrollTime).format(
                  CommonConstant.DEFAULT_TIME_FORMAT
                ),
                code: item.students[i].code,
                name: item.students[i].fullName,
                leader: item.students[i].isLeader
              });
            }
          });
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Something error, please try again!!!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // create schedule for group student
    createSchedule(value) {
      CommonUtil.addLoading();
      const data = {
        startTime: value.startDate,
        endTime: value.endDate
      };
      GroupService.makeSchedule(
        data,
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Create schedule success!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          // Reload table
          this.$refs['ts-schedule-modal'].hideModal();
          this.reloadTable();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Something error, please try again!!!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    exportExcel() {
      window.open(
        TrainingStaffService.getExportExcelListGroupStudentAfterImport({
          semesterId: 4,
          programId: 1
        })
      );
    }
  }
};
</script>

<style scoped></style>
