<template>
  <b-row class="m-0">
    <b-col cols="12 p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">
            Student Management
          </div>
          <div class="page-title-description-detail">
            Training Staff can make schedule for group student that picking
            topic.
          </div>
        </div>
        <b-button
          variant="primary"
          size="sm"
          class="float-right"
          @click="showScheduleModal"
        >
          <font-awesome-icon icon="plus" class="mr-2" />Create
          Schedule</b-button
        >
      </div>
      <schedule-modal ref="schedule-modal" @submit="submitAction($event)" />
      <div class="p-3">
        <div class="card card-shadow">
          <div class="card-header custom">Group Student Table</div>
          <div class="card-body">
            <b-table
              show-empty
              hover
              :items="listStudent"
              :fields="fields"
              :current-page="tableOptions.currentPage"
              :per-page="tableOptions.perPage"
              @filtered="onFiltered"
            >
              <!-- leader column -->
              <template v-slot:cell(leader)="row">
                <b-badge pill v-if="row.item.leader === true" variant="success">
                  Leader</b-badge
                ><b-badge pill v-else variant="primary"> Member</b-badge>
              </template>
            </b-table>
            <b-pagination
              v-model="tableOptions.currentPage"
              :total-rows="tableOptions.totalRows"
              :per-page="tableOptions.perPage"
              size="sm"
            ></b-pagination>
            <b-button
              class="float-right"
              variant="info"
              size="mm"
              @click="submitSchedule"
              >Submit Schedule</b-button
            >
            <b-button
              class="float-right"
              variant="info"
              size="mm"
              @click="exportExcel"
              >Export Excel</b-button
            >
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>
<script>
import Multiselect from 'vue-multiselect';
import { GroupService } from '../../services/service-provider';
import CommonUtil from '../../common/utils/common-util';
import CommonConstant from '../../common/constant/common-constant';
import ScheduleModal from './component/schedule/ScheduleModal';
import moment from 'moment';
import XLSX from 'xlsx';

export default {
  components: {
    Multiselect,
    ScheduleModal
  },
  data() {
    return {
      fields: [
        { key: 'code', label: 'Code' },
        { key: 'name', label: 'Student' },
        { key: 'leader', label: 'Leader' },
        { key: 'enrollTime', label: 'Enroll Time' },
        { key: 'group', label: 'Group' }
      ],
      tableOptions: {
        totalRows: 1,
        currentPage: 1,
        perPage: 12
      },
      formData: {
        students: []
      },
      program: [],
      listStudent: []
    };
  },
  watch: {
    listStudent(val) {
      this.tableOptions.totalRows = val.length;
    }
  },
  mounted() {
    // set the initial number of items
    this.tableOptions.totalRows = this.listStudent.length;
    this.getStudent();
  },
  methods: {
    reloadTable() {
      this.listStudent = [];
      this.getStudent();
    },
    // schedule modal
    showScheduleModal() {
      this.$refs['schedule-modal'].init();
    },
    // trigger pagnination to update the number of buttons/pages due to filering
    onFiltered(filteredItems) {
      this.tableOptions.totalRows = filteredItems.length;
      this.tableOptions.currentPage = 1;
    },
    // get student
    getStudent() {
      CommonUtil.addLoading();
      GroupService.getGroupStudent(
        result => {
          CommonUtil.removeLoading();
          result.forEach(item => {
            for (let i = 0; i < item.students.length; i++) {
              this.listStudent.push({
                id: item.id,
                group: item.name,
                enrollTime: moment(item.enrollTime).format(
                  CommonConstant.DEFAULT_TIME_FORMAT
                ),
                code: item.students[i].code,
                name: item.students[i].fullName,
                leader: item.students[i].isLeader
              });
            }
          });
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Something error, please try again!!!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // submit create schedule
    submitSchedule() {
      CommonUtil.addLoading();
      GroupService.submitSchedule(
        result => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Submit schedule successful!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          this.reloadTable();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Something error, please try again!!!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // create action
    submitAction(value) {
      CommonUtil.addLoading();
      const data = {
        startTime: value.startDate,
        endTime: value.endDate
      };
      GroupService.makeSchedule(
        data,
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Success',
            'Create schedule success!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          // Reload table
          this.$refs['schedule-modal'].hideModal();
          this.reloadTable();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Something error, please try again!!!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    exportExcel() {
      /* make the worksheet */
      var ws = XLSX.utils.json_to_sheet(this.listStudent);

      /* add to workbook */
      var wb = XLSX.utils.book_new();
      XLSX.utils.book_append_sheet(wb, ws, 'Students');

      XLSX.writeFile(wb, 'Students.xlsx');
    }
  }
};
</script>
<style scoped></style>
