<template>
  <div>
    <div class="text-center">
      <font-awesome-icon icon="check" v-if="mark" class="text-success" />
      <font-awesome-icon icon="times" v-if="!mark" class="text-danger" />
    </div>
    <div v-show="questionRow">
      {{ questionRow }}
    </div>
  </div>
</template>

<script>
export default {
  props: ['id', 'mark', 'questions'],
  computed: {
    questionRow() {
      return this.questions.filter(item => item.id === this.id)[0].comment;
    }
  },
  data() {
    return {};
  }
};
</script>

<style scoped></style>
