.underline {
  text-decoration: underline;
}
/* Fix modal showing */
.modal-backdrop {
  opacity: 0.5;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-header.custom,
.card-footer.custom {
  background: white;
}
.card-shadow {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
/* page header */
.page-title-container {
  background: #f6f8f9;
  padding: 1rem;
}
.page-title-container > button {
  margin-top: 10px;
}
.page-title-container .page-title-item {
  font-size: 45px;
  min-width: 45px;
  min-height: 45px;
  padding: 10px;
}
.page-title-container .page-title-description-header {
  font-weight: 600;
  font-size: 1.15rem;
}
.page-title-container .page-title-description-detail {
  font-size: 0.96rem;
  opacity: 0.6;
}

.ck-content {
  min-height: 100px;
}

/* loading */
.loading-item .loading-icon {
  width: 80px !important;
  height: 80px !important;
}

/* modal */
.modal-content {
  border: none;
}

/* span */
.span-text {
  background-color: yellow;
}

/* field error */
.field-validate-error-container.error {
  position: relative;
}
.field-validate-error-container.error .error-field-icon {
  position: absolute;
  right: 10px;
  top: 43px;
  color: red;
}
.field-validate-error-container.error input {
  border: 1px solid red;
  padding-right: 30px;
  margin-bottom: 5px !important;
}
.field-validate-error-container.error input:focus {
  outline: none !important;
}
.field-validate-error-container.error .error-message {
  color: red;
  margin-bottom: 15px;
}

/* topic detail */
.topic-detail-container .header {
  background: #013972;
  font-weight: 600;
  color: white;
}
.topic-detail-container .header:hover {
  background-color: #4ba89c;
}
.topic-detail-container .header:active {
  background-color: #4ba89c;
  transform: translateY(1px);
}

.topic-detail-container .body .detail-label {
  font-weight: 600;
}
.topic-detail-container .body .group-first-info {
  background: #f3f3f3;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.detail-info-container .detail-sub-header {
  font-size: 1.1rem;
}
