<template>
  <b-col cols="6">
    <div class="card card-shadow">
      <div class="card-body">
        <b-row class="p-1 pb-0">
          <template v-if="groupItem.isNew && groupItem.students.length === 0">
            <div class="remove-group-icon" @click="remove(groupItem)">
              <font-awesome-icon icon="times" class="mr-2" />
            </div>
          </template>
          <!-- Error display -->
          <template v-if="isError">
            <b-col cols="12">
              <div class="alert alert-warning" role="alert">
                {{ errorMsg }}
              </div>
            </b-col>
          </template>
          <b-col cols="2" class="p-2">
            <div>
              <strong>{{ groupItem.name }}</strong>
            </div>
            <template v-if="groupItem.isNew">
              <div><b-badge variant="success">New</b-badge></div>
            </template>
          </b-col>
          <b-col cols="10">
            <!-- Block item -->
            <b-row
              v-for="(item, index) in groupItem.students"
              :key="index"
              class="student-item-container block-item"
              :class="item.isChangeable ? 'd-none' : ''"
            >
              <template v-if="!item.isChangeable">
                <b-col cols="3">
                  <div>{{ item.code }}</div>
                </b-col>
                <b-col cols="6">
                  <b-badge pill variant="success">{{
                    item.weightPoint
                  }}</b-badge>
                  {{ item.fullName }}
                </b-col>
                <b-col cols="3">
                  <template v-if="item.isLeader">
                    <b-badge pill variant="danger">Leader</b-badge>
                  </template>
                  <template v-if="!item.isChangeable">
                    <font-awesome-icon
                      icon="lock"
                      class="mt-1 float-right text-danger"
                    />
                  </template>
                  <template v-if="item.isChangeable">
                    <font-awesome-icon
                      icon="lock-open"
                      class="mt-1 float-right text-success"
                    />
                  </template>
                </b-col>
              </template>
            </b-row>
            <!-- draggable item -->
            <draggable
              v-model="groupItem.students"
              group="people"
              @start="drag = true"
              @end="drag = false"
            >
              <b-row
                v-for="(item, index) in groupItem.students"
                :key="index"
                class="student-item-container"
                :class="item.isChangeable ? '' : 'd-none'"
              >
                <b-col cols="3">
                  <div>{{ item.code }}</div>
                </b-col>
                <b-col cols="6">
                  <b-badge pill variant="success">{{
                    item.weightPoint
                  }}</b-badge>
                  {{ item.fullName }}
                </b-col>
                <b-col cols="3">
                  <template v-if="item.isLeader">
                    <b-badge pill variant="danger">Leader</b-badge>
                  </template>
                  <template v-if="!item.isChangeable">
                    <font-awesome-icon
                      icon="lock"
                      class="mt-1 float-right text-danger"
                    />
                  </template>
                  <template v-if="item.isChangeable">
                    <font-awesome-icon
                      icon="lock-open"
                      class="mt-1 float-right text-success"
                    />
                  </template>
                </b-col>
              </b-row>
            </draggable>
          </b-col>
        </b-row>
      </div>
    </div>
  </b-col>
</template>

<script>
import draggable from 'vuedraggable';
import commonConstant from '../../../../common/constant/common-constant';
export default {
  props: ['groupItem'],
  watch: {
    groupItem: {
      handler(val, old) {
        this.checkDragEvent();
        this.handleError();
      },
      deep: true
    }
  },
  data() {
    return {
      isError: false,
      errorMsg: '',
      groupClassifyMin: 0,
      groupClassifyMax: 0
    };
  },
  components: {
    draggable
  },
  mounted() {
    this.getConfig();
    this.handleError();
  },
  methods: {
    handleError() {
      this.isError = false;
      const total = this.groupItem.students.length;
      // Handle min
      if (total < this.groupClassifyMin) {
        this.isError = true;
        this.errorMsg = `Students in group are less than ${this.groupClassifyMin}. Please verify!`;
      }
      // Handle max
      if (total > this.groupClassifyMax) {
        this.isError = true;
        this.errorMsg = `Students in group are larger than ${this.groupClassifyMax}. Please verify!`;
      }
    },
    getConfig() {
      const config = JSON.parse(localStorage.getItem(commonConstant.CONFIG));
      this.groupClassifyMin = config.groupClassifyMin;
      this.groupClassifyMax = config.groupClassifyMax;
    },
    // Check drag event
    checkDragEvent() {
      let leaderCount = 0;
      let students = JSON.parse(JSON.stringify(this.groupItem.students));
      if (students.length === 0) return;
      for (let i = 0; i < students.length; i += 1) {
        if (students[i].isLeader) {
          leaderCount = leaderCount + 1;
        }
        if (leaderCount > 1) {
          this.removeAllLeader();
          break;
        }
      }
      this.groupItem.students[0].isLeader = true;
      this.$emit('updated', this.groupItem);
      this.$emit('checkLeader', true);
    },
    remove(data) {
      this.$emit('remove', data.id);
    },
    // Remove all leader
    removeAllLeader() {
      if (this.groupItem.students.length > 0) {
        this.groupItem.students.forEach(student => {
          student.isLeader = false;
        });
      }
    }
  }
};
</script>

<style scoped>
.remove-group-icon {
  position: absolute;
  right: 10px;
  color: red;
  width: 25px;
  height: 25px;
  z-index: 1000;
}
.remove-group-icon:hover {
  cursor: pointer;
}
.student-item-container {
  position: relative;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 6px;
  border: 2px solid black;
}
.student-item-container:hover {
  cursor: pointer;
}
.student-item-container.block-item:hover {
  cursor: not-allowed;
}
.disabled-drag-item {
  position: absolute;
  background: black;
  width: 105%;
  height: 115%;
  z-index: 100;
  top: -5px;
  left: -5px;
}
.disabled-drag-item:hover {
  cursor: not-allowed;
}
</style>
