<template>
  <b-row class="m-0">
    <b-col cols="12 p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">
            Capstone Management
          </div>
          <div class="page-title-description-detail">
            Committee can validate their topics.
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card card-shadow">
          <b-col cols="6">
            <!-- search -->
            <div class="search-container mt-3">
              <label class="d-inline-block">Search: </label>
              <b-input-group size="sm">
                <b-form-input
                  v-model="filter"
                  type="search"
                  id="filterInput"
                  placeholder="Enter name topic or advisor...."
                ></b-form-input>
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''"
                    >Clear</b-button
                  >
                </b-input-group-append>
              </b-input-group>
            </div>
          </b-col>
          <div class="card-body">
            <b-table
              show-empty
              hover
              head-variant="light"
              :items="items"
              :fields="fields"
              :filter="filter"
              :current-page="tableOptions.currentPage"
              :per-page="tableOptions.perPage"
              @onfilteref="onFiltered"
            >
              <!-- is isValidated -->
              <template v-slot:cell(validate)="row">
                <b-button
                  class="icon-color"
                  variant="light"
                  size="sm"
                  title="Topic has not been approved"
                  v-if="row.item.isValidated === false"
                >
                  <font-awesome-icon icon="exclamation" />
                </b-button>
              </template>
              <!-- action column -->
              <template v-slot:cell(action)="row">
                <template>
                  <b-button
                    variant="primary"
                    size="sm"
                    title="View topic detail"
                    @click="redirectToViewDetailPage(row.item.id)"
                  >
                    <font-awesome-icon icon="external-link-alt" />
                  </b-button>
                </template>
              </template>
            </b-table>
            <b-pagination
              v-model="tableOptions.currentPage"
              :total-rows="tableOptions.totalRows"
              :per-page="tableOptions.perPage"
              size="sm"
            ></b-pagination>
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>
<script>
import UrlConstant from '../../common/constant/common-url';
import CommonUtil from '../../common/utils/common-util';
import { CommitteeService } from '../../services/service-provider';
import CommonConstant from '../../common/constant/common-constant';
import moment from 'moment';

export default {
  data() {
    return {
      fields: [
        { key: 'validate', label: '' },
        { key: 'nameTopic', label: 'Capstone Topic' },
        { key: 'deadline', label: 'Deadline' },
        { key: 'advisor', label: 'Advisor' },
        { key: 'action', label: 'Action' }
      ],
      items: [],
      tableOptions: {
        totalRows: 1,
        currentPage: 1,
        perPage: 10
      },
      filter: ''
    };
  },
  watch: {
    items(val) {
      this.tableOptions.totalRows = val.length;
    }
  },
  mounted() {
    // set the initial number of items
    this.tableOptions.totalRows = this.items.length;
    this.getTopicData();
  },
  methods: {
    // trigger pagnination to update the number of pages
    onFiltered(filteredItems) {
      this.tableOptions.totalRows = filteredItems.length;
      this.tableOptions.currentPage = 1;
    },
    redirectToViewDetailPage(id) {
      this.$router.push({
        path: UrlConstant.page.committe.CM_TOPIC_DETAIL.replace(':id', id)
      });
    },
    // get comment
    getDealine() {},
    // get topic data
    getTopicData() {
      CommonUtil.addLoading();
      CommitteeService.getTopic(
        result => {
          CommonUtil.removeLoading();
          if (result && result.length > 0) {
            result.forEach(item => {
              this.items.push({
                id: item.id,
                nameTopic: item.name_En,
                advisor: item.advisor.fullName,
                status: item.status,
                deadline: moment(item.deadline).format(
                  CommonConstant.DEFAULT_TIME_FORMAT
                ),
                isValidated: item.isValidated
              });
            });
          }
        },
        () => {
          CommonUtil.removeLoading();
        }
      );
    }
  }
};
</script>
<style scoped>
.status-item {
  width: 80px;
}
.icon-color {
  color: red;
}
.search-container .input-group,
.search-container input {
  height: 38px;
}
#my_file_input {
  border: 1px solid #ced4da;
  padding: 2px;
}
</style>
