<template>
  <div>
    <b-modal
      centered
      ref="schedule-modal"
      :header-bg-variant="headerBgVariant"
      :header-text-variant="headerTextVariant"
      hide-footer
      title="New Schedule"
    >
      <div>
        <label for="input-title">Current schedule:</label>
        <b-form-input
          id="input-title"
          v-model="oldTimeFormat"
          class="mb-3"
          disabled
          trim
        />
        <label for="input-title">New schedule:</label>
        <date-picker
          id="schedule-modal"
          type="datetime"
          v-model="formData.dateRange"
          lang="en"
          :format="datePickerOption.format"
          :not-before="notBefore"
          :time-picker-options="{
            start: '00:00',
            step: '00:30',
            end: '23:30'
          }"
          confirm
          class="w-100"
        />
      </div>
      <b-button
        variant="success"
        size="sm"
        class="mt-3 float-right"
        @click="submit()"
      >
        Save
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import moment from 'moment';
import CommonConstant from '../../../../common/constant/common-constant';
import DatePicker from 'vue2-datepicker';

export default {
  components: {
    DatePicker
  },
  data() {
    return {
      headerBgVariant: 'info',
      headerTextVariant: 'light',
      formData: {
        id: '',
        oldTime: moment().valueOf(),
        oldTimeFormat: '',
        dateRange: ''
      },
      notBefore: new Date(),
      datePickerOption: {
        format: CommonConstant.DEFAULT_TIME_RANGE_FORMAT
      }
    };
  },
  computed: {
    oldTimeFormat() {
      return moment(this.formData.oldTime).format(
        CommonConstant.DEFAULT_TIME_RANGE_FORMAT
      );
    }
  },
  mounted() {},
  methods: {
    init(data) {
      this.showModal();
      this.formData.id = data.id;
      this.formData.oldTime = data.expiredTime;
      this.notBefore = new Date();
    },
    showModal() {
      this.$refs['schedule-modal'].show();
    },
    hideModal() {
      this.$refs['schedule-modal'].hide();
    },
    submit() {
      if (this.formData.id && this.formData.dateRange) {
        this.$emit('submit', {
          id: this.formData.id,
          deadline: this.formData.dateRange.getTime()
        });
      }
    }
  }
};
</script>

<style>
#schedule-modal input {
  font-size: 1rem !important;
  font-weight: 400;
  height: 38px;
}
</style>
