<template>
  <div>
    <div id="select-all-checkbox">
      <b-form-checkbox
        v-model="isSelectAll"
        value="all"
        unchecked-value=""
        @change="isCheckBoxClick = true"
      />
    </div>

    <b-table
      ref="selectableTable"
      selectable
      :select-mode="selectMode"
      sticky-header
      :fields="fields"
      :items="items"
      show-empty
      head-variant="light"
      @row-selected="onRowSelected"
    >
      <template v-slot:empty="scope">
        <div class="text-center">{{ scope.emptyText }}</div>
      </template>
      <!-- selected column -->
      <template v-slot:cell(isActive)="item">
        <div v-if="item.rowSelected" class="selected-row-item">
          <div class="overlay-checkbox" />
          <b-form-checkbox
            value="true"
            v-model="checkBoxSelect"
            unchecked-value="false"
          />
        </div>
        <div v-else class="selected-row-item">
          <div class="overlay-checkbox" />
          <b-form-checkbox v-model="checkBoxReject" unchecked-value="false" />
        </div>
      </template>
    </b-table>
  </div>
</template>

<script>
import { AdvisorService } from '../../../../services/service-provider';
import CommonUtil from '../../../../common/utils/common-util';
export default {
  watch: {
    isSelectAll(val) {
      if (val === 'all') {
        if (this.isCheckBoxClick) this.selectAllRows();
      } else {
        if (this.isCheckBoxClick) this.clearSelected();
      }
    },
    selected(val) {
      if (val.length === 0 || val.length < this.items.length) {
        this.isSelectAll = '';
      } else {
        this.isSelectAll = 'all';
      }
      this.dataChange();
    }
  },
  mounted() {
    this.getAdvisor();
  },
  data() {
    return {
      checkBoxSelect: true,
      checkBoxReject: false,
      isSelectAll: '',
      isCheckBoxClick: false,
      fields: [
        {
          key: 'isActive',
          label: ''
        },
        {
          key: 'fullName',
          label: 'Fullname'
        },
        {
          key: 'email',
          label: 'Email'
        },
        {
          key: 'phone',
          label: 'Phone'
        }
      ],
      items: [],
      selectMode: 'multi',
      selected: []
    };
  },
  methods: {
    getAdvisor() {
      CommonUtil.addLoading();
      AdvisorService.getAdvisor(
        result => {
          CommonUtil.removeLoading();
          if (result && result.length > 0) {
            result.forEach((item, index) => {
              this.items.push({
                index: index,
                id: item.id,
                email: item.email,
                phone: item.phone,
                fullName: item.fullName
              });
            });
          }
        },
        () => {
          CommonUtil.removeLoading();
        }
      );
    },
    // On data change
    dataChange() {
      this.$emit('change', this.selected);
    },
    // Select row
    selectRow(index) {
      this.$refs.selectableTable.selectRow(index);
    },
    // Select All rows
    selectAllRows() {
      this.$refs.selectableTable.selectAllRows();
    },
    clearSelected() {
      this.$refs.selectableTable.clearSelected();
    },
    // On row selected
    onRowSelected(items) {
      this.isCheckBoxClick = false;
      this.selected = items.map(o => {
        o.isActive = true;
        return o;
      });
    }
  }
};
</script>

<style>
#approved-topic-table-container .b-table-sticky-header {
  overflow-y: auto;
  max-height: 55vh;
}
#approved-topic-table-container
  .b-table-sticky-header
  > .table.b-table
  > thead
  > tr
  > th {
  position: sticky;
  top: 0;
  z-index: 2;
}
#approved-topic-table-container .table-primary,
#approved-topic-table-container .table-primary td {
  background: white;
}
</style>
<style scoped>
.selected-row-item {
  position: relative;
  width: 50px;
  line-height: 1.8;
}
.selected-row-item .selected-row-item-icon {
  color: green;
}
#select-all-checkbox .custom-control.custom-checkbox {
  position: absolute;
  z-index: 3;
  top: 130px;
  left: 32px;
}
</style>
<style scoped></style>
