<template>
  <b-row class="m-0">
    <b-col cols="12 p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">
            Evaluate Student
          </div>
          <div class="page-title-description-detail">
            Advisors can evaluate weight point list student.
          </div>
        </div>
        <b-button
          size="sm"
          variant="primary"
          class="float-right"
          @click="postStudentPoint()"
          title="Evaluate student"
          v-if="items.length !== 0"
          >Evaluate student</b-button
        >
      </div>
      <div class="p-3">
        <div class="card card-shadow">
          <b-col style="margin-top:10px" cols="6">
            <!-- search -->
            <div class="search-container">
              <label class="d-inline-block">Search: </label>
              <b-input-group size="sm">
                <b-form-input
                  v-model="filter"
                  type="search"
                  id="filterInput"
                  placeholder="Enter name or code student..."
                ></b-form-input>
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''"
                    >Clear</b-button
                  >
                </b-input-group-append>
              </b-input-group>
            </div>
          </b-col>
          <div class="card-body">
            <b-table
              id="topic-table"
              :items="items"
              :fields="fields"
              :filter="filter"
              :current-page="tableOptions.currentPage"
              :per-page="tableOptions.perPage"
              show-empty
              striped
            >
              <!-- empty data -->
              <template v-slot:empty="scope">
                <div class="text-center">{{ scope.emptyText }}</div>
              </template>

              <!-- custom column -->
              <template v-slot:cell(weightPoint)="row">
                <b-form-select
                  class="b-form-select"
                  v-model="row.item.weightPoint"
                  :options="weightPointOpts"
                ></b-form-select>
              </template>
              <template v-slot:cell(note)="row">
                <b-col sm="15">
                  <b-form-input
                    v-model="row.item.note"
                    placeholder="Note"
                  ></b-form-input>
                </b-col>
              </template>
            </b-table>
            <b-row>
              <b-col cols="10" class="mt-2 text-center"
                ><b-pagination
                  v-model="tableOptions.currentPage"
                  :total-rows="rows"
                  :per-page="tableOptions.perPage"
                  size="sm"
                  col="12"
                  aria-controls="topic-table"
                  @input="getTopicData()"
                ></b-pagination
              ></b-col>
            </b-row>
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import { AdvisorService } from '../../services/service-provider';
import CommonConstant from '../../common/constant/common-constant';
import CommonUtil from '../../common/utils/common-util';
export default {
  data() {
    return {
      fields: [
        {
          key: 'studentName',
          label: 'Student Name'
        },
        {
          key: 'studentId',
          label: 'Code'
        },
        {
          key: 'weightPoint',
          label: 'Weight Point'
        },

        {
          key: 'note',
          label: 'Note'
        }
      ],
      items: [],
      filter: '',
      tableOptions: {
        totalRows: '',
        currentPage: 1,
        perPage: 10
      },
      selected: 4,
      sortOption: [
        { value: 'name_En', text: 'English Name' },
        { value: 'createdDate', text: 'Created Date' },
        { value: 'status', text: 'Status' }
      ],
      weightPointOpts: [
        { value: 0, text: '' },
        { value: 1, text: '1' },
        { value: 2, text: '2' },
        { value: 3, text: '3' },
        { value: 4, text: '4' }
      ],
      selectedNum: 'false',
      sortNum: [
        { value: 'false', text: 'Descending' },
        { value: 'true', text: 'Ascending' }
      ],
      optionData: {
        nameSelect: '',
        sortSlect: '',

        pageIndex: '',
        pageSize: ''
      }
    };
  },
  mounted() {
    this.getStudentPointData();
  },
  computed: {
    rows() {
      return this.items.length;
    }
  },
  methods: {
    getStudentPointData() {
      this.items = [];
      CommonUtil.addLoading();
      AdvisorService.getStudentPoint(
        res => {
          CommonUtil.removeLoading();
          if (res.studentPoints !== undefined) {
            res.studentPoints.forEach(element => {
              this.items.push({
                studentId: element.code,
                studentName: element.fullName,
                weightPoint: element.weightPoint,
                note: element.note
              });
              this.tableOptions.totalRows = res.totalItems;
            });
          }
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get student point request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    postStudentPoint() {
      let data = this.items.map(item => ({
        code: item.studentId,
        weightPoint: item.weightPoint,
        note: item.note
      }));
      AdvisorService.postStudentPoint(
        data,
        res => {
          CommonUtil.showNotification(
            'Success',
            'Evaluate students successfull!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          this.getStudentPointData();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Update student point error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    }
  }
};
</script>

<style scoped>
.status-item {
  width: 125px;
}

.b-form-select {
  width: 100px;
  height: 35px;
}
.card-sort-custom {
  margin-left: 40px;
  margin-top: 20px;
}
.search-container .input-group,
.search-container input {
  height: 38px;
}
#my_file_input {
  border: 1px solid #ced4da;
  padding: 2px;
}
</style>
