<template>
  <div>
    <b-row class="m-0">
      <b-col cols="12" class="mt-2">
        <div class="card card-shadow p-3">
          <div class="search-container">
            <b-form-input
              type="text"
              class="d-inline-block mr-2 search-text "
              v-model="txtSearch"
              placeholder="Input topic name"
              @keydown.native="enterEvtHandle"
            />
            <b-button
              variant="primary"
              class="d-inline-block search-btn"
              title="Search topic"
              @click="searchTopic"
            >
              Search
            </b-button>
          </div>
        </div>
      </b-col>
      <template v-if="isHaveData">
        <b-col cols="12" class="mt-2 search-item-container">
          <div
            class="card card-shadow mb-2"
            v-for="(item, index) in searchResult"
            :key="index"
          >
            <div>
              <div
                class="search-item-header text-ellipsis pl-3 p-2"
                @click="redirectToViewDetailPage(item.id)"
              >
                {{ item.header }}
                <b-badge
                  v-if="item.status === 10"
                  variant="success"
                  class="status-item"
                >
                  Passed</b-badge
                >
                <b-badge
                  v-if="item.status === 11"
                  variant="danger"
                  class="status-item"
                >
                  Failed</b-badge
                >
              </div>
              <div class="search-item-body text-ellopsis pl-3 p-2">
                {{ item.body }}
              </div>
            </div>
          </div>
        </b-col>
        <b-col cols="12" class="mt-2 pagination-container">
          <b-pagination
            v-model="searchOptions.currentPage"
            :total-rows="searchOptions.totalRows"
            :per-page="searchOptions.perPage"
            size="sm"
            @input="searchTopic"
          />
        </b-col>
      </template>
      <template v-else>
        <b-col cols="12" class="justify-content-center">
          <no-result />
        </b-col>
      </template>
    </b-row>
  </div>
</template>

<script>
import moment from 'moment';
import CommonConstant from '../../common/constant/common-constant';
import UrlConstant from '../../common/constant/common-url';
import CommonUtil from '../../common/utils/common-util';
import NoResult from '../../common/components/Nodata';
import { TopicService } from '../../services/service-provider';
export default {
  components: {
    NoResult
  },
  data() {
    return {
      isHaveData: false,
      txtSearch: '',
      txtSearchOld: '',
      searchResult: [],
      searchOptions: {
        totalRows: 1,
        currentPage: 1,
        perPage: 10
      }
    };
  },
  methods: {
    // Handle enter event
    enterEvtHandle(event) {
      if (event.which === 13) {
        this.searchHandle();
      }
    },
    // Handle search
    searchHandle() {
      if (this.txtSearch.trim() !== this.txtSearchOld.trim()) {
        this.txtSearchOld = this.txtSearch;
        this.searchTopic();
      }
    },
    // Search topic with pagination
    searchTopic() {
      this.searchResult = [];
      CommonUtil.addLoading();
      const requestData = {
        name: this.txtSearch,
        pageIndex: this.searchOptions.currentPage,
        pageSize: this.searchOptions.perPage,
        isAsc: false
      };
      TopicService.searchTopicsWithPagination(
        requestData,
        resp => {
          this.searchOptions.totalRows = resp.totalItems;
          CommonUtil.removeLoading();
          this.searchResult = this.convertDataToDisplay(resp.result);
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Search topic request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Redirect to View detail topic page
    redirectToViewDetailPage(id) {
      window.open(UrlConstant.page.advisor.TOPIC_DETAIL.replace(':id', id));
    },
    // Convert data to display
    convertDataToDisplay(data) {
      // Check data is empty
      this.isHaveData = false;
      if (!data || data.length === 0) return [];
      this.isHaveData = true;
      const result = [];
      data.forEach(item => {
        const header = `${item.name_En} - ${item.advisorName} (${moment(
          item.createdDate
        ).format(CommonConstant.DEFAULT_DATE_FORMAT)})`;
        result.push({
          id: item.id,
          header: header,
          body: item.content,
          status: item.status
        });
      });
      return result;
    }
  }
};
</script>

<style scoped>
.no-data-img-container img {
  width: 100%;
  height: calc(100vh - 225px);
}
.search-container .search-text {
  width: calc(100% - 120px);
}
.search-container .search-btn {
  position: relative;
  top: -1px;
  width: 100px;
}
.search-item-container .card {
  border-radius: 14px;
}
.search-item-container .search-item-header {
  color: #2319af;
  border-bottom: 1px solid #ececec;
}
.search-item-container .search-item-header:hover {
  text-decoration: underline;
  cursor: pointer;
}
</style>
