<template>
  <b-row class="m-0">
    <b-col cols="12 p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">
            Manage Student
          </div>
          <div class="page-title-description-detail">
            Topic: {{ topic != null ? topic.name_En : '' }}
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card card-shadow">
          <div class="card-body">
            <b-table
              show-empty
              :sticky-header="stickyHeader"
              :no-border-collapse="true"
              responsive
              :items="topic.students"
              :fields="fields"
            >
              <template v-slot:head(fullName)="scope">
                <div style="width: 250px" class="text-nowrap">
                  {{ scope.label }}
                </div>
              </template>
              <template v-slot:head()="scope">
                <div class="text-nowrap">{{ scope.label }}</div>
              </template>
              <template v-slot:cell(report1)="row">
                <div class="text-center">
                  <b-form-input
                    type="number"
                    step="0.25"
                    min="0.0"
                    max="10.0"
                    v-model="
                      row.item.grades.find(x => x.gradeName === 'Report 1')
                        .value
                    "
                    :value="
                      `${
                        row.item.grades.find(x => x.gradeName === 'Report 1')
                          .value
                      }`
                    "
                  />
                </div>
              </template>
              <template v-slot:cell(report2)="row">
                <div class="text-center">
                  <b-form-input
                    type="number"
                    step="0.5"
                    min="0.0"
                    max="10.0"
                    v-model="
                      row.item.grades.find(x => x.gradeName === 'Report 2')
                        .value
                    "
                    :value="
                      `${
                        row.item.grades.find(x => x.gradeName === 'Report 2')
                          .value
                      }`
                    "
                  />
                </div>
              </template>
              <template v-slot:cell(report3)="row">
                <div class="text-center">
                  <b-form-input
                    type="number"
                    step="0.5"
                    min="0.0"
                    max="10.0"
                    v-model="
                      row.item.grades.find(x => x.gradeName === 'Report 3')
                        .value
                    "
                    :value="
                      `${
                        row.item.grades.find(x => x.gradeName === 'Report 3')
                          .value
                      }`
                    "
                  />
                </div>
              </template>
              <template v-slot:cell(report4)="row">
                <div class="text-center">
                  <b-form-input
                    type="number"
                    step="0.5"
                    min="0.0"
                    max="10.0"
                    v-model="
                      row.item.grades.find(x => x.gradeName === 'Report 4')
                        .value
                    "
                    :value="
                      `${
                        row.item.grades.find(x => x.gradeName === 'Report 4')
                          .value
                      }`
                    "
                  />
                </div>
              </template>
              <template v-slot:cell(report5)="row">
                <div class="text-center">
                  <b-form-input
                    type="number"
                    step="0.5"
                    min="0.0"
                    max="10.0"
                    v-model="
                      row.item.grades.find(x => x.gradeName === 'Report 5')
                        .value
                    "
                    :value="
                      `${
                        row.item.grades.find(x => x.gradeName === 'Report 5')
                          .value
                      }`
                    "
                  />
                </div>
              </template>
              <template v-slot:cell(report6)="row">
                <div class="text-center">
                  <b-form-input
                    type="number"
                    step="0.5"
                    min="0.0"
                    max="10.0"
                    v-model="
                      row.item.grades.find(x => x.gradeName === 'Report 6')
                        .value
                    "
                    :value="
                      `${
                        row.item.grades.find(x => x.gradeName === 'Report 6')
                          .value
                      }`
                    "
                  />
                </div>
              </template>
              <template v-slot:cell(deadline)="row">
                <div class="text-center">
                  <b-form-input
                    type="number"
                    step="0.5"
                    min="0.0"
                    max="10.0"
                    v-model="
                      row.item.grades.find(x => x.gradeName === 'Deadline')
                        .value
                    "
                    :value="
                      `${
                        row.item.grades.find(x => x.gradeName === 'Deadline')
                          .value
                      }`
                    "
                  />
                </div>
              </template>
              <template v-slot:cell(participation)="row">
                <div class="text-center">
                  <b-form-input
                    type="number"
                    step="0.5"
                    min="0.0"
                    max="10.0"
                    v-model="
                      row.item.grades.find(x => x.gradeName === 'Participation')
                        .value
                    "
                    :value="
                      `${
                        row.item.grades.find(
                          x => x.gradeName === 'Participation'
                        ).value
                      }`
                    "
                  />
                </div>
              </template>
              <template v-slot:cell(teamwork)="row">
                <div class="text-center">
                  <b-form-input
                    type="number"
                    step="0.5"
                    min="0.0"
                    max="10.0"
                    v-model="
                      row.item.grades.find(x => x.gradeName === 'Teamwork')
                        .value
                    "
                    :value="
                      `${
                        row.item.grades.find(x => x.gradeName === 'Teamwork')
                          .value
                      }`
                    "
                  />
                </div>
              </template>
              <template v-slot:cell(finalProject)="row">
                <div class="text-center">
                  <b-form-input
                    type="number"
                    step="0.5"
                    min="0.0"
                    max="10.0"
                    v-model="
                      row.item.grades.find(x => x.gradeName === 'Final Project')
                        .value
                    "
                    :value="
                      `${
                        row.item.grades.find(
                          x => x.gradeName === 'Final Project'
                        ).value
                      }`
                    "
                  />
                </div>
              </template>
              <template v-slot:cell(finalProjectResist)="row">
                <div
                  v-if="
                    row.item.grades.find(
                      x => x.gradeName === 'Final Project Resist'
                    )
                  "
                  class="text-center"
                >
                  <b-form-input
                    type="number"
                    step="0.5"
                    min="0.0"
                    max="10.0"
                    v-model="
                      row.item.grades.find(
                        x => x.gradeName === 'Final Project Resist'
                      ).value
                    "
                    :value="
                      `${
                        row.item.grades.find(
                          x => x.gradeName === 'Final Project Resist'
                        ).value
                      }`
                    "
                  />
                </div>
              </template>
            </b-table>
            <b-button
              variant="info"
              class="float-right mt-3"
              @click="saveMark"
              title="Save mark"
              >Save
              <font-awesome-icon icon="angle-right" class="ml-1" />
            </b-button>
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import AdvirsorService from '../../services/advisor-service';
import CommonUtil from '../../common/utils/common-util';
import CommonConstant from '../../common/constant/common-constant';

export default {
  data() {
    return {
      topic: null,
      items: [],
      fields: [
        {
          key: 'fullName',
          stickyColumn: true,
          isRowHeader: true,
          label: 'Full Name'
        },
        {
          key: 'report1',
          label: 'Report 1 (2.5%)'
        },
        {
          key: 'report2',
          label: 'Report 2 (2.5%)'
        },
        {
          key: 'report3',
          label: 'Report 3 (7.5%)'
        },
        {
          key: 'report4',
          label: 'Report 4 (10%)'
        },
        {
          key: 'report5',
          label: 'Report 5 (15%)'
        },
        {
          key: 'report6',
          label: 'Report 6 (2.5%)'
        },
        {
          key: 'deadline',
          label: 'Deadline (2.5%)'
        },
        {
          key: 'participation',
          label: 'Participation (2.5%)'
        },
        {
          key: 'teamwork',
          label: 'Teamwork (5.0%)'
        },
        {
          key: 'finalProject',
          label: 'Final Project (50.0%)'
        },
        {
          key: 'finalProjectResist',
          label: 'Final Resist (50.0%)'
        }
      ],
      student: {},
      studentGrade: {},
      averageReportMark: 0,
      averageStudentMark: 0,
      stickyHeader: true,
      noCollapse: true
    };
  },
  computed: {},
  created() {
    this.getStudentsInTopics();
  },
  methods: {
    popupStudentDetail(studentCode) {
      this.studentGrade = {};
      AdvirsorService.getStudentGradeByCode(
        studentCode,
        res => {
          this.studentGrade = res;
          this.averageReportMark =
            this.studentGrade.reports.reduce(
              (acc, curVal) => acc + curVal.percent * curVal.value,
              0
            ) * 2;
          this.averageStudentMark =
            (this.studentGrade.finalProject.value + this.averageReportMark) / 2;
        },
        () => {
          CommonUtil.showNotification(
            'Error',
            'Server error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    getStudentsInTopics() {
      CommonUtil.addLoading();
      AdvirsorService.getStudentByTopicId(
        this.$route.params.id,
        res => {
          this.topic = res;
          this.items = this.topic.students;
          CommonUtil.removeLoading();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get student by topic id request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    postGradeStudent() {
      AdvirsorService.postGradeStudentByGradeId(
        this.studentGrade,
        res => {
          this.$refs.modalGrade.hide();
          CommonUtil.showNotification(
            'Success',
            'Update mark success',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
        },
        () => {
          CommonUtil.showNotification(
            'Error',
            'Update mark request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    saveMark() {
      let grades = [];
      this.topic.students.forEach(i => {
        grades.push(
          ...i.grades.map(grade => {
            return {
              gradeId: grade.gradeId,
              value: grade.value
            };
          })
        );
      });
      AdvirsorService.postGradeStudent(
        grades,
        res => {
          CommonUtil.showNotification(
            'Success',
            'Update mark success',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
        },
        () => {
          CommonUtil.showNotification(
            'Error',
            'Update student grade request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    }
  }
};
</script>

<style></style>
