<template>
  <b-row class="m-0">
    <b-col cols="12 p-0 m-0">
      <div class="page-title-container">
        <div class="card card-shadow d-inline-block">
          <font-awesome-icon icon="table" class="page-title-item" />
        </div>
        <div class="d-inline-block pl-2">
          <div class="page-title-description-header">
            Capstone Management
          </div>
          <div class="page-title-description-detail">
            Advisors can create, manage and save their topics.
          </div>
        </div>
        <b-button
          variant="primary"
          size="sm"
          class="float-right"
          title="Create topic"
          @click="redirectToCreatePage()"
        >
          <font-awesome-icon icon="plus" class="mr-2" />Create</b-button
        >
      </div>
      <div class="p-3">
        <div class="card card-shadow">
          <div class="card-sort-custom">
            <label>Sort by </label>
            <b-form-select
              class="b-form-select"
              v-model="selected"
              :options="sortOption"
              @change="getTopicData()"
            ></b-form-select>
            <b-form-select
              class="b-form-select"
              v-model="selectedNum"
              :options="sortNum"
              @change="getTopicData()"
            ></b-form-select>
            <b-col style="margin-top:10px" cols="6">
              <!-- search -->
              <div class="search-container">
                <b-input-group size="sm">
                  <b-form-input
                    v-model="filter"
                    type="search"
                    id="filterInput"
                    placeholder="Enter name topic"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button :disabled="!filter" @click="filter = ''"
                      >Clear</b-button
                    >
                  </b-input-group-append>
                </b-input-group>
              </div>
            </b-col>
          </div>
          <div class="card-body">
            <b-table
              show-empty
              id="topic-table"
              responsive="sm"
              :items="items"
              :fields="fields"
              :filter="filter"
              :current-page="tableOptions.currentPage"
              :per-page="0"
            >
              <!-- status column -->
              <template v-slot:cell(status)="row">
                <b-badge
                  pill
                  v-if="row.item.status === 1"
                  variant="secondary"
                  class="status-item"
                >
                  Draft</b-badge
                >
                <b-badge
                  pill
                  v-if="row.item.status === 2"
                  variant="warning"
                  class="status-item"
                >
                  Pending</b-badge
                >
                <b-badge
                  pill
                  v-if="row.item.status === 3"
                  variant="danger"
                  class="status-item"
                >
                  Duplicate Rejected</b-badge
                >
                <b-badge
                  pill
                  v-if="row.item.status === 4"
                  variant="success"
                  class="status-item"
                >
                  Duplicate Approved</b-badge
                >
                <b-badge
                  pill
                  v-if="row.item.status === 5"
                  variant="danger"
                  class="status-item"
                >
                  Validate Rejected</b-badge
                >
                <b-badge
                  pill
                  v-if="row.item.status === 6"
                  variant="success"
                  class="status-item"
                >
                  Validate Approved</b-badge
                >
                <b-badge
                  pill
                  v-if="row.item.status === 7"
                  variant="info"
                  class="status-item"
                >
                  Unpublic</b-badge
                >
                <b-badge
                  pill
                  v-if="row.item.status === 8"
                  variant="info"
                  class="status-item"
                >
                  Public</b-badge
                >
                <b-badge
                  pill
                  v-if="row.item.status === 9"
                  variant="info"
                  class="status-item"
                >
                  Taken</b-badge
                >
                <b-badge
                  pill
                  v-if="row.item.status === 10"
                  variant="success"
                  class="status-item"
                >
                  Pass</b-badge
                >
                <b-badge
                  pill
                  v-if="row.item.status === 11"
                  variant="danger"
                  class="status-item"
                >
                  Fail</b-badge
                >
                <b-badge
                  pill
                  v-if="row.item.status === 12"
                  variant="warning"
                  class="status-item"
                >
                  Validate Pending</b-badge
                >
                <b-badge
                  pill
                  v-if="row.item.status === 13"
                  variant="warning"
                  class="status-item"
                >
                  Publish Pending</b-badge
                >
                <b-badge
                  pill
                  v-if="row.item.status === 16"
                  variant="warning"
                  class="status-item"
                >
                  Rewrite</b-badge
                >
              </template>
              <!-- action column -->
              <template v-slot:cell(action)="row">
                <template
                  v-if="row.item.status === 1 || row.item.status === 16"
                >
                  <b-button
                    variant="primary"
                    size="sm"
                    title="View duplicate topics and Submit"
                    @click="redirectToViewDuplicateDetailPage(row.item.id)"
                  >
                    <font-awesome-icon icon="spell-check" />
                  </b-button>
                </template>
                <template
                  v-if="
                    row.item.status === 1 ||
                      row.item.status === 3 ||
                      row.item.status === 16
                  "
                >
                  <b-button
                    variant="primary"
                    size="sm"
                    title="Edit topic"
                    @click="redirectToCreatePage(row.item.id)"
                  >
                    <font-awesome-icon icon="pen" />
                  </b-button>
                </template>
                <template v-if="row.item.status !== 1">
                  <b-button
                    variant="outline-info"
                    size="sm"
                    title="View topic detail"
                    @click="redirectToViewDetailPage(row.item.id)"
                  >
                    <font-awesome-icon icon="external-link-alt" />
                  </b-button>
                </template>
                <template v-if="row.item.status === 3">
                  <b-button
                    variant="info"
                    size="sm"
                    title="View note"
                    @click="redirectToQuestionTablePage(row.item.id)"
                  >
                    <font-awesome-icon icon="sticky-note" />
                  </b-button>
                </template>
                <template v-if="row.item.status === 9">
                  <b-button
                    variant="outline-info"
                    size="sm"
                    title="Manager student's grade"
                    @click="showStudentsTopic(row.item.id)"
                  >
                    <font-awesome-icon icon="arrow-right" />
                  </b-button>
                </template>
                <template v-if="row.item.status === 16">
                  <b-button
                    variant="primary"
                    size="sm"
                    class="table-icon"
                    title="View committee's comments"
                    @click="redirectToQuestionTablePage(row.item.id)"
                  >
                    <font-awesome-icon icon="file-alt" />
                  </b-button>
                </template>
              </template>
            </b-table>
            <b-pagination
              v-model="tableOptions.currentPage"
              :total-rows="rows"
              :per-page="tableOptions.perPage"
              size="sm"
              aria-controls="topic-table"
              @input="getTopicData()"
            ></b-pagination>
          </div>
        </div>
      </div>
    </b-col>
    <note-modal ref="note-modal" />
  </b-row>
</template>

<script>
import moment from 'moment';
import UrlConstant from '../../common/constant/common-url';
import CommonConstant from '../../common/constant/common-constant';
import CommonUtil from '../../common/utils/common-util';
import NoteModal from './components/NoteModal';
import { TopicService } from '../../services/service-provider';

export default {
  components: {
    NoteModal
  },
  data() {
    return {
      fields: [
        {
          key: 'nameEng',
          label: 'English Name'
        },
        {
          key: 'createdDateFormated',
          label: 'Created Date'
        },
        {
          key: 'status',
          label: 'Status'
        },
        {
          key: 'action',
          label: 'Action'
        }
      ],
      items: [],
      filter: '',
      tableOptions: {
        totalRows: '',
        currentPage: 1,
        perPage: 10
      },
      selected: 'name_En',
      sortOption: [
        { value: 'name_En', text: 'English Name' },
        { value: 'createdDate', text: 'Created Date' },
        { value: 'status', text: 'Status' }
      ],
      selectedNum: 'true',
      sortNum: [
        { value: 'false', text: 'Descending' },
        { value: 'true', text: 'Ascending' }
      ],
      optionData: {
        nameSelect: '',
        sortSlect: '',
        pageIndex: '',
        pageSize: ''
      }
    };
  },
  computed: {
    rows() {
      return this.tableOptions.totalRows;
    }
  },
  mounted() {
    // Get topic data
    this.getTopicData();
  },
  methods: {
    onfiltered() {
      this.getTopicData();
    },
    // Show note modal
    showNoteModal(data) {
      this.$refs['note-modal'].init(data);
    },
    // Redirect to Create topic page
    redirectToCreatePage(id) {
      this.$router.push({
        path: UrlConstant.page.advisor.CREATE_TOPIC.replace(':id', id)
      });
    },
    // Redirect to View detail topic page
    redirectToViewDetailPage(id) {
      this.$router.push({
        path: UrlConstant.page.advisor.TOPIC_DETAIL.replace(':id', id)
      });
    },
    // Redirect to view duplicate topic detail page
    redirectToViewDuplicateDetailPage(id) {
      this.$router.push({
        path: UrlConstant.page.advisor.TOPIC_DUPLICATE_DETAIL.replace(':id', id)
      });
    },
    // Redirect to question table page
    redirectToQuestionTablePage(id) {
      this.$router.push({
        path: UrlConstant.page.advisor.QUESTION_TABLE.replace(':id', id)
      });
    },
    // Get topic data
    getTopicData() {
      this.items = [];
      CommonUtil.addLoading();
      const convertData = this.convertData();
      TopicService.getTopic(
        convertData,
        result => {
          CommonUtil.removeLoading();
          result.result.forEach(item => {
            this.items.push({
              id: item.id,
              nameEng: item.name_En,
              name_Vi: item.name_Vi,
              advisorName: item.advisorName,
              createdDateFormated: moment(item.createdDate).format(
                CommonConstant.DEFAULT_TIME_FORMAT
              ),
              note: item.note,
              status: item.status
            });
          });
          this.tableOptions.totalRows = result.totalItems;
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get topic request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // convert data
    convertData() {
      this.optionData.nameSelect = this.selected;
      this.optionData.sortSlect = this.selectedNum;
      this.optionData.pageIndex = this.tableOptions.currentPage;
      this.optionData.pageSize = this.tableOptions.perPage;
      return this.optionData;
    },
    // redirect Students in topic
    showStudentsTopic(topicId) {
      this.$router.push({
        path: UrlConstant.page.advisor.STUDENTS_IN_TOPIC.replace(':id', topicId)
      });
    }
  }
};
</script>
<style scoped>
.status-item {
  width: 125px;
}
.card-body button {
  width: 32px;
  height: 32px;
}
.b-form-select {
  width: 150px;
  height: 35px;
  margin-left: 50px;
  margin-right: 50px;
}
.card-sort-custom {
  margin-left: 40px;
  margin-top: 20px;
}
.search-container .input-group,
.search-container input {
  height: 38px;
}
#my_file_input {
  border: 1px solid #ced4da;
  padding: 2px;
}
</style>
