<template>
  <div>
    <b-row class="m-0">
      <template v-if="optionsData.duplicatedTopics.length > 0">
        <b-col cols="6" class="mt-2">
          <div class="card card-shadow">
            <div class="card-header custom">
              TOPIC MIGHT BE DUPLICATED
              <b-badge variant="danger" class="status-item">
                {{ optionsData.duplicatedTopics.length }}</b-badge
              >
            </div>
            <div>
              <!-- Duplicated topic -->
              <b-row class="p-2">
                <b-col cols="12">
                  <multiselect
                    class="w-100 mb-3"
                    v-model="formData.duplicatedTopics"
                    placeholder="Search a duplicated topic"
                    label="text"
                    track-by="value"
                    :options="optionsData.duplicatedTopics"
                    :multiple="false"
                    :hide-selected="true"
                    @input="duplicatedTopicDisplay($event)"
                  />
                </b-col>
              </b-row>
            </div>
            <div>
              <duplicate-topic-detail
                ref="duplicated-topic-detail"
                :duplicateTopic.sync="duplicatedTopicDisplayData"
                @color-duplicate-word="colorDuplicatedWord"
              />
            </div>
          </div>
        </b-col>
      </template>
      <b-col
        :cols="optionsData.duplicatedTopics.length === 0 ? 12 : 6"
        class="mt-2"
      >
        <div class="card card-shadow">
          <div class="card-header custom">TOPIC TARGET</div>
          <div class="topic-detail-container">
            <div
              class="header-container"
              @click="isShowTargetTopic = !isShowTargetTopic"
            >
              <div class="header text-center p-3 mb-2">
                {{ detailData.name_En }}
              </div>
            </div>
            <div class="body-container p-3" v-show="isShowTargetTopic">
              <div class="body p-3">
                <b-row class="group-first-info">
                  <b-col cols="6 mb-2">
                    <div class="detail-label d-inline-block">
                      Profession:
                    </div>
                    <div class="detail-info d-inline-block">
                      {{ detailData.program.shortName }}
                    </div>
                  </b-col>
                  <b-col cols="6 mb-2">
                    <div class="detail-label d-inline-block">
                      Specialty:
                    </div>
                    <div class="detail-info d-inline-block">
                      {{ detailData.program.name }}
                    </div>
                  </b-col>
                  <b-col cols="12 mb-2">
                    <div class="detail-label d-inline-block">
                      Kind of person make registers:
                    </div>
                    <div class="detail-info d-inline-block">
                      {{ detailData.advisor.fullName }}
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <topic-detail-display-info ref="topic-detail-content" />
                </b-row>
                <b-row>
                  <topic-detail-display-info ref="topic-detail-comment" />
                </b-row>
              </div>
            </div>
          </div>
          <b-row>
            <b-col cols="12" class="p-3">
              <template v-if="detailData.status === 1">
                <b-button
                  variant="primary"
                  size="md"
                  class="float-right mr-3"
                  title="Submit topic"
                  @click="submitForm(2)"
                  >Send to Department Head
                </b-button>
              </template>
              <template v-if="detailData.status === 16">
                <b-button
                  variant="primary"
                  size="md"
                  class="float-right mr-3"
                  title="Submit topic"
                  @click="submitForm(2)"
                  >Send to department head
                </b-button>
              </template>
              <template v-if="detailData.status === 16 || 1">
                <b-button
                  variant="primary"
                  size="md"
                  class="float-right mr-3"
                  title="Edit topic"
                  @click="redirectToCreatePage"
                >
                Edit Topic
                </b-button>
              </template>
            </b-col>
          </b-row>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import TableSuperVisorDetail from './components/topic-duplicate-review/TableSupervisorDetail';
import TopicDetailDisplayInfo from './components/topic-duplicate-review/TopicDetailDisplayInfo';
import DuplicateTopicDetail from './components/topic-duplicate-review/DuplicateTopicDetail';
import UrlConstant from '../../common/constant/common-url';
import CommonConstant from '../../common/constant/common-constant';
import CommonUtil from '../../common/utils/common-util';
import { TopicService, DHService } from '../../services/service-provider';

export default {
  components: {
    Multiselect,
    tableSuperDetail: TableSuperVisorDetail,
    topicDetailDisplayInfo: TopicDetailDisplayInfo,
    duplicateTopicDetail: DuplicateTopicDetail
  },
  data() {
    return {
      detailData: {
        name_En: '',
        program: {
          name: '',
          shortName: ''
        },
        advisor: {
          fullName: ''
        }
      },
      formData: {
        duplicatedTopics: {}
      },
      optionsData: {
        duplicatedTopics: []
      },
      duplicatedTopicDisplayData: {},
      coloredData: {},
      isCollapseTopics: false,
      duplicatedTopics: [],
      isShowTargetTopic: true,
      isShowDupTopic: false
    };
  },
  mounted() {
    this.getDetailData();
    this.getTopicReviewById();
  },
  computed: {
    collapsDuplicatedTopics() {
      return this.duplicatedTopics.slice(0, 3);
    }
  },
  methods: {
    duplicatedTopicDisplay(data) {
      this.duplicatedTopicDisplayData = this.duplicatedTopics.filter(
        item => item.id === data.value
      )[0];
      if (!this.duplicatedTopicDisplayData) return;
      setTimeout(() => {
        this.$refs['duplicated-topic-detail'].init(
          this.duplicatedTopicDisplayData
        );
      });
    },
    // Redirect to topic management page when success
    redirectToTopicMngPage() {
      this.$router.push({
        path: UrlConstant.page.advisor.TOPIC_MNG
      });
    },
    // Redirect to Create topic page
    redirectToCreatePage() {
      const id = this.$route.params.id;
      this.$router.push({
        path: UrlConstant.page.advisor.CREATE_TOPIC.replace(':id', id)
      });
    },
    initSuperTableColored(data) {
      this.$refs['table-super-colored'].init({
        advisor: data.advisor,
        subAdvisors: data.subAdvisors
      });
    },
    // Init topic detail
    initTopicDetail(data) {
      this.$refs['topic-detail-content'].clear();
      this.$refs['topic-detail-content'].init(
        data,
        'Register content of Capstone Project',
        'Capstone Project name',
        [
          'abstractionHtml',
          'theoryHtml',
          'mainFunctionHtml',
          'otherProductsHtml'
        ]
      );
      this.$refs['topic-detail-comment'].clear();
      this.$refs['topic-detail-comment'].init(data, 'Other comment', '', [
        'otherCommentsHtml'
      ]);
    },
    initTopicDetailColored(data) {
      this.$refs['topic-detail-content-colored'].clear();
      this.$refs['topic-detail-content-colored'].init(
        data,
        'Register content of Capstone Project',
        'Capstone Project name',
        [
          'abstractionHtml',
          'theoryHtml',
          'mainFunctionHtml',
          'otherProductsHtml'
        ]
      );
      this.$refs['topic-detail-comment-colored'].clear();
      this.$refs['topic-detail-comment-colored'].init(
        data,
        'Other comment',
        '',
        ['otherCommentsHtml']
      );
    },
    getDetailData() {
      CommonUtil.addLoading();
      const topicId = this.$route.params.id;
      TopicService.getTopicById(
        topicId,
        result => {
          this.detailData = result;
          this.initTopicDetail(result);
          CommonUtil.removeLoading();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Get topic by id request error!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    },
    // Get Topic review by id
    getTopicReviewById() {
      CommonUtil.addLoading();
      DHService.getTopicReviewById(
        this.$route.params.id,
        res => {
          this.duplicatedTopics = res.duplicatedTopics;
          const tmp = CommonUtil.convertToSelectBoxData(
            res.duplicatedTopics,
            'name_En'
          );
          this.optionsData.duplicatedTopics = tmp;
          // Selected first index
          this.formData.duplicatedTopics = tmp[0];
          this.duplicatedTopicDisplay(tmp[0]);
          CommonUtil.removeLoading();
        },
        () => {
          CommonUtil.removeLoading();
        }
      );
    },
    colorDuplicatedWord(duplicateWords, isShowDupTopic) {
      this.isShowDupTopic = isShowDupTopic;
      if (isShowDupTopic) {
        this.coloredData = Object.assign({}, this.detailData);
        let abstractionArr = this.detailData.abstraction.split('.');
        abstractionArr.forEach(s => {
          s = s.trim();
          let count = 0;
          for (
            let i = 0;
            i < this.duplicatedTopicDisplayData.duplicateWords.length;
            i++
          ) {
            if (
              s
                .toLowerCase()
                .includes(
                  this.duplicatedTopicDisplayData.duplicateWords[i].toLowerCase()
                )
            ) {
              count++;
            }
            if (count === 2) {
              this.detailData.abstractionHtml = this.detailData.abstractionHtml.replace(
                s,
                ` <span class="span-text">${s}</span> `
              );
              break;
            }
          }
        });
        let mainFunctionArr = this.detailData.mainFunction.split('.');
        mainFunctionArr.forEach(s => {
          s = s.trim();
          let count = 0;
          for (
            let i = 0;
            i < this.duplicatedTopicDisplayData.duplicateWords.length;
            i++
          ) {
            if (
              s
                .toLowerCase()
                .includes(
                  this.duplicatedTopicDisplayData.duplicateWords[i].toLowerCase()
                )
            ) {
              count++;
            }
            if (count === 2) {
              console.log('s: ' + s);
              console.log(this.coloredData.mainFunctionHtml);
              this.detailData.mainFunctionHtml = this.detailData.mainFunctionHtml.replace(
                s,
                `<span class="span-text">${s}</span>`
              );
              console.log(this.detailData.mainFunctionHtml);
              break;
            }
          }
        });
        let otherCommentsArr = this.detailData.otherComments.split('.');
        otherCommentsArr.forEach(s => {
          s = s.trim();
          let count = 0;
          for (
            let i = 0;
            i < this.duplicatedTopicDisplayData.duplicateWords.length;
            i++
          ) {
            if (
              s
                .toLowerCase()
                .includes(
                  this.duplicatedTopicDisplayData.duplicateWords[i].toLowerCase()
                )
            ) {
              count++;
            }
            if (count === 2) {
              this.detailData.otherCommentsHtml = this.detailData.otherCommentsHtml.replace(
                s,
                ` <span class="span-text">${s}</span> `
              );
              break;
            }
          }
        });
        let theoryArr = this.detailData.theory.split('.');
        theoryArr.forEach(s => {
          s = s.trim();
          let count = 0;
          for (
            let i = 0;
            i < this.duplicatedTopicDisplayData.duplicateWords.length;
            i++
          ) {
            if (
              s
                .toLowerCase()
                .includes(
                  this.duplicatedTopicDisplayData.duplicateWords[i].toLowerCase()
                )
            ) {
              count++;
            }
            if (count === 2) {
              this.detailData.theoryHtml = this.detailData.theoryHtml.replace(
                s,
                ` <span class="span-text">${s}</span> `
              );
              break;
            }
          }
        });
        this.initTopicDetail(this.detailData);
      } else {
        this.initTopicDetail(this.detailData);
      }
    },
    submitForm(status) {
      CommonUtil.addLoading();
      TopicService.updateTopic(
        {
          abstraction: this.detailData.abstractionHtml,
          advisorId: this.detailData.advisor.id,
          id: this.detailData.id,
          mainFunction: this.detailData.mainFunctionHtml,
          nameEnglish: this.detailData.name_En,
          nameVietnamese: this.detailData.name_Vi,
          otherComments: this.detailData.otherCommentsHtml,
          otherProducts: this.detailData.otherProductsHtml,
          programId: this.detailData.program.id,
          shortName: this.detailData.shortName,
          status: status,
          subAdvisors: this.detailData.subAdvisors,
          supervisor: '',
          techniques: this.detailData.techniques,
          theory: this.detailData.theoryHtml
        },
        result => {
          CommonUtil.showNotification(
            'Success',
            'Submit topic successfull!',
            CommonConstant.NOTI_TYPE.SUCCESS
          );
          CommonUtil.removeLoading();
          this.redirectToTopicMngPage();
        },
        () => {
          CommonUtil.removeLoading();
          CommonUtil.showNotification(
            'Error',
            'Update fail!',
            CommonConstant.NOTI_TYPE.ERROR
          );
        }
      );
    }
  }
};
</script>

<style scoped></style>
