<template>
  <div class="text-center">
    <div class="search-no-result">
      <div class="underground-text">oops</div>
      <div class="background-text">
        <div class="d-inline-block">
          <font-awesome-icon icon="search" class="search-icon" />
        </div>
        <div class="d-inline-block">
          <div class="search-no-result-title">NOTHING WAS FOUND</div>
          <div>Perhaps searching, or one of the links below, can help</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.search-no-result {
  padding: 30vh 0px;
  z-index: 10;
}
.search-no-result .background-text {
  position: relative;
}
.search-no-result .underground-text {
  position: absolute;
  color: #f2f2f2;
  font-size: 15rem;
  z-index: 0;
  top: 10vh;
  right: 0;
  bottom: 0;
  left: 0;
  letter-spacing: 20px;
}
.search-no-result .search-icon {
  font-size: 6rem;
  color: #84ba3f;
  margin-right: 30px;
}
.search-no-result .search-no-result-title {
  font-size: 3rem;
  color: #84ba3f;
  font-weight: 600;
}
</style>
