<template>
  <div class="notification-container">
    <div class="notification-header">Notification</div>
    <div class="notification-body">
      <div v-for="(item, index) in messages" :key="index">
        <div
          class="notification-item"
          :class="item.isReading === false ? 'active' : ''"
          @click="clickEvent(item.id, item)"
        >
          <!-- Advisor submit topic notification -->
          <template v-if="item.status === 1">
            <strong>{{ item.userName }}</strong>
            send topic
            <strong>{{ item.topicName }}</strong>
            <div>
              <font-awesome-icon
                icon="arrow-alt-circle-down"
                class="mr-3 text-primary"
              />{{ item.timeDisplay }}
            </div>
          </template>
          <!-- Department head receive topic from advisor -->
          <template v-if="item.status === 2">
            <div>
              You have new request check validate by
              <strong>{{ item.userName }}</strong
              >.
            </div>

            <div>
              <font-awesome-icon icon="bell" class="mr-3 text-primary" />{{
                item.timeDisplay
              }}
            </div>
          </template>
          <!-- Advisor receive reject topic from department head -->
          <template v-if="item.status === 3">
            <div>
              Your topic <strong>{{ item.topicName }}</strong> was rejected by
              <strong>{{ item.userName }}</strong
              >.
            </div>
            <div>
              <font-awesome-icon
                icon="times-circle"
                class="mr-3 text-danger"
              />{{ item.timeDisplay }}
            </div>
          </template>
          <!-- [Department head] receive notification when topic deadline is over-->
          <template v-if="item.status === 4">
            <div>
              Committee checking deadline is over. Please verify their topics.
            </div>
            <div>
              <font-awesome-icon icon="stopwatch" class="mr-3 text-danger" />{{
                item.timeDisplay
              }}
            </div>
          </template>
          <!-- [Trainning staff] receive notification when receive topic-->
          <template v-if="item.status === 5">
            <div>
              <strong>{{ item.userName }}</strong> sent
              {{ item.count }} topic(s).
            </div>
            <div>
              <font-awesome-icon icon="copy" class="mr-3 text-info" />{{
                item.timeDisplay
              }}
            </div>
          </template>
          <!-- [Advisor] receive notification when topic duplicate -->
          <template v-if="item.status === 6">
            <div>
              <strong>{{ item.topicName }}</strong> maybe duplicated with
              <strong>{{ item.count }}</strong> topic(s).
            </div>
            <div>
              <font-awesome-icon icon="clone" class="mr-3 text-warning" />{{
                item.timeDisplay
              }}
            </div>
          </template>
          <!-- [Student] receive notification to pick topic -->
          <template v-if="item.status === 7">
            <div>
              You have new schedule to pick topic at
              <strong>{{ item.enrollTime }}</strong
              >.
            </div>
            <div>
              <font-awesome-icon icon="user-clock" class="mr-3 text-info" />{{
                item.timeDisplay
              }}
            </div>
          </template>
          <!-- [Advisor] receive notification from department head -->
          <template v-if="item.status === 8">
            <div>
              Request set weight point for students from
              <strong>{{ item.userName }}</strong
              >.
            </div>
            <div>
              <font-awesome-icon icon="file-invoice" class="mr-3 text-info" />{{
                item.timeDisplay
              }}
            </div>
          </template>
          <!-- [Department head] deadline to set weight point is over -->
          <template v-if="item.status === 9">
            <div>
              Advisor set weight point deadline is over. Please verify.
            </div>
            <div>
              <font-awesome-icon icon="stopwatch" class="mr-3 text-danger" />{{
                item.timeDisplay
              }}
            </div>
          </template>
          <!-- [Trainning staff] receive notification when DH send students -->
          <template v-if="item.status === 10">
            <div>
              <strong>{{ item.userName }}</strong> sent
              {{ item.count }} group(s).
            </div>
            <div>
              <font-awesome-icon icon="users" class="mr-3 text-info" />{{
                item.timeDisplay
              }}
            </div>
          </template>
          <!-- [Department Head] receive notification when TS send students -->
          <template v-if="item.status === 11">
            <div>
              <strong>Training staff</strong> sent {{ item.count }} student(s)
              for grouping.
            </div>
            <div>
              <font-awesome-icon icon="users" class="mr-3 text-info" />{{
                item.timeDisplay
              }}
            </div>
          </template>
          <!-- [Student] Students receive notification when they was grouped-->
          <template v-if="item.status === 12">
            <div><strong>You</strong> are in group.</div>
            <div>
              <font-awesome-icon icon="users" class="mr-3 text-info" />{{
                item.timeDisplay
              }}
            </div>
          </template>
          <!-- [Advisor] -->
          <template v-if="item.status === 13">
            <div>
              <strong>{{ item.topicName }}</strong> has been picked.
            </div>
            <div>
              <font-awesome-icon
                icon="clipboard-check"
                class="mr-3 text-success"
              />{{ item.timeDisplay }}
            </div>
          </template>
          <!-- [Advisor] Receive rewrite topic message from Department head-->
          <template v-if="item.status === 14">
            <div>
              <strong>{{ item.userName }}</strong> send rewrite request of topic
              <strong>{{ item.topicName }}</strong
              >.
            </div>
            <div>
              <font-awesome-icon icon="pen" class="mr-3 text-warning" />{{
                item.timeDisplay
              }}
            </div>
          </template>
        </div>
      </div>
      <template v-if="messages.length === 0">
        <div>
          <div class="empty-noti-logo-container p-3">
            <img src="../../assets/no-noti.svg" class="empty-noti-logo" />
          </div>
          <div class="empty-noti-detail">
            No notification
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: ['messages'],
  data() {
    return {};
  },
  methods: {
    clickEvent(id, item) {
      delete item['id'];
      this.$emit('click', { id: id, data: item });
    }
  }
};
</script>

<style scoped>
.notification-container {
  position: absolute;
  color: black;
  width: 350px;
  top: 48px;
  right: -60px;
  font-size: 0.9rem;
  z-index: 1000;
  background: #fff;
  border: 1px solid rgba(100, 100, 100, 0.4);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
.notification-container > .notification-header {
  padding: 8px 12px 6px;
  font-weight: 600;
  background-color: #fff;
  border-bottom: solid 1px #dddfe2;
}
.notification-container .notification-item {
  padding: 8px 12px 6px;
  border-bottom: 1px solid #dddfe2;
}
.notification-container .notification-item:hover {
  cursor: pointer;
}
.notification-container .notification-item.active {
  background-color: #edf2fa;
}
.notification-container .empty-noti-logo-container {
  text-align: center;
}
.notification-container .empty-noti-logo-container .empty-noti-logo {
  width: 65px;
}
.notification-container .notification-body {
  overflow-y: auto;
  max-height: 50vh;
}
.notification-container .empty-noti-detail {
  font-weight: 600;
  color: #c3c3c3;
  font-size: 1.1rem;
  text-align: center;
}
</style>
