<template>
  <div class="sidebar-container">
    <div class="logo-container">
      <img :src="logoImg" class="w-100" height="56px" />
    </div>
    <div v-for="(item, index) in displayHeader" :key="index" class="p-1">
      <div class="item-header">{{ item.header }}</div>
      <div class="item-body w-100">
        <div v-for="(bodyItem, bodyIndex) in item.body" :key="bodyIndex">
          <div
            class="item"
            :class="bodyItem.isActive ? 'active' : ''"
            @click="redirectToPage(bodyItem.url)"
          >
            <div>{{ bodyItem.name }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import UrlConstant from '../constant/common-url';
export default {
  data() {
    return {
      logoImg: require('../../assets/logo.jpg'),
      currentPath: '',
      sidebarData: [
        {
          header: 'Student',
          role: 0,
          subRole: [],
          body: [
            {
              name: 'Dashboard',
              url: UrlConstant.page.student.ST_DASHBOARD,
              isActive: false
            },
            {
              name: 'Listing Topic',
              url: UrlConstant.page.student.ST_LIST_TOPIC,
              isActive: false
            },
            {
              name: 'Topic in progress',
              url: UrlConstant.page.student.ST_TOPIC_IN_PROGRESS,
              isActive: false
            }
            // {
            //   name: 'List Student in group',
            //   url: UrlConstant.page.student.ST_LIST_STUDENT_IN_GROUP,
            //   isActive: false
            // }
          ]
        },
        {
          header: 'Training Staff',
          role: 1,
          subRole: [],
          body: [
            {
              name: 'Listing Topic',
              url: UrlConstant.page.trainningStaff.TS_PUBLISHED_TOPIC,
              isActive: false
            },
            {
              name: 'Import Student',
              url: UrlConstant.page.trainningStaff.TS_IMPORT_STUDENT,
              isActive: false
            },
            {
              name: 'Groups Detail',
              url: UrlConstant.page.trainningStaff.TS_GROUP_TOPIC,
              isActive: false
            },
            {
              name: 'Teams Management',
              url: UrlConstant.page.trainningStaff.TS_SCHEDULE_GROUP,
              isActive: false
            },
            {
              name: 'Announcement',
              url: UrlConstant.page.trainningStaff.TS_ANNOUNCEMENT,
              isActive: false
            }
          ]
        },
        {
          header: 'Advisor',
          role: 2,
          subRole: [3, 4, 5],
          body: [
            {
              name: 'Topic Management',
              url: UrlConstant.page.advisor.TOPIC_MNG,
              isActive: false
            },
            {
              name: 'Search Topic',
              url: UrlConstant.page.advisor.SEARCH_TOPIC,
              isActive: false
            },
            {
              name: 'Evaluate Student',
              url: UrlConstant.page.advisor.EVALUATE_STUDENT,
              isActive: false
            }
          ]
        },
        {
          header: 'Committee',
          role: 3,
          subRole: [5],
          body: [
            {
              name: 'Approval Topic',
              url: UrlConstant.page.committe.CM_GETLIST_TOPIC,
              isActive: false
            }
          ]
        },
        {
          header: 'Department Head',
          role: 4,
          subRole: [5],
          body: [
            // {
            //   name: 'Delete Student',
            //   url: UrlConstant.page.departmentHead.DH_DELETE_GROUPSTUDENT,
            //   isActive: false
            // },
            // {
            //   name: 'Send Topic',
            //   url: UrlConstant.page.departmentHead.DH_SEND_TOPIC,
            //   isActive: false
            // },
            {
              name: 'Duplicated Topic',
              url: UrlConstant.page.departmentHead.DH_MNG_TOPIC,
              isActive: false
            },
            {
              name: 'Evaluate Topic',
              url: UrlConstant.page.departmentHead.DH_VALIDATE_TOPIC,
              isActive: false
            },
            {
              name: 'Approved Topic',
              url: UrlConstant.page.departmentHead.DH_APPROVED_TOPIC,
              isActive: false
            },
            {
              name: 'Storage Topic',
              url: UrlConstant.page.departmentHead.DH_STORE_TOPIC,
              isActive: false
            },
            // {
            //   name: 'Extension of project approval',
            //   url: UrlConstant.page.departmentHead.DH_SCHEDULE,
            //   isActive: false
            // },
            {
              name: 'Evaluate Student',
              url: UrlConstant.page.departmentHead.DH_AD_STU_MNG,
              isActive: false
            },
            {
              name: 'Student Weight',
              url: UrlConstant.page.departmentHead.DH_WEIGHT_MNG,
              isActive: false
            },
            // {
            //   name: 'List Student',
            //   url: UrlConstant.page.departmentHead.DH_GET_STUDENT,
            //   isActive: false
            // },
            {
              name: 'Classified student',
              url: UrlConstant.page.departmentHead.DH_CLASS_STU,
              isActive: false
            }
          ]
        }
      ],
      displayHeader: []
    };
  },
  computed: {
    ...mapGetters({
      decodeToken: 'decodeToken'
    })
  },
  watch: {
    decodeToken() {
      this.init();
    },
    $route(to, from) {
      // react to route changes...
      this.currentPath = to.path;
      this.calculateActiveHeader();
      this.checkFobidden();
    }
  },
  mounted() {
    this.checkFobidden();
    this.init();
  },
  methods: {
    // Init header for first load
    init() {
      this.currentPath = this.$route.path;
      this.calculateDisplayHeader();
      this.calculateActiveHeader();
    },
    // Calculate display data header
    calculateDisplayHeader() {
      this.displayHeader = this.sidebarData.filter(
        item =>
          item.role === parseInt(this.decodeToken.role) ||
          item.subRole.includes(parseInt(this.decodeToken.role))
      );
    },
    // Check fobidden user
    checkFobidden() {
      const pathName = window.location.pathname;
      const isErrorPath = pathName.includes('/error/');
      const isCommonPath = pathName.includes('/dashboard');
      const isStudent = pathName.includes('/student/');
      const isTrainningStaff = pathName.includes('/ts/');
      const isAdvisor = pathName.includes('as');
      const isCommittee = pathName.includes('ct');
      const isDepartmentHead = pathName.includes('dh');
      let role = -1;

      try {
        role = parseInt(this.decodeToken.role);
      } catch (err) {
        this.redirectToErrorPage(401);
      }

      switch (role) {
        case 0: // Student
          if (isErrorPath || (!isStudent && !isCommonPath)) {
            this.redirectToErrorPage(403);
          }
          break;
        case 1: // Trainning staff
          if (isErrorPath || (!isTrainningStaff && !isCommonPath)) {
            this.redirectToErrorPage(403);
          }
          break;
        case 2: // Advisor
          if (isErrorPath || (!isAdvisor && !isCommonPath)) {
            this.redirectToErrorPage(403);
          }
          break;
        case 3: // Committee
          if (isErrorPath || (!isCommittee && !isAdvisor && !isCommonPath)) {
            this.redirectToErrorPage(403);
          }
          break;
        case 4: // Department head
          if (
            isErrorPath ||
            (!isDepartmentHead && !isAdvisor && !isCommonPath)
          ) {
            this.redirectToErrorPage(403);
          }
          break;
        case 5: // Committee - Department head
          if (
            isErrorPath ||
            (!isDepartmentHead && !isAdvisor && !isCommittee && !isCommonPath)
          ) {
            this.redirectToErrorPage(403);
          }
          break;
        case 6: // Unknown user
          if (isErrorPath || !isCommonPath) {
            this.redirectToErrorPage(401);
          }
          break;
        default:
          this.redirectToErrorPage(401);
      }
    },
    // Calculate current active header
    calculateActiveHeader() {
      this.sidebarData.forEach(mainItem => {
        mainItem.body.forEach(item => {
          if (item.url === this.currentPath) {
            item.isActive = true;
          } else {
            item.isActive = false;
          }
        });
      });
    },
    // Redirect to View detail topic page
    redirectToErrorPage(errorCode) {
      this.$router.push({
        path: UrlConstant.page.error.ERROR.replace(':id', errorCode)
      });
    },
    // Redirect to another page
    redirectToPage(url) {
      this.$router.push({
        path: url
      });
    }
  }
};
</script>

<style scoped>
.sidebar-container {
  min-width: 156px;
}
.sidebar-container .item-header {
  text-transform: uppercase;
  font-size: 0.85455rem;
  margin: 0.75rem 0;
  font-weight: 700;
  color: #20897b;
  white-space: nowrap;
  position: relative;
}
.sidebar-container .item-body {
  content: '';
  opacity: 1;
  width: 100%;
  padding-left: 1rem;
  border-left: 3px solid #c0ddef;
  min-width: 145px;
}
.sidebar-container .item-body .item {
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.sidebar-container .item-body .item:hover {
  cursor: pointer;
}
.sidebar-container .item-body .item.active {
  background: #e0f3ff;
  color: #3f6ad8;
  font-weight: 600;
  border-radius: 4px;
}
.sidebar-container .item-body .item:hover {
  background: #e0f3ff;
  border-radius: 4px;
}
.sidebar-container .item-body .item:hover > a {
  color: #3f6ad8;
}
.sidebar-container .item-body .item > a {
  color: black;
  text-decoration: none;
}
.sidebar-container .item-body .item.active > a {
  color: #3f6ad8;
}
</style>
