<template>
  <div>
    <b-modal
      centered
      ref="warning-modal"
      :header-bg-variant="headerBgVariant"
      :header-text-variant="headerTextVariant"
      :title="title"
      hide-footer
    >
      <b-row>
        <b-col cols="3">
          <img src="@/assets/exclamation-mark.svg" />
        </b-col>
        <b-col cols="9">
          <div class="mb-3">
            <strong>{{ title }}</strong>
          </div>
          <div>{{ msg }}</div>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-button variant="primary" class="float-right" @click="okAction"
            >Ok
          </b-button>
        </b-col>
      </b-row>
    </b-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      headerBgVariant: 'info',
      headerTextVariant: 'light',
      title: '',
      msg: ''
    };
  },
  mounted() {},
  methods: {
    init(data) {
      this.title = data.title;
      this.msg = data.msg;
      this.showModal();
    },
    showModal() {
      this.$refs['warning-modal'].show();
    },
    hideModal() {
      this.$refs['warning-modal'].hide();
    },
    okAction() {
      this.$emit('ok', true);
    }
  }
};
</script>

<style scoped></style>
