<template>
  <div id="app">
    <loading />
    <notifications group="notification" position="top right" />
    <div v-if="userInfo && role != 6" id="app-container">
      <header-custom />
      <b-row class="p-0 m-0">
        <b-col cols="2" id="app-sidebar-root">
          <sidebar-custom id="app-sidebar-container" />
        </b-col>
        <b-col cols="10" class="p-0 m-0">
          <div id="app-body-container">
            <router-view />
          </div>
          <b-row class="p-0 m-0">
            <b-col cols="12" class="p-0 m-0">
              <footer-custom id="app-footer-container" />
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </div>
    <div v-else>
      <router-view />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import store from './store';
import Header from './common/components/Header';
import Sidebar from './common/components/Sidebar';
import Footer from './common/components/Footer';
import Loading from './common/components/Loading';
import UrlConstant from './common/constant/common-url';
import CommonConstant from './common/constant/common-constant';
import CommonUtil from './common/utils/common-util';

export default {
  components: {
    headerCustom: Header,
    sidebarCustom: Sidebar,
    footerCustom: Footer,
    loading: Loading
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      token: 'token',
      userInfo: 'userInfo',
      decodeToken: 'decodeToken'
    }),
    role() {
      return this.decodeToken.role;
    }
  },
  watch: {
    token(newVal) {
      // When token is expired => redirect to login page
      if (!newVal) {
        localStorage.removeItem('userInfo');
        this.redirectToLoginPage();
      }
    }
  },
  mounted() {
    setInterval(() => {
      this.checkExpireToken();
    }, CommonConstant.DEFAULT_CHECK_EXPIRE_TOKEN_INTERVAL);
    this.checkExpireToken();
  },
  methods: {
    // Check expire token
    checkExpireToken() {
      const accestoken = CommonUtil.getCookies('access_token');
      if (!accestoken) {
        store.dispatch('user/setToken', '');
        localStorage.removeItem('userInfo');
      }
    },
    // Redirect to login page
    redirectToLoginPage() {
      this.$router.replace(UrlConstant.page.user.LOGIN);
    }
  }
};
</script>

<style>
body {
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
#app-container {
  min-width: 1024px;
}
#app-body-container {
  padding-top: 57px;
  padding-bottom: 30px;
  height: 100vh;
  background: #fafbfc;
  overflow-y: auto;
}
#app-body-container > div {
  overflow: hidden;
  min-height: 87vh;
  padding-bottom: 30px;
}
#app-sidebar-root {
  min-height: 100vh;
  background: #fff;
  z-index: 11;
}
#app-footer-container {
  position: absolute;
  width: 100%;
  background: white;
  color: rgb(173, 173, 173);
  bottom: 0;
  z-index: 1000;
}
</style>
