<template>
  <div>
    <div v-for="(item, index) in range" :key="index" class="d-inline-block">
      <div>
        <template v-if="item <= calcValue">
          <img src="../../../../assets/star.svg" class="rate-icon" />
        </template>
        <template v-else>
          <img src="../../../../assets/star-empty.svg" class="rate-icon" />
        </template>
      </div>
    </div>
    <div class="d-inline-block ml-2 mb-2">Weight: {{ value }}</div>
  </div>
</template>

<script>
export default {
  props: {
    length: {
      type: Number,
      default: 4
    },
    value: {
      type: Number,
      default: 4
    },
    inverse: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      range: [],
      calcValue: 0
    };
  },
  mounted() {
    this.init();
    this.generateRangeData();
  },
  methods: {
    // Init data
    init() {
      if (this.inverse) {
        this.calcValue = this.length - this.value + 1;
      } else {
        this.calcValue = this.value;
      }
    },
    // Generate range data
    generateRangeData() {
      let range = 0;
      // Check
      if (this.length < 0) {
        range = 4;
      } else {
        range = this.length;
      }
      let count = 1;
      while (count <= range) {
        this.range.push(count);
        count += 1;
      }
    }
  }
};
</script>

<style scoped>
.rate-icon {
  width: 20px;
  height: 20px;
}
</style>
