<template>
  <div>
    <b-modal
      centered
      ref="schedule-modal"
      :header-bg-variant="headerBgVariant"
      :header-text-variant="headerTextVariant"
      hide-footer
      title="Advisor Reviews"
    >
      <div>
        <div
          v-for="(item, index) in rateData"
          :key="index"
          class="advisor-note-container"
        >
          <div>
            <div>
              <strong>{{ item.advisorName }}</strong>
              <rate :value="item.weight" />
            </div>
            <div>{{ item.note }}</div>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import moment from 'moment';
import CommonConstant from '../../../../common/constant/common-constant';
import Rate from '../weight-mng/Rate';

export default {
  components: {
    Rate
  },
  data() {
    return {
      headerBgVariant: 'info',
      headerTextVariant: 'light',
      formData: {
        oldTime: ''
      },
      datePickerOption: {
        format: CommonConstant.DEFAULT_TIME_RANGE_FORMAT
      },
      rateData: []
    };
  },
  computed: {
    oldTimeFormat() {
      return moment(this.formData.oldTime).format(
        CommonConstant.DEFAULT_TIME_RANGE_FORMAT
      );
    }
  },
  mounted() {},
  methods: {
    init(data) {
      this.rateData = [];
      // Check data
      if (data.reviews && data.reviews.length > 0) {
        data.reviews.forEach(item => {
          this.rateData.push({
            advisorName: item.advisorName,
            weight: item.weightPoint,
            note: item.note
          });
        });
      }
      this.showModal();
    },
    showModal() {
      this.$refs['schedule-modal'].show();
    },
    hideModal() {
      this.$refs['schedule-modal'].hide();
    }
  }
};
</script>
<style scoped>
.advisor-note-container {
  padding: 8px 10px;
  background-color: #f2f3f5;
  border-radius: 18px;
  margin-bottom: 15px;
}
</style>
<style>
#schedule-modal input {
  font-size: 1rem !important;
  font-weight: 400;
  height: 38px;
}
</style>
