<template>
  <div>
    <b-row class="m-0">
      <b-col cols="12">
        <forbidden v-if="errorCode === 403" />
        <unauthorize v-if="errorCode === 401" />
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Unauthorize from './components/401';
import Forbidden from './components/403';

export default {
  components: {
    Forbidden,
    Unauthorize
  },
  data() {
    return {
      errorCode: ''
    };
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      this.errorCode = parseInt(this.$route.params.id);
    }
  }
};
</script>

<style scoped></style>
