<template>
  <div>
    <b-modal
      centered
      ref="create-modal"
      :header-bg-variant="headerBgVariant"
      :header-text-variant="headerTextVariant"
      hide-footer
      title="Create Technique"
    >
      <label for="input-title">Name:</label>
      <b-form-input
        :state="errorData.nameErr ? false : null"
        id="input-title"
        v-model="formdata.name"
        placeholder="Enter technique"
        class="mb-3 none-outline"
        trim
      />
      <div class="error-message text-danger mb-3">
        {{ errorData.nameErr }}
      </div>
      <b-button variant="primary" class="float-right" @click="submitAction()"
        >Submit</b-button
      >
    </b-modal>
  </div>
</template>

<script>
import ValidateUtil from '../../../../common/utils/validate-util';
export default {
  data() {
    return {
      headerBgVariant: 'info',
      headerTextVariant: 'light',
      formdata: {
        name: ''
      },
      error: {
        isError: false
      },
      errorData: {
        nameErr: ''
      }
    };
  },
  methods: {
    init() {
      this.formdata.name = '';
      this.showModal();
    },
    showModal() {
      this.$refs['create-modal'].show();
    },
    hideModal() {
      this.$refs['create-modal'].hide();
    },
    submitAction() {
      this.validateForm();
      if (!this.error.isError) {
        this.$emit('submit', this.formdata.name);
      }
    },
    validateForm() {
      this.error.isError = false; // Default
      this.errorData.nameErr = ValidateUtil.handleError(
        this.error,
        'Technique Name',
        this.formdata.name,
        true,
        1,
        30
      );
    }
  }
};
</script>

<style scoped></style>
