<template>
  <b-col cols="3" lg="2" md="3" class="mb-3">
    <div class="card-tech-container">
      <div class="d-inline-block">{{ technique.name }}</div>
    </div>
  </b-col>
</template>

<script>
export default {
  props: ['technique']
};
</script>

<style scoped>
.card-tech-container {
  padding: 10px;
  background: #c3f3fd;
  border: 1px solid #57d4d4;
  border-radius: 4px;
}
</style>
